{% extends 'base.html' %}
{% set title = "Portuguese" %}

{% block logo_title %}
<a href="./index.html">Português</a>
{% endblock %}

{% block header_text %}
<a href="{{ 'index.html'|prefix }}">back to {{ sage }} main page</a>
{% endblock %}

{% block menu %}
<li id="intro"><a href="./index.html" title="">Index</a></li>
{% endblock %}


{% block content %}
<div class="narrow" style="margin-top: 2em;">

<h1>O que é {{ sage }}?</h1>

<p>{{ sage }} é um software matemático livre e de código aberto (open-source),
desenvolvido sob a licença GPL por uma comunidade de programadores e matemáticos, que busca
ser uma alternativa para os principais sistemas proprietários de software matemático como o
Magma, Maple, Mathematica e Matlab. Ele engloba e se utiliza de um grande número de pacotes
pré-existentes como Maxima, GAP, Pari/GP, softwares de renderização de imagens e muitos outros,
integrando-os em uma interface única que busca ser amigável e de fácil assimilação.
Todos os principais pacotes são instalados juntamente com o {{ sage }} e muitos outros pacotes existem
para extensões em áreas específicas. Por este motivo {{ sage }} é adequado para uso em ensino e pesquisa.
{{ sage }} pode ser utilizado por meio de comandos de linhas interativos ou de um Notebook, uma interface
acionada de dentro de um browser onde os passos são armazenados em páginas separadas por usuário.
Este Notebook pode estar conectado à instalação local do software ou remotamente por meio de rede
e internet e permite a criação de gráficos e expressões matemáticas bem renderizadas que podem ser
reutilizados, ampliados ou excluídos, e partilhados com outros usuários através da rede.</p>

<p>Uma das vantagens evidentes de se utilizar software livre é a garantia de que qualquer outro
pesquisador ou estudante que receba páginas de {{ sage }} será capaz de exibí-las e manipulá-las sem
a necessidade de aquisição de software proprietário. Além disto qualquer pessoa interessada poderá
investigar, e alterar se necessário, o código fonte, situação bem diversa do que ocorre com o software
proprietário onde o usuário desconhece os algoritmos usados pelo programa.</p>

<p>Visite a homepage de <a href="https://www.sagemath.org/">{{ sage }}</a> ou sua <a href="https://doc.sagemath.org">documentação completa,</a> em inglês.</p>
<p>Visite <a href="{{ docroot }}/html/pt/a_tour_of_sage/">uma turnê pelo {{ sage }}</a>, em português.</p>
<p>Um tutorial de <a href="http://www.estudos.de/matematica/Sage/Sage1.html">{{ sage }}</a>, em português.</p>
<ul>
    <li><a href="http://phylos.net/matematica/sage-math/">O que é {{ sage }}?</a></li>
    <li><a href="http://phylos.net/computacao/sage/sage-cap1/">{{ sage }}: Modo comando de linha</a></li>
    <li><a href="http://phylos.net/computacao/sage/sage-cap2/">{{ sage }}: scripts, testes e laços</a></li>
    <li><a href="http://phylos.net/computacao/sage/sage-cap3/">{{ sage }}: Interface Gráfica com o Usuário</a></li>
    <li><a href="http://phylos.net/computacao/sage/sage-cap4/">Expressões Simbólicas e Cálculo Básico</a></li>
    <li><a href="http://www.estudos.de/matematica/IndiceVC.php">Variáveis Complexas</a></li>
</ul>



</div>
{% endblock %}
