{% extends 'fr/_fr.html' %}
{% set title = 'Tracer des graphes de fonctions avec {{ sage }}' %}

{% block content %}
<h1 align="center">Tracer des graphes de fonctions avec {{ sage }}
</h1>
<h3 align="center" style="font-size: 0.6em">auteur : Philippe Saadé (2008), psaade@gmail.com
</h3>
<br><br>


<div class="bodypadding">
  Nous allons présenter l'utilisation de {{ sage }} pour la représentation graphique de fonctions d'une variable.
</div>
<br><br>



Plan :
<ul style="padding-left: 2em;">

<li>
<a href="#ah1">Un tracé sans option</a>
</li>

<li>
<a href="#ah2"></a>
<ul>
<li><a href="#a1">Choix de l'intervalle pour le tracé de la fonction</a>
</li>
<li><a href="#a2">Affichage des options propres à <span class="code">plot</span></a>
</li>
<li><a href="#a3">Réglage de l'épaisseur du trait lors du tracé</a>
</li>
<li><a href="#a4">Réglage de la couleur du trait lors du tracé</a>
</li>
<li><a href="#a5">Réglage de la transparence du trait lors du tracé</a>
</li>
<li><a href="#a6">Ajuster le nombre de point pour le tracé du graphe</a>
</li>


</ul>
</li>

<li>
<a href="#ah3">Options avancées contrôlant le tracé</a>
<ul>
<li><a href="#b1">Choix de la couleur par la désignation d'une teinte</a>
</li>
<li><a href="#b2">Choix d'un style de ligne</a>
</li>
<li><a href="#b3">Choix du type de marqueur de points</a>
</li>
<li><a href="#b4">Choix de la couleur pour les marqueurs de points</a>
</li>
<li><a href="#b5">Choix de la taille des marqueurs de points</a>
</li>
<li><a href="#b6">Choix de l'épaisseur du trait des marqueurs de points</a>
</li>

</ul>
</li>

</ul>



<br><br>




<a name="ah1"></a>
<h1>Un tracé sans option
</h1>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Voici un moyen direct de tracer une partie du graphe de la fonction exponentielle. On constate que l'intervalle par défaut utilisé pour le tracé est l'intervalle [-1,1].<br>
      On constate également la présence des axes et des marques sur les axes, qui se prolongent un peu en dehors de l'intervalle [-1,1], pour faciliter la lecture du graphique.


    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_0.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<div class="bodypadding">
  Nous allons voir dans ce tutoriel comment ajuster le tracé en fonction de nos besoins.
</div>



<a name="ah2"></a>
<h1>Options de bases
</h1>


<a name="a1"></a>
<h3>Choix de l'intervalle pour le tracé de la fonction
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp,(-2,3))</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      L'intervalle est fourni sous forme d'un couple :

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_31.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp,-2,3)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      ou bien en indiquant les bornes à la suite de la fonction.

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_1.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="a2"></a>
<h3>Affichage des options propres à <span class="code">plot</span>
</h3>


<table class="top">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot.options</strong>
</pre>
     <pre class="code-ans">   {'plot_points': 200, 'thickness': 1, 'pl
   ot_division': 1000, 'rgbcolor': (0, 0, 1
   ), 'max_bend': 0.10000000000000001, 'alp
   ha': 1}

</pre>
    </td>
    <td class="rightpadding">
     
      Il est facile d'obtenir la liste des options directement attachées à la commande <span class="code">plot</span> ainsi que leurs valeurs par défaut.<br>
      <em>Remarque</em> : beaucoup d'autres options existes pour contrôler le rendu graphique, comme nous allons le voir ici, mais elles ne sont pas directement attachées à la commande <span class="code">plot</span>. Celles-ci dépendent du type d'objet tracé.

    </td>
   </tr>


</tbody>
</table>


<a name="a3"></a>
<h3>Réglage de l'épaisseur du trait lors du tracé
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp,thickness=3.5)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     Il suffit d'utiliser l'option <span class="code">thickness</span> de la commande <span class="code">plot</span>.

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_4.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="a4"></a>
<h3>Réglage de la couleur du trait lors du tracé
</h3>




<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, rgbcolor='red')  # ou (1,0,0) 
   ou '#FF0000'</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     Il suffit d'utiliser l'option <span class="code">rbgcolor</span> de la commande <span class="code">plot</span>.<br />
Ici, il est possible de fournir la couleur par son nom (en anglais et entre '...'), par son code RGB (valeurs entre 0 et 1) ou bien par un code hexadécimal de type HTML. Les couleurs possibles sont : "red", "orange", "yellow", "green", "blue", "purple", "white", "black", "grey".

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_10.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="a5"></a>
<h3>Réglage de la transparence du trait lors du tracé
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp,alpha=0.5)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Il suffit d'utiliser l'option <span class="code">alpha</span> de la commande <span class="code">plot</span>. Il s'agit d'une valeur entre 0 et 1 : pour 1, le trait est pleinement opaque. Pour 0, il est invisible.      

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_17.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="a6"></a>
<h3>Ajuster le nombre de point pour le tracé du graphe
</h3>


<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp,plot_points=3,plot_division=4, 
   marker='+',markeredgecolor='red')</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Les options <span class="code">plot_points</span>, <span class="code">plot_division</span> et <span class="code">max_bend</span> permettent, respectivement, de choisir le nombre de points calculés initialement sur la courbe, le nombre maximal de points qui peuvent être ajouter par {{ sage }} pour lisser le tracé et d'imposer une contrainte plus ou moins forte à la qualité du rendu.<br>
      <em>Remarque</em> : dans une prochaine version de {{ sage }}, ces deux dernières options seront remplacées par les options <span class="code">adaptive_recursion</span> et <span class="code">adaptive_tolerance</span> qui reposeront sur un algorithme récursif plus efficace.<br >
      Dans notre exemple, les points ont été indiqués par une croix rouge.

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_5.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, plot_points=3, plot_division=4
   , max_bend=10, marker='+', markeredgecol
   or='red')</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Une grande tolérance sur le paramètre <span class="code">max_bend</span> fait en sorte que {{ sage }} ne rajoute aucun point pour affiner le tracé.

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_23.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="ah3"></a>
<h1>Options avancées contrôlant le tracé
</h1>

<div class="bodypadding">
  Nous allons présenter les options qui permettent de contrôler le type de trait produit et la nature des points.
</div>

<a name="b1"></a>
<h3>Choix de la couleur par la désignation d'une teinte
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, hue=0.3)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Au lieu d'utiliser l'option <span class="code">rgbcolor</span> de la commande <span class="code">plot</span>, il est possible de choisir une couleur par sa teinte (<em>hue</em> en anglais). L'arc en ciel des couleurs est parcouru de façon circulaire, de rouge à rouge, par un paramètre réel allant de 0 à 1.

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_9.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="b2"></a>
<h3>Choix d'un style de ligne
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, linestyle='-.')</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Par défaut, le tracé se fait à l'aide d'un trait continu. Il est possible de choisir d'autres type de traits en utilisant l'option <span class="code">linestyle</span>. Voici la liste complète des valeurs possibles ainsi que le résultat obtenu :


<table align="center" border="1px" cellpadding="5px" cellspacing="0">
  <tbody>
    <tr align="center" >
      <td>'--'</td>
      <td>pointillé</td>
    </tr>
    <tr align="center" >
      <td>'-.'</td>
      <td>mixte</td>
    </tr>
    <tr align="center" >
      <td>'-'</td>
      <td>continu</td>
    </tr>
    <tr align="center" >
      <td>'steps'</td>
      <td>en escalier</td>
    </tr>
    <tr align="center" >
      <td>':'</td>
      <td>filet de points</td>
    </tr>
  </tbody>
</table>

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_11.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="b3"></a>
<h3>Choix du type de marqueur de points
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, marker='>', plot_points=10, ma
   x_bend=10)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      Le tracé du graphe de la fonction se fait à partir d'une liste de points répartis sur l'intervalle parcouru par la variable. Même si ces points ont tendance à disparaître sous la ligne continue de segments qui les relie, il n'en est pas moins possible de les utiliser et, en particulier de les afficher en choisissant un marqueur.<br>
      Pour ce faire, on utilise l'option <span class="code">marker</span>. La valeur que peut prendre cette option est à prendre parmi la liste suivante :

<table align="center" border="1px" cellpadding="5px" cellspacing="0">
  <tbody>
    <tr>
      <td>'0'</td>
      <td>tickleft</td>
    </tr>
    <tr>
      <td>'1'</td>
      <td>tickright</td>
    </tr>
    <tr>
      <td>'2'</td>
      <td>tickup</td>
    </tr>
    <tr>

      <td>'3'</td>
      <td>tickdown</td>
    </tr>
    <tr>
      <td>''</td>
      <td>nothing</td>
    </tr>
    <tr>
      <td>' '</td>
      <td>nothing</td>
    </tr>
    <tr>
      <td>'+'</td>
      <td>plus</td>

    </tr>
    <tr>
      <td>','</td>
      <td>pixel</td>
    </tr>
    <tr>
      <td>'.'</td>
      <td>point</td>
    </tr>
    <tr>
      <td>'1'</td>
      <td>tri_down</td>
    </tr>
    <tr>

      <td>'3'</td>
      <td>tri_left</td>
    </tr>
    <tr>
      <td>'2'</td>
      <td>tri_up</td>
    </tr>
    <tr>
      <td>'4'</td>
      <td>tri_right</td>
    </tr>
    <tr>
      <td>'<'</td>
      <td>triangle_left</td>
    </tr>
    <tr>
      <td>'>'</td>
      <td>triangle_right</td>
    </tr>
    <tr>
      <td>'None'</td>
      <td>nothing</td>
    </tr>
    <tr>
      <td>'D'</td>
      <td>diamond</td>
    </tr>
    <tr>
      <td>'H'</td>

      <td>hexagon2</td>
    </tr>
    <tr>
      <td>'_'</td>
      <td>hline</td>
    </tr>
    <tr>
      <td>'^'</td>
      <td>triangle_up</td>
    </tr>
    <tr>

      <td>'d'</td>
      <td>thin_diamond</td>
    </tr>
    <tr>
      <td>'h'</td>
      <td>hexagon1</td>
    </tr>
    <tr>
      <td>'o'</td>
      <td>circle</td>
    </tr>
    <tr>
      <td>'p'</td>
      <td>pentagon</td>
    </tr>
    <tr>
      <td>'s'</td>
      <td>square</td>
    </tr>
    <tr>
      <td>'v'</td>
      <td>triangle_down</td>
    </tr>
    <tr>
      <td>'x'</td>
      <td>x</td>
    </tr>
    <tr>
      <td>'|'</td>
      <td>vline</td>
    </tr>
  </tbody>
</table>

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_12.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="b4"></a>
<h3>Choix de la couleur pour les marqueurs de points
</h3>

<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, marker='o', markeredgecolor='b
   lack', plot_points=10, max_bend=10, rgbc
   olor="yellow")</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      L'option <span class="code">markeredgecolor</span> permet de choisir une couleur pour le tracé des marqueurs. Il faut noter que cette couleur ne s'applique qu'au trait dessinant le marqueur et que lorsqu'un marqueur possède une surface de fond, celle-ci est de la même couleur que le trait de la courbe.

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_13.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="b5"></a>
<h3>Choix de la taille des marqueurs de points
</h3>

<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, marker='^', markeredgecolor='r
   ed', markersize=15, plot_points=10, max_
   bend=10)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      L'option <span class="code">markersize</span> permet de fixer la taille des marqueurs (en pixel).

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_14.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<a name="b6"></a>
<h3>Choix de l'épaisseur du trait des marqueurs de points
</h3>



<table class="top" style="width: 100%">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong>plot(exp, marker='p', markeredgecolor='r
   ed', markeredgewidth=4, markersize=30, p
   lot_points=10, max_bend=10)</strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
      L'option <span class="code">markeredgewidth</span> permet de fixer l'épaisseur du trait dessinant les marqueurs (en pixel).

    </td>
   </tr>
<tr>
<td class="bodypadding" colspan="2">
 <div class="txt center">
  <img src="./pix2/img_34.png" alt="" height="370" width="600">
</div>

</td>
</tr>
</tbody>
</table>


<table class="top">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong></strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
    </td>
   </tr>


</tbody>
</table>


<table class="top">
  <colgroup>
   <col width="50%">
   <col width="50%">
  </colgroup>
  <tbody>
   <tr>
    <td class="leftpadding">
     <pre class="code">
 sage: <strong></strong>
</pre>
     <pre class="code-ans">
</pre>
    </td>
    <td class="rightpadding">
     
    </td>
   </tr>


</tbody>
</table>

{% endblock %}