www/
www.git/
src/old/
*~
.*.swp

*.pyc
*.out
*.error
*.lock

# PyCharm
# user-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
# and these sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
# File-based project format
*.ipr
*.iws


scripts/metalink.helper
scripts/mirror_list
scripts/mirror-log/
scripts/torrent.helper
templates/devs.html
templates/all-mirrors.html
templates/mirrorselector-src.html
templates/mirrorselector.html

