DefaultLanguage en-US
AddDefaultCharset UTF-8

#file types, spkg is special!
AddType application/octet-stream .spkg
AddType video/x-flv .flv
AddType application/x-shockwave-flash .swf
AddType image/x-icon .ico
AddType application/metalink+xml .metalink

