{% extends 'base.html' %}
{% set title = "中文" %}

{% block logo_title %}
<a href="./index.html">中文</a>
{% endblock %}

{% block header_text %}
<a href="{{ 'index.html'|prefix }}">back to Sage main page</a>
{% endblock %}

{% block menu %}
<li id="intro"><a href="./index.html">Index</a></li>
{% endblock %}


{% block content %}
 <h1 class="narrow">Sage 中文</h1>

 <div class="narrow">

<div class="txt">
<em>Sage</em> 是一个基于GPL协议的开源数学软件。它使用Python作为通用接口，将现有的许多开源软件包整合在一起，构建一个统一的计算平台。

</div>

<div class="center narrow txt">
我们的目标：创建一个有活力的自由开源软件以替代Magma，Maple，Mathematica和Matlab。

</div>

<div class="txt">
<a href="http://www.sagemath.org/download.html">下载</a>, <a
href="http://www.sagemath.org/doc/">文档 (英文)</a>

</div>

<div class="txt">
<a href="http://ai7.org/wp/html/682.html"> 中文版的Sage入门手册 </a>
</div>


</div>
{% endblock %}