{% extends "calctut/_calctut.html" %}
{%- set title =  "Differentiation Rules" -%}


{% block content %}
 <div id="calctut" class="narrow txt">
  <h1>The Rules of Differentiation</h1>
  <div class="proof rule">
  <h3>Constant Rule</h3>
  If <img class="vmiddle" src="calctut-pix/diffrules01.png" /> and a is a
  real number, then<br />
  <img class="vmiddle" src="calctut-pix/diffrules02.png" />.
  </div>
  <div class="proof rule">
  <h3>Constant Multiple Rule</h3>
  If <img class="vmiddle" src="calctut-pix/diffrules03.png" /> and a is a
  real number, then<br />
  <img class="vmiddle" src="calctut-pix/diffrules04.png" />.
  </div>
  <div class="proof rule">
  <h3>Power Rule</h3>
  If <img class="vmiddle" src="calctut-pix/diffrules05.png" /> and n is a
  real number, then<br />
  <img class="vmiddle" src="calctut-pix/diffrules06.png" />.
  </div>
  <div class="proof rule">
  <h3>Product Rule</h3>
  If f and g are differentiable at x, then<br />
  <img src="calctut-pix/diffrules07.png" />
  </div>
  <div class="proof rule">
  <h3>Quotient Rule</h3>
  If f is the quotient g(x)/h(x) and h(x) &ne; 0, then<br />
  <img src="calctut-pix/diffrules08.png" />
  </div>
  <div class="proof rule">
  <h3>Chain Rule</h3>
  If g is differentiable at x and f is differentiable at g(x), then<br />
  <img src="calctut-pix/diffrules09.png" />
  </div>
 </div>
{% endblock %}