{% extends 'base.html' %}
{% set title = "Deutsch" %}

{% block logo_title %}
<a href="./index.html">Deutsch</a>
{% endblock %}

{% block header_text %}
<a href="{{ 'index.html'|prefix }}">back to {{ sage }} main page</a>
{% endblock %}

{% block menu %}
<li id="intro"><a href="./index.html" title="">Index</a></li>
{% endblock %}

{% block header %}
<meta name="keywords"
 content="sage, sagemath, sagemaths, sage math, open source, open-source, opensource, quelloffen, gpl, software, mathematik, cas, computer algebra system, python, kryptographie, numerische berechnungen, algebra, gruppentheorie, kombinatorik, graphentheorie, analysis, zahlentheorie, wissenschaftliches rechnen, interaktive mathematik, mathematica alternative, gruppen, endliche körper, fortschrittliche mathematische software, opensource mathematik, kostenlose mathematik software, freie mathematik software, mathematik programm, gratis mathematik software, gratis mathematik programm" />
{% endblock %}

{% block content %}

 <h1 class="narrow">{{ sage }} Deutsch</h1>

 <div class="narrow">

<div class="txt">
<em>{{ sage }}</em> ist ein freies Open Source Mathematiksystem das unter der GPL steht.
{{ sage }} vereint die Funktionalität diverser Open Source Pakete unter einer gemeinsamen auf Python basierenden Oberflaeche.
</div>

<div class="center narrow txt">
Unser Ziel: <em>Erstellen eines vollwertigen open-source Ersatzes für Magma, Maple, Mathematica und Matlab.</em>
</div>

<div class="txt">

<ul>
<li>Deutsch:
<ul>
  <li>
    <a href="{{ docroot }}/html/de/tutorial/">{{ sage }} Tutorial</a>,
    <a href="{{ docroot }}/html/de/a_tour_of_sage/">A Tour of {{ sage }}</a>,
    <a href="{{ docroot }}/html/de/thematische_anleitungen/">Thematische Anleitungen</a>,
    <a href="{{ docroot }}/pdf/de/tutorial/SageTutorial-de.pdf">PDF</a></li>

  <li><a href="https://wiki.ubuntuusers.de/SAGE">UbuntuUsers.de {{ sage }} Installationsanleitung</a></li>

  <li><a href="https://www.cb.hs-mittweida.de/webs/mathe/sage/video.html">Hochschule Mittweida Einführungsvideo</a></li>
</ul>
</li>

<li>Englisch:
<ul>
<li><a href="{{ 'download.html'|prefix }}">Download</a></li>
<li><a href="{{ docroot }}">Dokumentation (en)</a></li>
</ul>
</li>
</ul>
</div>

 </div>
{% endblock %}
