<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
 <title>
  {%- set title = title|default("Open-Source Mathematical Software System") -%}
  {%block title -%}{{ sage }} - {{ title }}{%- endblock %}
 </title>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <link rel="search"
       type="application/opensearchdescription+xml"
       href="http://www.sagemath.org/res/sage-search.xml"
       title="Search sagemath.org" />
 <link href='{{ "res/sage.css"|prefix }}' type="text/css" rel="stylesheet" />
 <link rel="shortcut icon" href="{{ 'pix/sageicon.png'|prefix }}" type="image/x-icon" />
 <link rel="alternate" type="application/rss+xml" title="{{ sage }} RSS News Feed" href="http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml" />
 <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
 <script src='{{ "res/sage.js"|prefix }}' type="text/javascript"></script>
 <link href="http://plus.google.com/113421169347512599264/" rel="publisher" />
 <link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en,fr,de,es' rel='stylesheet' type='text/css'>

 <meta property="og:title" content="{{ sage }} Mathematical Software System - Sage"/>
 <meta property="og:type" content="website"/>
 <meta property="og:url" content="http://www.sagemath.org/"/>
 <meta property="og:image" content="http://sagemath.org/pix/sage_logo_new_l_hc.png"/>
 <meta property="og:site_name" content="{{ sage }} Mathematical Software System"/>
 <meta property="og:description" content="{{ sage }} is a free and open-source mathematical software system."/>
{%- block header -%}
{%- endblock -%}
</head>

<body>
<div id="header" class="small">
<div id="header-logo">
 <a href="{{ 'index.html'|prefix }}">
  <img width="250" height="65" alt="{{ sage }} Logo" class="round raised"
       src="/{{ logo }}" title="{{ sage }} Mathematical Software" />
 </a>
{%- block logo_title -%}{%- endblock -%}
</div>

<div id="header-text">
{%- block header_text -%}
<form action="{{ 'search.html'|prefix }}" method="get">
<a href="https://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml">RSS</a>
&middot;
<a href="http://planet.sagemath.org/">Blog</a>
&middot;
<a href="http://trac.sagemath.org/sage_trac">Trac</a>
&middot;
<a href="https://wiki.sagemath.org/">Wiki</a>
&middot;
<a href="http://ask.sagemath.org/">Questions?</a>
{# &middot;
<a href="http://interact.sagemath.org/">Interact</a>
#}
{# <a href="http://spreadsheets.google.com/viewform?formkey=dDY2V092c2R4b3F3c0hSNFMycTFobWc6MA">Feedback</a> #}
&middot;
<a title="Donate to the UW {{ sage }} Foundation Fund"
   href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG">
    <b>Donate</b>
</a>
{# <a href="{{ 'search.html'|prefix }}">Search</a>:#}
{#
    <input onmouseover="javascript:this.focus();" class="small"
       placeholder="Search ..." type="text" name="search" size="15" />
#}
</form>

Online:
<a href="https://cocalc.com/?utm_source=sagemath.org&amp;utm_medium=top">CoCalc</a>
{# <a href="http://www.sagenb.org/">sagenb</a> #}
&middot;
<a href="https://sagecell.sagemath.org/">SageCell</a>
or
<a href="{{ 'download.html'|prefix }}" downloadurl>Download</a>,
<a href="{{ 'download-source.html'|prefix }}">Source Code</a>
<br/>
<a href="{{ 'download.html'|prefix }}" downloadurl>v{{ version }} ({{ releasedate }})</a>
&middot;

<a href="https://plus.google.com/+sagemath/" style="text-decoration: none;"><img src="https://ssl.gstatic.com/images/icons/gplus-16.png" alt="G+" width="16" height="16" style="border: 0;"/></a>

<a href="https://www.facebook.com/pages/Sage-Math/26593144945">
    <img alt="F" src="{{ 'pix/facebook-favicon.ico'|prefix }}" width="16" height="16" /></a>
{# <a href="https://www.linkedin.com/groups?gid=2010654">
    <img alt="LI" src="{{ 'pix/linkedin-favicon.ico'|prefix }}" width="16" height="16"/></a>
#}
<a href="https://twitter.com/sagemath">
    <img alt="T" src="{{ 'pix/twitter-favicon.ico'|prefix }}" width="16" height="16"/></a>
{# <a href="http://friendfeed.com/sagemath"><img alt="FF" src="{{ 'pix/friendfeed-favicon.ico'|prefix }}" width="16" height="16"/></a> #}
<strong>&middot;</strong>
<form name="i18n" style="display:inline">
<select style="" name="menu" onChange="location='http://www.sagemath.org/' + document.i18n.menu.options[document.i18n.menu.selectedIndex].value;">
<option>Language</option>
<option value="">English</option>
<option value="es">Español</option>
<option value="zh">中文</option>
<option value="fr">Français</option>
<option value="de">Deutsch</option>
<option value="pt">Português</option>
<option value="ru">русский язык</option>
</select>
</form>
{%- endblock -%}
</div>

</div>

<div id="sage-nav-buffer" style="display: none"></div>

<ul id="sage-nav">
{%- block menu -%}
<li><a href="{{ 'index.html'|prefix }}">Home</a>
<ul>
 <li><a href="{{ 'search.html'|prefix }}">Search</a></li>
 <li><a href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG" class="ext">Donate</a></li>
 <li><a href="{{ 'development-ack.html'|prefix }}">Acknowledgments</a></li>
 {# <li><a href="http://wiki.sagemath.org/gsoc10">Get Involved</a></li> #}
 <li><a href="http://wiki.sagemath.org/Workshops">{{ sage }} Days</a></li>
</ul>
</li>

<li><a href="{{ 'tour.html'|prefix }}">Tour</a>
<ul>
 <li><a href="{{ 'tour.html'|prefix }}">Overview</a></li>
 <li><a href="{{ 'library-why.html'|prefix }}">Why Sage?</a></li>
 <li class="section"><a href="{{ 'tour-quickstart.html'|prefix }}">Quickstart</a></li>
 <li><a href="{{ 'tour-graphics.html'|prefix }}">Graphics</a></li>
 <li><a href="{{ 'tour-research.html'|prefix }}">Research</a></li>
 <li><a href="{{ 'tour-benchmarks.html'|prefix }}">Benchmarks</a></li>
 <li class="section"><a href="http://wiki.sagemath.org/interact/">Interactive Plots (wiki)</a></li>
 <li><a href="{{ docroot }}/html/en/a_tour_of_sage/">A Tour of {{ sage }}</a></li>
</ul>
</li>

<li><a href="{{ 'help.html'|prefix }}">Help</a>
<ul>
 <li><a href="{{ docroot }}"><b>Online Documentation</b></a></li>
 <li class="section"><a href="{{ 'help.html'|prefix }}">Support Resources</a></li>
 <li><a href="{{ 'help-groups.html'|prefix }}">Mailing Lists</a></li>
 <li><a href="http://ask.sagemath.org" class="ext">Ask a question</a></li>
 <li><a href="{{ 'help-uSage.html'|prefix }}">u{{ sage }} User Groups</a></li>
 <li><a href="{{ 'help-irc.html'|prefix }}">IRC Chat</a></li>
 <li><a href="{{ 'help-video.html'|prefix }}">Videos</a></li>
 <li class="section"><a href="{{ docroot }}/html/en/tutorial/">Tutorial</a></li>
 <li><a href="{{ docroot }}/html/en/constructions/">Constructions</a></li>
 <li><a href="{{ docroot }}/html/en/reference/">Reference Manual</a></li>
</ul>
</li>

<li><a href="{{ 'library.html'|prefix }}">Library</a>
<ul>
 <li><a href="{{ 'library.html'|prefix }}">Overview</a></li>
 <li><a href="{{ 'library-stories.html'|prefix }}">Testimonials</a></li>
 <li><a href="{{ 'library-publications.html'|prefix }}">Publications</a></li>
 <li><a href="{{ 'library-publications-combinat.html'|prefix }}">Publications Combinat</a></li>
 <li><a href="{{ 'library-publications.html#books'|prefix }}" >Books</a></li>
 <li class="section"><a href="{{ 'library-marketing.html'|prefix }}">Marketing</a></li>
 <li><a href="{{ 'library-press.html'|prefix }}">Press Kit</a></li>
 <li class="section"><a href="{{ 'calctut/index.html'|prefix }}">Calculus Tutorial</a></li>
</ul>
</li>

<li><a href="{{ 'download.html'|prefix }}">Download</a>
<ul>
 <li><a href="{{ 'download-windows.html'|prefix }}">Windows</a></li>
 <li><a href="{{ 'download-mac.html'|prefix }}">Mac OSX</a></li>
 <li><a href="{{ 'download-linux.html'|prefix }}">Linux</a></li>
 <li class="section"><a href="{{ 'download-source.html'|prefix }}">Source (stable)</a></li>
{# <li><a href="{{ 'src-old/'|prefix }}">Old Source</a></li> #}
 <li><a href="{{ 'download-latest.html'|prefix }}">Source (devel)</a></li>
 <li class="section"><a href="{{ 'download-liveusb.html'|prefix }}">Live USB Key</a></li>
 <li class="section"><a href="{{ 'download-packages.html'|prefix }}">Packages (SPKG)</a></li>
 <li class="section"><a href="{{ docroot }}/html/en/installation">Install Guide</a></li>
{# <li><a href="{{ 'mirror/src/changelogs/'|prefix }}">Release Notes</a></li> #}
 <li><a href="{{ 'mirrors.html'|prefix }}">Mirrors</a></li>
</ul>
</li>

<li><a href="{{ 'development.html'|prefix }}">Development</a>
<ul>
 <li><a href="{{ 'development.html'|prefix }}">Info for Developers</a></li>
 <li><a href="{{ 'development-groups.html'|prefix }}">Mailing Lists</a></li>
 <li><a href="http://trac.sagemath.org">Trac server</a></li>
 <li><a href="{{ 'development-map.html'|prefix }}">Developer Map</a></li>
 <li><a href="{{ 'development-status.html'|prefix }}">Status</a></li>
 <li><a href="{{ 'development-search.html'|prefix }}">Search</a></li>
 <li><a href="{{ 'development-prize.html'|prefix }}">Prize</a></li>
 <li><a href="{{ 'development-ack.html'|prefix }}">Acknowledgment</a></li>
 <li class="section"><a href="{{ git }}">Source Code</a></li>
 <li><a href="https://github.com/sagemath/sage">GitHub repository</a></li>
 <li><a href="{{ docroot }}/html/en/developer/">Developer Guide</a></li>
</ul>
</li>

<li><a href="{{ 'links.html'|prefix }}">Links</a>
<ul>
 <li><a href="{{ 'links.html'|prefix }}">Projects &amp; Software</a></li>
 <li><a href="{{ 'links-components.html'|prefix }}">{{ sage }} Components</a></li>
 <li class="section"><a href="http://sagecell.sagemath.org/">{{ sage }} Cell Server</a></li>
 <li class="section"><a href="http://planet.sagemath.org/">{{ sage }} Blog</a></li>
 <li><a href="http://wiki.sagemath.org/">{{ sage }} Wiki</a></li>
 <li><a href="https://groups.google.com/forum/#!forum/sage-devel">Report a bug</a></li>
 <li><a href="{{ git }}">{{ sage }} Code Repository</a></li>
 <li class="section"><a href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG" class="ext">Donate</a></li>
 <li><a href="{{ 'contact.html'|prefix }}">Contact</a></li>
</ul>
</li>
{%- endblock -%}
</ul>

{%- block content -%}
{%- endblock -%}
{%- block bottom -%}
{%- endblock -%}

<div style="height:auto;min-height:50px;"> </div>
<div id="footer" class="center">
<table>
<tr id="links">
    <td><a id="footer-webmaster" href="{{ git_website }}"></a></td>
    <td>&middot;</td>
    <td><a id="footer-cc" title="website content is Creative Commons 3.0 licensed"
           href="http://creativecommons.org/licenses/by-sa/4.0/"></a></td>
    <td>&middot;</td>
    <td><a id="footer-donate" title="Donate to the UW {{ sage }} Foundation Fund"
           href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG"></a>
    </td>
    <td>&middot;</td>
    <td><a id="footer-rss" title="RSS News Feed"
           href="http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml"></a></td>
    <td>&middot;</td>
    <td><a id="footer-contact" title="Contact {{ sage }} Project" href="{{ 'contact.html'|prefix }}"></a></td>
</tr>

<tr style="height: 70px;">
<td align="right" colspan="1">

<a style="background:none;" href="https://www.clustrmaps.com/map/Sagemath.org">
    <img width="65" height="42"
    style="border:0px;"
    id="clustrMapsImg"
    src="https://www.clustrmaps.com/stats/maps-no_clusters/sagemath.org-thumb.jpg" alt="Locations of visitors to this page" />
</a>

</td>
<td></td>
<td align="center" style="padding-bottom: 10px;vertical-align: center">
<div id="histats_counter"></div>
<noscript>
<a href="http://www.histats.com" alt="free web stats" target="_blank" >
<div id="histatsC"><img border="0" src="http://s4is.histats.com/stats/i/1579950.gif?1579950&103"></div></a>
</noscript>
</td>
<td></td>
<td align="left" style="padding-bottom: 0px; vertical-align: center; horizontal-align: center;">
<g:plusone size="medium" href="http://sagemath.org"></g:plusone>
</td>
<td></td>
<td>
<div id="fb-root"></div>
<div class="fb-like" data-href="https://www.facebook.com/pages/Sage-Math/26593144945" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</td>
<td></td>
<td>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sagemath.org" data-text="I like @sagemath" data-related="sagemath">Tweet</a>
</td>
</tr>
</table>
</div>

{%- set trademark = trademark|default(False) -%}
{% if trademark %}
<div class="trademark">Microsoft and Windows are either registered trademarks or trademarks of Microsoft Corporation in the United States and/or other countries.</div>
{% endif %}

{%- block footer -%}
{%- endblock -%}
</body>
</html>
