{% extends 'base.html' %}

{% block bottom %}
<h2 class="narrow">Updates</h2>

 <div class="narrow txt">
  <form action="http://groups.google.com/group/sage-announce/boxsubscribe">
   There is a low traffic <a href="http://groups.google.com/group/sage-announce"
         target="_blank">announcement mailing list</a> and an <a href=
         "http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml">RSS feed</a> to
         stay informed about new releases. <span class="nowrap">E-mail: <input type="text"
          name="email" />&#160;<input type="submit"
          name="sub"
          value="Subscribe" /></span>
  </form>
 </div>

<h2 class="narrow">
Source
</h2>
<div class="narrow txt border">
<a href="./download-source.html">Download complete source code.</a>

</div>

{#
<h2 class="narrow">
DVD
</h2>
<div class="narrow txt border">
<div class="txt">
      You can also get a <a href="http://www.lulu.com/content/2461899"
           target="_blank">copy of {{ sage }} on DVD</a>.
     </div>

     <div>
      It includes the full source code, binaries for the VMWare Player, Mac OS X and Linux and as
      well the documentation. Additionally, in the spirit of open-source you are allowed to copy
      and distribute this DVD freely! It may not contain the latest version, please check it on the
      website.
     </div>

</div>
#}

{#
<h2 class="narrow">
Additional Packages
</h2>
<div class="narrow txt border">
<div class="txt">
      <a href="./download-packages.html">Download additional packages</a>

     </div>

     <div>
      {{ sage }} consists of a selected set of packages which are well tested and integrated into the
      {{ sage }} framework. There are also other less integrated or unstable packages additionally
      available. Click <a href="./download-packages.html">here</a> to get an overview of all
      available packages.
     </div>

</div>
#}

<h2 class="narrow">
Utilities
</h2>
<div class="narrow txt border">
<div class="txt">
      Useful utilities when working with {{ sage }}
     </div>

     <div>
      <ul>
       <li><a href="https://github.com/sagemath/sage-shell-mode">{{ sage }} Emacs Mode</a> — helps to work with
       {{ sage }} in Emacs.</li>

       <li><a href="http://www.ctan.org/tex-archive/macros/latex/contrib/sagetex/">SageTex LaTeX
       style</a> — this LaTeX style file allows to embed and process {{ sage }} code inside TeX files.
       <a href="./tour-research.html#latex">read more</a></li>
      </ul>
     </div>

</div>

 <!-- Google Code for download page Conversion Page -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[
<!--
var google_conversion_id = 1040133199;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
if (0.00) {
  var google_conversion_value = 0.00;
}
var google_conversion_label = "5ZyMCPHCVRDP2PzvAw";
//-->
//]]>
</script>
<script language="JavaScript"
src="http://www.googleadservices.com/pagead/conversion.js"
type="text/javascript">
</script>
<noscript>
<img height="1"
width="1"
border="0"
alt=""
src="http://www.googleadservices.com/pagead/conversion/1040133199/?value=0.00&amp;label=5ZyMCPHCVRDP2PzvAw&amp;script=0" /></noscript>
{% endblock %}
