{% extends 'base.html' %}

{% block bottom %}

<h2 class="narrow">
Other {{ sage }} downloads
</h2>

<div class="narrow txt">
  <a href="https://doc.sagemath.org/html/en/installation/index.html">Installation guide: What/how to download</a>
</div>

<table class="narrow justify top" id="download">
  <colgroup>
    <col width="25%">
    <col width="75%">
  </colgroup>

  <tbody>
    <tr>
      <th>
        Source (stable)
      </th>
      <td>
        <div class="txt">
          <a href="./download-source.html">Download complete source</a>
        </div>
      </td>
    </tr>

    <tr>
      <th>
        Source (devel)
      </th>
      <td>
        <div class="txt">
          The <a href="./download-latest.html">latest development release</a>.
        </div>

        <div>
          To get the source of the latest development release, choose a
          download mirror and follow relevant instructions on the mirror page.
        </div>
      </td>
    </tr>

    <tr>
      <th>
        Apple macOS
      </th>
      <td>
        <div class="txt">
          <a href="https://github.com/3-manifolds/Sage_macOS/releases">Download macOS binaries</a> (3-manifolds)
        </div>
      </td>
    </tr>

    <tr>
      <th>
        Docker image
      </th>
      <td>
        <div class="txt">
          <a href= "https://hub.docker.com/u/sagemath/">SageMath Docker images</a>
        </div>
      </td>
    </tr>

    <tr>
      <th>
        Source (old)
      </th>
      <td>
        <div class="txt">
          <a href="http://old.files.sagemath.org/src-old/"><strong>Older Versions</strong> of {{ sage }}
        </div>

      </td>
    </tr>

  </tbody>
</table>

<h3 class="narrow">
Utilities
</h3>
<div class="narrow txt border">
<div class="txt">
      Useful utilities when working with {{ sage }}
     </div>

     <div>
      <ul>
       <li><a href="https://github.com/sagemath/sage-shell-mode">Emacs sage-shell-mode</a> — helps to work with
       {{ sage }} in Emacs.</li>

       <li><a href="http://www.ctan.org/tex-archive/macros/latex/contrib/sagetex/">SageTeX LaTeX
       style</a> — this LaTeX style file allows to embed and process {{ sage }} code inside TeX files.
       <a href="./tour-research.html#latex">read more</a></li>
      </ul>
     </div>

</div>

 <!-- Google Code for download page Conversion Page -->
<script language="JavaScript" type="text/javascript">
//<![CDATA[
<!--
var google_conversion_id = 1040133199;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
if (0.00) {
  var google_conversion_value = 0.00;
}
var google_conversion_label = "5ZyMCPHCVRDP2PzvAw";
//-->
//]]>
</script>
<script language="JavaScript"
src="http://www.googleadservices.com/pagead/conversion.js"
type="text/javascript">
</script>
<noscript>
<img height="1"
width="1"
border="0"
alt=""
src="http://www.googleadservices.com/pagead/conversion/1040133199/?value=0.00&amp;label=5ZyMCPHCVRDP2PzvAw&amp;script=0" /></noscript>
{% endblock %}
