{% extends 'base.html' %}
{% set title = "Français" %}

{% block logo_title %}
<a href="./index.html">Français</a>
{% endblock %}

{% block header_text %}
<a href="{{ 'index.html'|prefix }}">back to {{ sage }} main page</a>
{% endblock %}

{% block menu %}
<li id="intro"><a href="./index.html">Index</a></li>
<li id="plotting"><a href="./telecharger.html">Telecharger</a></li>
<li id="documentation"><a href="./documentation.html">Documentation</a></li>
<li id="components"><a href="./components.html">Components</a></li>
{% endblock %}

{% block header %}
<style>
div.explanation {float: right; clear: right; margin-left: 51%;}
div.explanation_centered {clear: both; padding-left: 15px; padding-right: 15px;}
p.explanation {float: right; clear: right; width: 49%; padding-left: 15px;}
p.explanation_centered {clear: both; width: 100%; padding-left: 15px; padding-right: 15px;}
div.cell {float: left; clear: left; margin-right: -51%; padding-left: 15px;}
h1, h3 {clear: both;}
h3 {margin-top: 50px;}
</style>
{% endblock %}
