{% extends 'fr/_fr.html' %}
{% set title = 'Documentation' %}

{% block content %}
 <h1 class="narrow">Documentation</h1> 
 
 <div class="narrow">
 
<div>L&#39;intégralité de la documentation de {{ sage }} est <a href="{{ docroot }}">accessible ici</a>.
  Vous pouvez aussi aller faire un tour sur <a href="http://sagemath-edu.fr">le wiki {{ sage }} pour
  l&#39;éducation</a> et participer à la <a href="http://mail.irem.univ-mrs.fr/mailman/listinfo/sagemath-edu" target="_blank">liste de
  discussion {{ sage }} et enseignement </a>(sur laquelle toute les questions en
  français sont les bienvenues).</div> 
 
<div>Quelques tutoriels en francais sont également disponibles :</div> 
<ul><li> 
  <a href="./tour-plotting-fr.html">Tour Plotting in French</a> 
</li> 
<li> 
<a href="./48/W_UE_Courbes_paramétrées_v02.html" >Tracer des courbes paramétrées</a> 
</li> 
<li> 
<a href="./55/W_UE_Graphiques_Utilisation_avancée_v04.html" >Utilisation avancée des objets graphiques</a> 
</li> 
<li> 
<a href="./61/W_UE_Definir_une_fonction_v03.html" >Définir une fonction</a> 
</li> 
<li> 
<a href="./62/W_UE_Tracer_des_graphes_v07.html" >Tracer des graphes de fonctions</a> 
</li> 
</ul> 
</div> 
 </div>
</div>
{% endblock %}
