{% extends 'fr/_fr.html' %}
{% set title = 'French' %}

{% block content %}
 <h1 class="narrow">Sage French</h1>

 <div class="narrow">

<div class="txt">
<em>Sage</em> est un logiciel libre de mathématiques sous licence GPL. Il
combine la puissance de nombreux programmes libres dans une interface commune
basée sur le langage de programmation Python.</div> 

<div class="txt"> 
Mission: <em>Création d&#39;une alternative viable libre et open source à Magma,
  Maple, Mathematica et Matlab.</em> 
</div>

<div> 
Sage permet de faire des mathématiques générales et avancées, pures et
appliquées. Il couvre une vaste gamme de mathématiques, dont l&#39;algèbre,
l&#39;analyse, la théorie des nombres, la cryptographie, l&#39;analyse numérique,
l&#39;algèbre commutative, la théorie des groupes, la combinatoire, la théorie des
graphes, l&#39;algèbre linéaire formelle, etc ...<br><br> 
Il permet l&#39;utilisation simultanée et transparente de <a href="./components.html" target="_blank">dizaines de logiciels spécialisés</a>. Il est
conçu pour l&#39;éducation ou les études autant que pour la recherche.<br><br> 
Sage a deux modes d&#39;utilisation, un mode <b>bloc-note</b> (ou notebook) dont
l&#39;interface est un navigateur web et un mode <b>ligne de commande</b>. Avec le
mode bloc-note, vous n&#39;êtes pas obligé d&#39;installer Sage sur votre ordinateur :
Sage fonctionne en mode client serveur et peut fonctionner sur un réseau (par
exemple internet).<br><br>  Grâce à Sage, il est possible de partager ou publier
simplement vos feuilles de calcul, figures et graphiques en utilisant les
fonctionnalités du bloc-note. </div> 
 
<div class="txt"> 
Sage est principalement disponible en anglais. Une partie de sa
documentation a cependant été traduite en français:
<ul> 
<li><a href="{{ 'doc/fr/html/a_tour_of_sage/'|prefix }}">Sage en quelques mots</a> ;</li>
<li><a href="{{ 'doc/fr/html/tutorial/'|prefix }}">tutoriel</a>.</li>
</ul> 
L&#39;intégralité de la documentation en anglais est <a href="{{ 'doc/'|prefix }}">accessible
ici</a>. Elle regroupe les versions originales (parfois plus à jour que
leurs traductions) de ces documents, ainsi que plusieurs manuels qui
n&#39;ont pas encore été traduits: <cite>Constructions</cite>,
<cite>Manuel de référence</cite>, <cite>Guide du développeur</cite>...
</div> 

<!-- 
<div class="txt"> 
  Dédiés à Sage et l&#39;enseignement dans les pays francophones, un <a href="http://sagemath-edu.fr" target="_blank">site  wiki</a> et une <a href="http://mail.irem.univ-mrs.fr/mailman/listinfo/sagemath-edu" target="_blank">liste
  de discussion</a> ont été créés.</div> 
-->

<div class="txt">
Voir aussi le livre électronique en français
 <a href="http://sagebook.gforge.inria.fr/">Calcul mathématique avec Sage</a>.</div> 

<div class="txt">
 <a href="http://wiki.sagemath.org/GroupeUtilisateursParis">Groupe d'Utilisateurs de Sage et Python Scientifique en région Parisienne</a>
</div>

 </div>

 </div>
{% endblock %}