{% extends 'fr/_fr.html' %}
{% set title = 'Télécharger' %}

{% block content %}
 <h1 class="narrow">Télécharger Sage</h1>

 <div class="narrow">


<div class="txt"><a href="http://sagemath.org/download-linux.html">Binaires Linux</div>
<div class="txt"><a href="http://sagemath.org/download.html">Binaires (autres OS : Windows, Max OS X, Solaris, ...)</div>
<div class="txt"><a href="http://sagemath.org/download-source.html">Sources</div>
<div class="txt"><a href="http://sagemath.org/download-packages.html">Packages</div>

</div>
{% endblock %}