{% extends 'es/_es.html' %}
{% set title = "Español" %}

{% block content %}

<h1 class="narrow">Sage Español</h1>

<div class="narrow">
Dos documentos en español. Si quieres ayudar a este sitio web, solicitar al webmaster.
<ul>
<li> <a href="./Manual_SAGE_principiantes.pdf">Manual de Sage para principiantes (PDF, Español)</a> </li>
<li><a href="./Introduccion_a_SAGE.pdf">Introduccion: Matemáticas Elementales con Sage (PDF, Español)</a> </li>
<li><a href="http://strange1712.kubuntu-es.org/6733/sage-open-source-mathematics-software">instalarlo sage - kubuntu-tenochtitlan blog (Espanol)</a></li>
</ul>
 </div>
{% endblock %}
