<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" type="text/css" href="/css/main.css">
 <link rel="shortcut icon" href="{{ 'pix/sageicon.png'|prefix }}" type="image/x-icon" />
 <link rel="alternate" type="application/rss+xml" title="{{ sage }} RSS News Feed" 
       href="http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml" />
 <link href="http://plus.google.com/113421169347512599264/" rel="publisher" />
</head>

<body>
<div id="header" class="small">
<div id="header-logo">
 <a href="index.html">
  <img width="250" height="65" alt="{{ sage }} Logo" class="round raised"
       src="/{{ logo }}" title="{{ sage }} Mathematical Software" />
 </a>
</div>

<div id="header-text">
{%- block header_text -%}
<form action="{{ 'search.html'|prefix }}" method="get">
<a href="https://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml">RSS</a>
&middot;
<a href="http://planet.sagemath.org/">Blog</a>
&middot;
<a href="http://trac.sagemath.org/sage_trac">Trac</a>
&middot;
<a href="https://wiki.sagemath.org/">Wiki</a>
&middot;
<a href="http://ask.sagemath.org/">Questions?</a>
&middot;
<a title="Donate to the UW {{ sage }} Foundation Fund"
   href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG">
    <b>Donate</b>
</a>
</form>

Online:
<a href="https://cloud.sagemath.com/">SMC</a>
&middot;
<a href="https://sagecell.sagemath.org/">SageCell</a>
or
<a href="{{ 'download.html'|prefix }}" downloadurl>Download</a>,
<a href="{{ 'download-source.html'|prefix }}">Source Code</a>
<br/>
<a href="{{ 'download.html'|prefix }}" downloadurl>v{{ version }} ({{ releasedate }})</a>
&middot;

<a href="https://plus.google.com/+sagemath/" style="text-decoration: none;">
 <img src="https://ssl.gstatic.com/images/icons/gplus-16.png" alt="G+" width="16" height="16" style="border: 0;"/></a>

<a href="https://www.facebook.com/pages/Sage-Math/26593144945">
    <img alt="F" src="{{ 'pix/facebook-favicon.ico'|prefix }}" width="16" height="16" /></a>
<a href="https://twitter.com/sagemath">
    <img alt="T" src="{{ 'pix/twitter-favicon.ico'|prefix }}" width="16" height="16"/></a>
 <img alt="FF" src="{{ 'pix/friendfeed-favicon.ico'|prefix }}" width="16" height="16"/></a> #}
<strong>&middot;</strong>
<form name="i18n" style="display:inline">
<select style="" name="menu" onChange="location='http://www.sagemath.org/' + document.i18n.menu.options[document.i18n.menu.selectedIndex].value;">
<option>Language</option>
<option value="">English</option>
<option value="es">Español</option>
<option value="zh">中文</option>
<option value="fr">Français</option>
<option value="de">Deutsch</option>
<option value="pt">Português</option>
<option value="ru">русский язык</option>
</select>
</form>
</div>

<div id="sage-nav-buffer" style="display: none"></div>

<ul id="sage-nav">
<li><a href="{{ 'index.html'|prefix }}">Home</a>
<ul>
 <li><a href="{{ 'search.html'|prefix }}">Search</a></li>
 <li><a href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG" class="ext">
  Donate</a></li>
 <li><a href="{{ 'development-ack.html'|prefix }}">Acknowledgments</a></li>
 <li><a href="http://wiki.sagemath.org/Workshops">{{ sage }} Days</a></li>
</ul>
</li>

<li><a href="{{ 'tour.html'|prefix }}">Tour</a>
<ul>
 <li><a href="{{ 'tour.html'|prefix }}">Overview</a></li>
 <li><a href="{{ 'library-why.html'|prefix }}">Why Sage?</a></li>
 <li class="section"><a href="{{ 'tour-quickstart.html'|prefix }}">Quickstart</a></li>
 <li><a href="{{ 'tour-graphics.html'|prefix }}">Graphics</a></li>
 <li><a href="{{ 'tour-research.html'|prefix }}">Research</a></li>
 <li><a href="{{ 'tour-benchmarks.html'|prefix }}">Benchmarks</a></li>
 <li class="section"><a href="http://wiki.sagemath.org/interact/">Interactive Plots (wiki)</a></li>
 <li><a href="{{ docroot }}/html/en/a_tour_of_sage/">A Tour of {{ sage }}</a></li>
</ul>
</li>

<li><a href="{{ 'help.html'|prefix }}">Help</a>
<ul>
 <li><a href="{{ docroot }}"><b>Online Documentation</b></a></li>
 <li class="section"><a href="{{ 'help.html'|prefix }}">Support Resources</a></li>
 <li><a href="{{ 'help-groups.html'|prefix }}">Mailing Lists</a></li>
 <li><a href="http://ask.sagemath.org" class="ext">Ask a question</a></li>
 <li><a href="{{ 'help-uSage.html'|prefix }}">u{{ sage }} User Groups</a></li>
 <li><a href="{{ 'help-irc.html'|prefix }}">IRC Chat</a></li>
 <li><a href="{{ 'help-video.html'|prefix }}">Videos</a></li>
 <li class="section"><a href="{{ docroot }}/html/en/tutorial/">Tutorial</a></li>
 <li><a href="{{ docroot }}/html/en/constructions/">Constructions</a></li>
 <li><a href="{{ docroot }}/html/en/reference/">Reference Manual</a></li>
</ul>
</li>

<li><a href="{{ 'library.html'|prefix }}">Library</a>
<ul>
 <li><a href="{{ 'library.html'|prefix }}">Overview</a></li>
 <li><a href="{{ 'library-stories.html'|prefix }}">Testimonials</a></li>
 <li><a href="{{ 'library-publications.html'|prefix }}">Publications</a></li>
 <li><a href="{{ 'library-publications.html#books'|prefix }}" >Books</a></li>
 <li class="section"><a href="{{ 'library-marketing.html'|prefix }}">Marketing</a></li>
 <li><a href="{{ 'library-press.html'|prefix }}">Press Kit</a></li>
</ul>
</li>

<li><a href="{{ 'download.html'|prefix }}">Download</a>
<ul>
 <li><a href="{{ 'download-windows.html'|prefix }}">Windows</a></li>
 <li><a href="{{ 'download-mac.html'|prefix }}">Mac OSX</a></li>
 <li><a href="{{ 'download-linux.html'|prefix }}">Linux</a></li>
 <li class="section"><a href="{{ 'download-source.html'|prefix }}">Source (stable)</a></li>
 <li><a href="{{ 'download-latest.html'|prefix }}">Source (devel)</a></li>
 <li class="section"><a href="{{ 'download-liveusb.html'|prefix }}">Live USB Key</a></li>
 <li class="section"><a href="{{ 'download-packages.html'|prefix }}">Packages (SPKG)</a></li>
 <li class="section"><a href="{{ docroot }}/html/en/installation">Install Guide</a></li>
 <li><a href="{{ 'mirrors.html'|prefix }}">Mirrors</a></li>
</ul>
</li>

<li><a href="{{ 'development.html'|prefix }}">Development</a>
<ul>
 <li><a href="{{ 'development.html'|prefix }}">Info for Developers</a></li>
 <li><a href="{{ 'development-groups.html'|prefix }}">Mailing Lists</a></li>
 <li><a href="http://trac.sagemath.org">Trac server</a></li>
 <li><a href="{{ 'development-map.html'|prefix }}">Developer Map</a></li>
 <li><a href="{{ 'development-status.html'|prefix }}">Status</a></li>
 <li><a href="{{ 'development-search.html'|prefix }}">Search</a></li>
 <li><a href="{{ 'development-prize.html'|prefix }}">Prize</a></li>
 <li><a href="{{ 'development-ack.html'|prefix }}">Acknowledgment</a></li>
 <li class="section"><a href="{{ git }}">Source Code</a></li>
 <li><a href="https://github.com/sagemath/sage">GitHub repository</a></li>
 <li><a href="{{ docroot }}/html/en/developer/">Developer Guide</a></li>
</ul>
</li>

<li><a href="{{ 'links.html'|prefix }}">Links</a>
<ul>
 <li><a href="{{ 'links.html'|prefix }}">Projects &amp; Software</a></li>
 <li><a href="{{ 'links-components.html'|prefix }}">{{ sage }} Components</a></li>
 <li class="section"><a href="http://sagecell.sagemath.org/">{{ sage }} Cell Server</a></li>
 <li class="section"><a href="http://planet.sagemath.org/">{{ sage }} Blog</a></li>
 <li><a href="http://wiki.sagemath.org/">{{ sage }} Wiki</a></li>
 <li><a href="https://groups.google.com/forum/#!forum/sage-devel">Report a bug</a></li>
 <li><a href="{{ git }}">{{ sage }} Code Repository</a></li>
 <li class="section">
  <a href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG" class="ext">Donate</a></li>
 <li><a href="{{ 'contact.html'|prefix }}">Contact</a></li>
</ul>
</li>
</ul>

<div style="height:auto;min-height:50px;"> </div>
<div id="footer" class="center">
<table>
<tr id="links">
    <td><a id="footer-webmaster" href="{{ git_website }}"></a></td>
    <td>&middot;</td>
    <td><a id="footer-cc" title="website content is Creative Commons 3.0 licensed"
           href="http://creativecommons.org/licenses/by-sa/4.0/"></a></td>
    <td>&middot;</td>
    <td><a id="footer-donate" title="Donate to the UW {{ sage }} Foundation Fund"
           href="https://secure.gifts.washington.edu/as_mathematics/gift.asp?page=make&amp;Code=MATSAG"></a>
    </td>
    <td>&middot;</td>
    <td><a id="footer-rss" title="RSS News Feed"
           href="http://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml"></a></td>
    <td>&middot;</td>
    <td><a id="footer-contact" title="Contact {{ sage }} Project" href="{{ 'contact.html'|prefix }}"></a></td>
</tr>

<tr style="height: 70px;">

<td></td>
<td align="center" style="padding-bottom: 10px;vertical-align: center">
<div id="histats_counter"></div>
<noscript>
<a href="http://www.histats.com" alt="free web stats" target="_blank" >
<div id="histatsC"><img border="0" src="http://s4is.histats.com/stats/i/1579950.gif?1579950&103"></div></a>
</noscript>
</td>
<td></td>
<td align="left" style="padding-bottom: 0px; vertical-align: center; horizontal-align: center;">
<g:plusone size="medium" href="http://sagemath.org"></g:plusone>
</td>
<td></td>
<td>
<div id="fb-root"></div>
<div class="fb-like" data-href="https://www.facebook.com/pages/Sage-Math/26593144945" data-layout="button_count" 
     data-action="like" data-show-faces="false" data-share="false"></div>
</td>
<td></td>
<td>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sagemath.org" 
   data-text="I like @sagemath" data-related="sagemath">Tweet</a>
</td>
</tr>
</table>
</div>

</body>
</html>
