<!DOCTYPE html>
<html>
<head>
 <title>{{ page.title }}</title>
 <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
 <nav>
  <ul>
   <li><a href="/">Home</a></li>
		 <li><a href="/about">Tour</a></li>
	  <li><a href="/help">Help</a></li>
	  <li><a href="/library">Library</a></li>
   <li><a href="/download">Download</a></li>
   <li><a href="/development">Development</a></li>
   <li><a href="/links">Links</a></li>
	 </ul>
	</nav>
	
<div class="container">
		
			{{ content }}
			
</div>
  

<footer>
 <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/">Home</a></li>
  <li><a href="/">Home</a></li>
 </ul>
</footer>
</body>
</html>
