# .htaccess config for www.sagemath.org
# if something doesn't work - options need to be enabled
# enable modules mod_include (SSI) and mod_headers (rewriting cache expires)

DefaultLanguage en-US

AddDefaultCharset UTF-8

ServerSignature Off

# important
Options +FollowSymLinks 

#file types, spkg is special!
AddType application/octet-stream .spkg
AddType video/x-flv .flv
AddType application/x-shockwave-flash .swf
AddType image/x-icon .ico
AddType application/metalink+xml .metalink
AddType text/plain .bib
AddType application/vnd.openxmlformats-officedocument.wordprocessingml.document .docx   

# the custom 404, all others are defalt
ErrorDocument 404 /404error.html

# deflate compression except for the given ones
SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI  \
     \.(?:gif|jpe?g|png|avi|metalink|torrent|mpeg|flv|spkg|msi)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI  \
     \.(?:exe|spkg|deb|rpm|msi|iso|img|bzip|bzip2|t?gz|zip|gz2|sit|rar)$ no-gzip dont-vary

# SSI part
#NoExec disables the exec={} command in SSI, just security
Options +IncludesNOExec
XBitHack on 
BrowserMatchNoCase MSIE IE
#Operating Systems
BrowserMatchNoCase LINUX LINUX
BrowserMatchNoCase MAC MAC
BrowserMatchNoCase WINDOWS WIN
AddHandler server-parsed .txt

# this does some magic
RewriteEngine On 
#search shortcut
RewriteRule ^search search.html
#RewriteRule ^download download.html
RewriteRule ^/days2/sage-car.png old/days2/sage-car.png

# .com -> .org
RewriteCond %{HTTP_HOST} ^sagemath.com$ [NC]
RewriteRule ^(.*)$ http://www.sagemath.org/$1 [R=301,L]
# once again
RewriteCond %{HTTP_HOST} ^www.sagemath.com$ [NC]
RewriteRule ^(.*)$ http://www.sagemath.org/$1 [R=301,L]

# reporting an issue
Redirect 301 /report-issue http://ask.sagemath.org
#old pages are moved - this catches wrong links
Redirect 301 /old http://boxen.math.washington.edu/home/sagemath/www/
Redirect 301 /ack.html http://www.sagemath.org/development-ack.html
Redirect 301 /dev.html http://www.sagemath.org/development.html
Redirect 301 /art/ http://www.sagemath.org/old/art/
Redirect 301 /documentation.html http://www.sagemath.org/help.html
Redirect 301 /lists.html http://www.sagemath.org/help-groups.html
Redirect 301 /packages.html http://www.sagemath.org/download-packages.html
Redirect 301 /dist/src/index.html  http://www.sagemath.org/src/index.html
Redirect 301 /pub.html  http://www.sagemath.org/library-publications.html
Redirect 301 /sage.html http://www.sagemath.org/
Redirect 301 /marketing.html http://www.sagemath.org/library-marketing.html
Redirect 301 /library/books.html http://www.sagemath.org/library-books.html
Redirect 301 /library/publications.html http://www.sagemath.org/library-publications.html
Redirect 301 /library/stories.html http://www.sagemath.org/library-stories.html
Redirect 301 /library/talks http://www.sagemath.org/talks
Redirect 301 /library/why.html http://www.sagemath.org/library-why.html
Redirect 301 /library/index.html http://www.sagemath.org/library.html
Redirect 301 /library/index.html http://www.sagemath.org/library.html
Redirect 301 /library/ http://www.sagemath.org/library.html
Redirect 301 /src http://www.sagemath.org/download-source.html
Redirect 301 /bin http://www.sagemath.org/download.html
Redirect 301 /en/ http://www.sagemath.org/
Redirect 301 /src-old http://boxen.math.washington.edu/home/sagemath/www-files/src-old/
Redirect 301 /src-old/ http://boxen.math.washington.edu/home/sagemath/www-files/src-old/

# redirect documentation to doc.sagemath.org
RewriteCond %{HTTP_HOST} ^www.sagemath.org$ [NC]
RewriteRule ^doc(.*)$ http://doc.sagemath.org/html/en$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^sagemath.org$ [NC]
RewriteRule ^doc(.*)$ http://doc.sagemath.org/html/en$1 [R=301,L]

# old wrong doc directory rewrite
RewriteCond %{HTTP_HOST} ^www.sagemath.org$ [NC]
RewriteRule ^doc/html(.*)$ http://www.sagemath.org/doc$1 [R=301,L]
RewriteCond %{HTTP_HOST} ^sagemath.org$ [NC]
RewriteRule ^doc/html(.*)$ http://www.sagemath.org/doc$1 [R=301,L]

# old documentation pages
#RewriteCond %{HTTP_HOST} ^www.sagemath.org$ [NC]
#RewriteRule ^doc/ref(.*)$ http://www.sagemath.org/doc/reference$1 [R=301,L]
#RewriteCond %{HTTP_HOST} ^sagemath.org$ [NC]
#RewriteRule ^doc/ref(.*)$ http://www.sagemath.org/doc/reference$1 [R=301,L]


# this translates the www. less hg request to the correct one
RewriteCond %{HTTP_HOST} ^sagemath.org$ [NC]
RewriteCond %{REQUEST_URI} ^/hg/(.*)$ [NC]
RewriteRule ^(.*)$ http://www.sagemath.org/hg/%1 [R=301,L]

# this translates sagemath.org/hg to /hg/ (file vs. directory)
RewriteCond %{REQUEST_URI} ^/hg [NC]
RewriteRule ^(.*)$ http://www.sagemath.org/hg/ [R=301,L]

#CACHING - keep content files in browser cache for 3 hours, images 2 days, and packages never
<IfModule mod_headers.c>
 <FilesMatch "\.(ico|gif|jpg|jpeg|png)$">
  Header set Cache-Control "max-age=200000, public"
 </FilesMatch>
 <FilesMatch "\.(shtml|html|htm|txt|flv|avi|mpeg|js|css|pdf|swf|xml)$">
  Header set Cache-Control "max-age=10000, public"
 </FilesMatch>
 <FilesMatch "\.(spkg|exe|tar|tar.gz|gz|tgz)$">
  Header set Cache-Control "max-age=0"
 </FilesMatch>
</IfModule>

# I don't understand mod_expires ... 
#<IfModule mod_expires.c>
# <FilesMatch "\.(flv|avi|mpeg|gif|jpg|jpeg|png|js|css|pdf|swf|xml|html|htm|txt)$">
#  ExpiresDefault A10000
# </FilesMatch>
#</IfModule>


