{% extends 'base.html' %}
{% set title = "404 Error" %}

{% block header %}
<style type="text/css">
    /*<![CDATA[*/
    input.c1 {font-size:85%;vertical-align:middle;}
    /*]]>*/
</style>
<style type="text/css">
    /*<![CDATA[*/
    #goog-wm { }
    #goog-wm h3.closest-match { }
    #goog-wm h3.closest-match a { }
    #goog-wm h3.other-things { visibility: hidden; font-size:0; height: 0;}
    #goog-wm ul li { }
    #goog-wm li.search-goog { display: block; }
    /*]]>*/
</style>
{% endblock %}

<!--#include virtual="/inc/header-404.shtml" -->


{% block content %}
<h1 class="narrow">404 Error: page not found</h1>

 <div class="narrow">
  Requested page could not be found.
<script type="text/javascript">
  var GOOG_FIXURL_LANG = 'en';
  var GOOG_FIXURL_SITE = 'http://www.sagemath.org/';
</script>
<script type="text/javascript"
     src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js">
</script>

  <ul>
   <li><a href="http://www.sagemath.org/index.html">Sage</a></li>

   <li><a href="http://www.sagemath.org/download.html">Download</a></li>

   <li><a href="http://www.sagemath.org/tour.html">Tour</a></li>

   <li><a href="http://www.sagemath.org/library.html">Library</a></li>

   <li>
    <form action="http://www.sagemath.org/search.html"
          method="get">
     <a href="/search.html">Search</a> – <input class="c1"
           type="text"
           name="search" /> <input value="search"
           type="submit" />
    </form>
   </li>
  </ul>
 </div><!--#set var="track404" value="1"-->
{% endblock %}