{% extends 'base.html' %}
{% set title = "Contact" %}

{% block content %}
 <h1 class="narrow">Contact the Sage Project</h1>

 <div class="narrow">
  <ul>
   <li><a href="http://www.sagemath.org/help.html"><strong>support and help</strong></a></li>
   
   <li><a href="http://wiki.sagemath.org/support/ReportingBugs">Report Bugs</a></li>

   <li><a href=
   "http://mailhide.recaptcha.net/d?k=01TaDHLUV5NyEImof1o1Uc6g==&amp;c=FL7HswaKHTXj2z5h3N4AQv-RDVShkk-GPt2DjGEYrV0="
      onclick=
      "window.open(&#39;http://mailhide.recaptcha.net/d?k=01TaDHLUV5NyEImof1o1Uc6g==&amp;c=FL7HswaKHTXj2z5h3N4AQv-RDVShkk-GPt2DjGEYrV0=&#39;, &#39;&#39;, &#39;toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300&#39;); return false;">
   William Stein</a>: general inquiries (no support, no bugreports), press, donations.<br>
<b>WARNING</b>: If you send me an unsolicited email related to <a href="http://sagemath.org">Sage</a>, I will by
default cc my response to one of the public Sage mailing lists 
(such as <a href="http://groups.google.com/group/sage-support">sage-support</a>). If you explicitly ask that I don't, then 
I will not respond to your email.
 
I do this because I feel that I am often not the best person to 
respond to a Sage question, and I want to give all Sage developers 
a chance to respond as well.  Very, very often, somebody other than 
me is better qualified to answer a question.
 
 -- William
 
</li>
   <li><a {{ webmaster_href }} >
   Harald Schilly</a>: webmaster, website, mailing lists, <a href="./mirrors.html">mirrors (rsync)</a>, <a href="http://planet.sagemath.org">Planet Sage</a>, press, ...</li>

   <li><a href="http://sage.math.washington.edu/home/mvngu/">Minh Van Nguyen</a>: 
     publications list, website,  mailing lists. For a <a href="http://trac.sagemath.org/sage_trac/">trac account</a>, please send me your full name, your preferred username, and your preferred contact email address. Based on these information, I'll setup your trac account.
   </li>
  </ul>
 </div>
{% endblock %}