{% extends 'base.html' %}
{% set title = "Contact" %}

{% block content %}
 <h1 class="narrow">Contact the {{ sage }} Project</h1>

 <div class="narrow">
  <ul>
   <li><a href="https://www.sagemath.org/help.html"><strong>support and help</strong></a></li>

   <li><a href="https://doc.sagemath.org/html/en/developer/trac.html#reporting-bugs">Report Bugs</a></li>

   <li><a href="{{ git_website }}">Website Project</a> &mdash;
       that's the place for anything related to the website itself,
       fix typos, add content, etc.

   <ul>
    <li><b>Can I use the <a href="https://github.com/sagemath/website/tree/master/src/pix">Logo</a>?</b> &mdash;
        Yes, the logo (like all media on the website) is covered by the
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.
   </ul>

   </li>

   <li><a href="{{ webmaster_href }}" >
   Harald Schilly</a>: webmaster, website,
       <a href="{{ 'mirrors.html'|prefix }}">mirrors (rsync)</a>,
       Planet {{ sage }}, press,
     publications list, website,  mailing lists, infrastructure, older versions, ...
   </li>

   <li><a href="mailto:wstein@gmail.com">
   William Stein</a>: general inquiries (no support, no bugreports), press, donations.<br>
<b>WARNING</b>: If you send me an unsolicited email related to <a href="https://www.sagemath.org">{{ sage }}</a>, I will by
default cc my response to one of the public {{ sage }} mailing lists 
(such as <a href="https://groups.google.com/group/sage-support">sage-support</a>). If you explicitly ask that I don't, then I will not respond to your email.
<br/>
I do this because I feel that I am often not the best person to 
respond to a {{ sage }} question, and I want to give all {{ sage }} developers 
a chance to respond as well.  Very, very often, somebody other than 
me is better qualified to answer a question.
<br/>
 -- William
</li>
  </ul>
 </div>
{% endblock %}
