{% extends 'base.html' %}
{% set title = "Development Prize" %}

{% block content %}
<h1 class="narrow">SageMath Prize (2015&ndash;)</h1>

<div class="narrow">
The new SageMath Prize is funded by donations to Sage via OpenCollective. At least two prizes will be awarded each year to acknowledge and encourage:
<ul>
  <li> contributions to the Sage codebase and third party ecosystem,
  <li> spread of the use of Sage via workshops and other mechanisms,
  <li> maintenance of infrastructure, and
  <li> organization and funding of Sage development.
</ul>
</div>

<div class="narrow">
The 2015&ndash;2021 prize committee was Eric Gourgoulhon, John Cremona, William Stein, Samuel Lelièvre, and Karl-Dieter Crisman. The committee has named 10 winners for their contributions during the period from 2015 until now. Each winner receives our congratulations and thanks, and also $300! The 10 prize winners appear below in alphabetical order, like mathematics paper authors.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: E. Madison Bray</h2>

<div class="narrow">
<b>E. Madison Bray</b> (they) is awarded the 2015&ndash;2021 SageMath Prize for numerous developments in the Sage code base, porting Sage to Microsoft Windows, improving the documentation of Sage, and organizing Sage Days.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Frédéric Chapoton</h2>

<div class="narrow">
<b><a href="https://irma.math.unistra.fr/~chapoton/">Frédéric Chapoton</a></b>, IRMA (CNRS et Université de Strasbourg), is awarded the 2015&ndash;2021 SageMath Prize 
for incredible amounts of development contributions to the core codebase, especially regarding the migration from Python&nbsp;2 to Python&nbsp;3, high quality reviewing of trac tickets, general quality improvements and support of infrastructure.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Matthias Köppe</h2>

<div class="narrow">
<b><a href="https://www.math.ucdavis.edu/~mkoeppe/">Matthias Köppe</a></b> (he/him), UC Davis, is awarded the 2015&ndash;2021 SageMath Prize 
for incredible and consistent contributions to the core Sage library, especially the <a href="https://trac.sagemath.org/ticket/29705">modularization effort</a>, which has the potential to massively extend the sustainability and broad impact of the Sage Python codebase.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Thierry Monteil</h2>

<div class="narrow">
<b><a href="https://lipn.univ-paris13.fr/~monteil/contact/index.en.html">Thierry Monteil</a></b>, <a href="https://wiki.sagemath.org/ThierryMonteil">tmonteil</a>, is awarded the 2015&ndash;2021 SageMath Prize for an <a href="https://ask.sagemath.org/users/1305/tmonteil/">extraordinary amount</a> of user support and deploying and maintaining the thriving <a href="http://ask.sagemath.org/">ask.sagemath.org</a> server. Also, for spreading Sage via the Sage Debian Live USB key project and by strong participation in many Sage Days.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Andrey Novoseltsev</h2>

<div class="narrow">
<b>Andrey Novoseltsev</b> is awarded the 2015&ndash;2021 SageMath Prize for long-term maintenance, support and development of the <a href="https://sagecell.sagemath.org/">Sage cell server</a>, which is the most immediately accessible way to run Sage. Also, for many contributions to UTMOST and PreTeXt.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Dima Pasechnik</h2>

<div class="narrow">
<b><a href="https://www.cs.ox.ac.uk/people/dmitrii.pasechnik/">Dmitrii Pasechnik</a></b> (a.k.a. Dima), Department of CS, Oxford University, UK, is awarded the 2015&ndash;2021 SageMath Prize for overall contributions, including care of orphaned packages, thoughtful discussion of important issues on mailing lists, long-term math and code contributions, user support, support of Google Summer of Code and OpenCollective.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Viviane Pons</h2>

<div class="narrow">
<b><a href="https://www.lri.fr/~pons/en/">Viviane Pons</a></b> (she/her), Université Paris-Saclay, is awarded the 2015&ndash;2021 SageMath Prize for community building, training, and <a href="https://opendreamkit.org/2017/04/06/WomenInSage/">Sage Days</a> organization and <a href="https://opendreamkit.org/2019/06/28/WomenInSage/">outreach</a> far and wide. Also for contributions to documentation and publicity about Sage via OpenDreamKit, and core contributions to the Sage codebase and related packages.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Harald Schilly</h2>

<div class="narrow">
<b><a href="https://about.cocalc.com/the-people-behind-sagemath-inc-and-cocalc/">Harald Schilly</a></b> (he/him), <a href="https://cocalc.com/">CoCalc</a>, is awarded the 2015&ndash;2021 SageMath Prize for consistent contributions since 2007, including design and maintenance of the very functional <a href="https://sagemath.org/">Sage website</a> (e.g., Sage is on the first page of Google for searching for "math software"), debugging and maintaining doc.sagemath.org, administering Sage's Google Summer of Code involvement, helping with OpenCollective, and maintaining many Sage distributions as part of CoCalc.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Travis Scrimshaw</h2>

<div class="narrow">
<b><a href="https://tscrim.github.io">Travis Scrimshaw</a></b> (he/him), Osaka Metropolitan University<!--- before April, this was called Osaka City University; affiliation changes July 2022 to Hokkaido University --->, is awarded the 2015&ndash;2021 SageMath Prize for major contributions to the core library, his excellent review of trac tickets, and his major long-term contributions to Sage's participation in Google Summer of Code.
</div>

<h2 class="narrow">2015&ndash;2021 SageMath Prize: Nicolas M. Thiéry</h2>

<div class="narrow">
<b><a href="https://Nicolas.Thiery.name/">Nicolas M. Thiéry</a></b> (he/him), LISN, Université Paris-Saclay, is awarded the 2015&ndash;2021 SageMath Prize for having a massive impact on the development of Sage over the last decade by leading sage-combinat, his core code structure contributions (e.g., categories), and leading the <a href="https://opendreamkit.org/">OpenDreamKit grant</a>. He was a driving force behind making Sage the world's best software for algebraic combinatorics.
</div>

<h1 class="narrow">Annual Spies {{ sage }} Development Prize (2008&ndash;2014)</h1>

 <div class="narrow">
  The Spies {{ sage }} Development Prize was an annual award worth $500 that will be given to a person who
  makes major and inspiring contributions to the development of the {{ sage }} Mathematical Software
  System. The goal of the prize was to acknowledge the recipient and to encourage him or
  her to continue to do excellent development work on {{ sage }}. It was funded by donations to the {{ sage }}
  Foundation by Jaap Spies, and cannot be awarded to the same person twice.
 </div>

<h2 class="narrow">2014 Spies Prize: Volker Braun</h2>

<div class="narrow">
<b>Volker Braun</b> is a key contributor to all aspects of
{{ sage }} development, contributing code and reviews for core mathematical
functions and providing technical improvements to the build system and
code maintenance.  He has quickly become a central figure in the {{ sage }}
development community.
</div>
<div class="narrow">
In his four years of involvement, Volker has moved from contributing
code for cohomology of toric varieties to being the current release
manager.  Along the way, he has greatly improved the integration of
GAP with libGAP, created and distributed virtual machine versions of
{{ sage }} and the {{ sage }} notebook, managed much of the transition to git
version control over the past nine months, and made numerous
improvements to doctesting, the build system and overall code
maintenance.  He has fixed many difficult bugs, while also being a
generous reviewer.
</div>
<div class="narrow">
In recognition of his important and sustained contributions across all
aspects of {{ sage }} development, Volker Braun is awarded the 2014 Spies
{{ sage }} Development Prize.  This award carries a prize of $500 from the
{{ sage }} Foundation (thanks to Jaap Spies)
</div>

<h2 class="narrow">2013 Spies Prize: Jeroen Demeyer</h2>

<div class="narrow">
<b>Jeroen Demeyer</b> has provided excellent service to the {{ sage }} community as
release manager, starting with Version 4.6.1 in January 2011, just
five months after his first code contribution.  He has continued to
contribute significant code to the {{ sage }} library in the area of number
theory, including over forty contributions related to the fundamental
{{ sage }} package of PARI.
</div>
<div class="narrow">
Jeroen is everything the {{ sage }} community could ask for in a release
manager.  He is a trusted custodian of the code and has built an
impressive system for frequent beta and final releases.  He works
carefully with developers and users to balance the priorities of
fast-paced cutting-edge development, backwards compatibility,
portability, and high-quality software.  During his tenure as release
manager, he has earned great respect while making difficult decisions
as he shaped the {{ sage }} that the world sees.  His efficient, timely,
fair and knowledgeable work has won him the admiration of the {{ sage }}
development community and has rendered a great service to the much
larger user community.
</div>
<div class="narrow">
For his conscientious and technically excellent work as {{ sage }} release
manager, and his significant contributions to the {{ sage }} library, Jeroen
Demeyer is awarded the 2013 Spies Prize.
</div>

<h2 class="narrow">2012 Spies Prize: Jason Grout</h2>

<div class="narrow">
<strong>Jason Grout</strong> is a constant presence across the
{{ sage }} landscape.  He is extremely active in the discussion groups, comments on
many tickets, contributes code to the core {{ sage }} library, improves the
documentation, and works tirelessly to improve the notebook interface.  He
contributes in many ways to make {{ sage }} a better tool for mathematics
research, but he is perhaps most recognized for his efforts to make
{{ sage }} an effective tool for teaching mathematics.
</div>
<div class="narrow">
Jason's mathematical tastes have resulted in major code contributions
for linear algebra, graph theory, plotting and symbolics.  These are
all important areas for the undergraduate mathematics curriculum.  But
he is equally interested in {{ sage }} infrastructure, such as LaTeX
representation, usability improvements to Trac server, format and
delivery of documentation, and NumPy/SciPy integration.  With a strong
background in web applications, his work on the notebook interface is
both visionary and technically strong.  A recent project he runs is
the {{ sage }} Cell Server, which allows a remote server to accept {{ sage }} code
and return results without any account or login.  This can power
interactive demonstrations on web pages or computations via mobile
devices, and the principles and implementations will be used in
increasing the scalability of {{ sage }} servers.  As an example of his
interest in education, this project has involved several undergraduate
students in significant ways.  Jason also gives freely of his time to
help other users and developers.  He is the second most numerous
poster of all time in the sage-support forum, in the top five for the
sage-devel, sage-edu and sage-notebook forums, and he has the
fifth-highest karma at the Ask {{ sage }} site.
</div>
<div class="narrow">
For his significant and inspiring technical contributions, his massive
contributions to the vitality of the {{ sage }} community, his work on
making {{ sage }} available via the notebook and cell servers, and his
interest in education, Jason Grout is awarded the 2012 Spies {{ sage }}
Development Prize. This award carries a prize of $500 from the {{ sage }}
Foundation (thanks to Jaap Spies).
</div>

<h2 class="narrow">2011 Spies Prize: Robert Bradshaw</h2>

<div class="narrow">
<strong>Robert Bradshaw</strong> has been an extremely active and productive {{ sage }}
developer for over five years.  Additionally, he has been a leader,
both in maintaining the community and in important design decisions.
</div>
<div class="narrow">
He is probably best known for his work on Cython, which is critical for
the performance of many key parts of {{ sage }}, and his work designing and
implementing the coercion model, which makes many powerful
mathematical constructions possible. However, his interests and
significant contributions are wide-ranging, including: exact linear
algebra, arithmetic of elliptic curves, L-functions, 3-D plotting and
parallel building.  A recent project is the patchbot tool, which
automates testing contributions posted on trac.  Moreover, he is an
important contributor to trouble-shooting and design discussions in
the sage-devel forum and is also the third most numerous poster of all
time in the sage-support forum.
</div>
<div class="narrow">
For his many important technical contributions, and his long-time and
continuing involvement in the {{ sage }} community, Robert Bradshaw is
awarded the 2011 Spies {{ sage }} Development Prize.  This award carries a prize
of $500 from the {{ sage }} Foundation (thanks to Jaap Spies).
</div>

<h2 class="narrow">2010 Spies Prize: Minh Van Nguyen</h2>

<div class="narrow">
<strong>Minh Van Nguyen</strong> is an integral part of the {{ sage }} development effort. 
He is awarded the 2010 Spies Development Prize in recognition of his 
code contributions, release management, support for new users and 
outstanding work on documentation.
</div>
<div class="narrow">
Minh's mathematical interests are primarily in discrete mathematics 
and he has contributed substantial new code and fixes to the {{ sage }} 
library, especially for cryptography and graph theory.  Minh assumed 
release management duties in Summer 2009 and has diligently performed 
this difficult task with calm and goodwill. The build system and 
documentation of the release cycle have greatly benefited from his 
involvement.  Present in the sage-devel IRC channel at all hours, he 
welcomes newcomers and patiently helps with the most basic questions 
about mathematics, syntax and programming, in addition to frequenting 
the forums.  His meticulous work on documentation is legendary within 
the {{ sage }} community. Doctests, tutorials, manuals and web pages have 
all benefited from his detailed work and suggestions for major 
improvements and innovations.  His release tours are useful, accurate 
and informative chronicles of {{ sage }} development. 
</div>
<div class="narrow">
For his consistently conscientious commitment to {{ sage }} development, 
Minh Nguyen is the recipient of the 2010 Spies Development Prize. 
This award carries a prize of $500 from the {{ sage }} Foundation (thanks to 
Jaap Spies). 
</div>
 
<h2 class="narrow">2009 Spies Prize: Michael Hansen</h2>

<div class="narrow">
The 2009 Spies {{ sage }} Development Prize ($500) is awarded to
<strong>Michael Hansen</strong> for his work on redesigning the {{ sage }} documentation
system to use Sphinx, porting {{ sage }}'s symbolics to Pynac, and his
massive contributions to the combinatorics codebase, which led to the
MuPAD-combinat community moving over to {{ sage }}.  Over the last 3 years,
Hansen has also done extensive work refactoring the {{ sage }} notebook,
fixing bugs all over {{ sage }}, writing documentation, and restructing old
code.  He has been an active leader in the {{ sage }} community, helping to
organize and participate in numerous {{ sage }} Days workshops, refereeing
hundreds of patches, and actively supporting users on the mailing
lists.  Hansen's work on {{ sage }} consistently combines a humble and kind
demeanor with a brilliant knowledge of the Python eco-system.
</div>

<h2 class="narrow">2008 Spies Prize: Michael Abshoff</h2>

 <div class="narrow">
  The first annual Spies {{ sage }} Development Prize is awarded to <strong>Michael Abshoff</strong> for
  his superb work improving the overall quality of the sage development process, making numerous
  high quality {{ sage }} releases, leading the way in drastically reducing memory leaks in {{ sage }}, and
  porting {{ sage }} to run on Windows, Solaris and 64-bit OS X.
 </div>
{% endblock %}