{% extends 'base.html' %}
{% set title = sage + " developers around the world" %}
{% import 'devs.html' as devs %}

{% block header %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3YiQ---yL6-QfoW9heq4-VbrAQzerhhA"  type="text/javascript"></script>
<script src="res/markerclusterer.js" type="text/javascript"></script>
<script src="res/devmap2.js" type="text/javascript"></script>
{% endblock %}


{% block content %}
<h1>{{ title }}</h1>

<div class="padding center narrow">
    This map shows many contributors of the {{ sage }} project from all around the world.<br/>
    There are currently <span id="contrib-nb">{{ devs.number() }}</span> in
    <span id="contrib-places">{{ devs.places() }}</span> different places.
</div>

<div class="mapzoom" id="mapzoom">
    Map Zoom:
    <a href="javascript:;" onclick="zoomTo(&quot;ALL&quot;);">Earth</a> -
    <a href="javascript:;" onclick="zoomTo(&quot;USA&quot;);">USA</a> (
    <a href="javascript:;" onclick="zoomTo(&quot;UW&quot;);">UW</a>,
    <a href="javascript:;" onclick="zoomTo(&quot;USAW&quot;);">West </a> ,
    <a href="javascript:;" onclick="zoomTo(&quot;USAE&quot;);">East</a>) -
    <a href="javascript:;" onclick="zoomTo(&quot;Europe&quot;);">Europe</a> -
    <a href="javascript:;" onclick="zoomTo(&quot;Africa&quot;);">Africa</a> -
    <a href="javascript:;" onclick="zoomTo(&quot;Asia&quot;);">Asia</a> -
    <a href="javascript:;" onclick="zoomTo(&quot;SAM&quot;);">S. America</a> -
    <a href="javascript:;" onclick="zoomTo(&quot;Australia&quot;);">Australia</a>
</div>
 
<div class="center" id="devmap">
<noscript>
<div class="center large narrow">
   Sorry, here would be an interactive map, but it seems that you have disabled Java-Script. Please
   enable it and reload!
</div>
</noscript>
</div>
 
<div id="devcloudp">
<div id="devcloud"></div>
</div>
 
<h2>
{{ sage }} Developers
</h2>
<table class="devlist">
  <colgroup>
<col width="25%"/>
<col width="25%"/>
<col width="25%"/>
<col width="25%"/>
</colgroup>
<thead>
   
<tr>
<th>Name</th>
<th>Uni/Work</th>
<th>Location</th>
<th>Description</th>
</tr>
</thead>

{{ devs.devs() }}

</table>
 
<div class="narrow small center">
  If you are missing, please email the webmaster your name, location, university/work, what you
  did, perhaps your homepage and a small picture.
</div>
{% endblock %}
