{% extends 'base.html' %}
{% set title = "Development Status" %}

{% block content %}
 <h1 class="narrow">Status of Development</h1>

 <h2 class="narrow">Trac</h2>

 <table class="top narrow">
  <colgroup>
   <col width="50%" />
  </colgroup>

  <tbody>
   <tr>
    <td>
     <div class="txt">
      Trac is the organization tool for developing new code. Below, a quick view what&#39;s
      currently happening. For more detailed information click
         <a href="http://trac.sagemath.org/timeline">here</a>,
         <a href="http://git.sagemath.org/sage.git/">here</a>
         or read the
         <a href="http://trac.sagemath.org/">introduction</a>.
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div id="tracfeed"></div>
    </td>
   </tr>
  </tbody>
 </table>
<script type="text/javascript"
      src="http://www.google.com/jsapi?key=ABQIAAAA9l-aWy6wHEH5peWCry_l4hQm4J-jBIjYt60ld8MMTn6uhPOgVhSg6NCleXrEpyNFs6aDpgXODBd72w">
</script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
      type="text/javascript">
</script>
<script type="text/javascript">
//<![CDATA[
 function initialize() {
 var feedtrc = [unescape("http://trac.sagemath.org/timeline?milestone=on&amp;ticket=on&amp;wiki=off&amp;max=50&amp;daysback=20&amp;format=rss")];
 var options = {
  stacked : false,
  horizontal : false,
  title : "",
  numResults : 50
 }
 new GFdynamicFeedControl(feedtrc, 'tracfeed', options);
 }
 google.load('feeds', '1');
 google.setOnLoadCallback(initialize);
 //]]>
</script>
{% endblock %}
