{% extends 'base.html' %}
{% set title = "Development Search" %}

{% block content %}
 <h1>Search Engine for Developers</h1><noscript>

<div class="txt narrow">
  See <a href="https://github.com/sagemath/sage">sagemath/sage</a> (GitHub).
</div>

   <li>
    <form action="http://wiki.sagemath.org/"
          method="get">
     Search in <a href="http://wiki.sagemath.org/">{{ sage }} Wiki</a>: <input name="value"
           type="text" /> <input id="titlesearch"
           name="titlesearch"
           value="Titles"
           alt="Search Titles"
           type="submit" />&#160;<input id="fullsearch"
           name="fullsearch"
           value="Text"
           alt="Search Full Text"
           type="submit" /> <input type="hidden"
           name="action"
           value="fullsearch" />
    </form>
   </li>

  </ul>
 </div>

 <div id="savedsearch"></div>
{% endblock %}