{% extends 'base.html' %}
{% set title = "Development Search" %}

{% block content %}
 <h1>Search Engine for Developers</h1><noscript>

   <li>
    <form action="http://wiki.sagemath.org/"
          method="get">
     Search in <a href="http://wiki.sagemath.org/">{{ sage }} Wiki</a>: <input name="value"
           type="text" /> <input id="titlesearch"
           name="titlesearch"
           value="Titles"
           alt="Search Titles"
           type="submit" />&#160;<input id="fullsearch"
           name="fullsearch"
           value="Text"
           alt="Search Full Text"
           type="submit" /> <input type="hidden"
           name="action"
           value="fullsearch" />
    </form>
   </li>

   <li>
    <form action="http://trac.sagemath.org/sage_trac/search"
          method="get">
     Search in <a href="http://trac.sagemath.org/sage_trac/">{{ sage }} trac</a>: <input name="q"
           type="text" />&#160;<input type="submit"
           value="search" />
    </form>
   </li>

  </ul>
 </div>

 <div id="savedsearch"></div>
{% endblock %}