{% extends 'base.html' %}
{% set title = "Development" %}

{% block content %}
<h1 class="narrow">Information for Developers</h1>

<div class="narrow txt">
  {{ sage }} is an <em>open-source project</em> and has a very welcoming developer community. We invite
  newcomers to help improve the code or contribute in other ways. A good start is the {{ sage }} <a href=
  "doc/developer/">Developer's Guide</a><!-- (<a href="doc-pdf/prog.pdf">PDF</a>) -->
  and the <a href="{{ docroot }}/html/en/faq/">{{ sage }} FAQ</a>.<br/>
  <br/>Our mission is:
</div>

<div class="narrow center large txt">
  <strong><em>Creating a viable free open source alternative to<br />
  Magma, Maple, Mathematica and Matlab.</em></strong>
</div>

<div class="narrow">
  <ul>
    <li><a href="https://github.com/sagemath/sage/blob/develop/CONTRIBUTING.md">Contributing to {{ sage }}</a></li>
    <li><a href= "{{ docroot }}/html/en/developer/">{{ sage }} Developer Guide</a></li>
    <li><a href="{{ docroot }}/html/en/faq/">{{ sage }} FAQ</a></li>
    <ul>
      <li><a href="{{ docroot }}/html/en/faq/faq-general.html">FAQ about the {{ sage }} project</a></li>
      <li><a href="{{ docroot }}/html/en/faq/faq-usage.html">FAQ about using {{ sage }}</a></li>
      <li><a href="{{ docroot }}/html/en/faq/faq-contribute.html">FAQ about contributing to {{ sage }}</a></li>
    </ul>
    <li><a href="https://wiki.sagemath.org/ReleaseTours/">Release Tours</a>, <a href="./changelogs/">Changelogs</a></li>
    <li><a href="https://vimeo.com/14044496">Video: Contributing to {{ sage }}</a> from <a href="https://vimeo.com/user1449175">William Stein</a> on <a href="http://vimeo.com">Vimeo</a>.
  [<a href="https://wiki.sagemath.org/daysindia25/schedule?action=AttachFile&do=view&target=stein-contrib.pdf">download presentation (pdf)</a>.
  {# <a href="http://sage.math.washington.edu/home/wstein/video/sagedays25/Contributing%20to%20Sage.m4v">download video (m4v)</a> #}
      ]</li>
  </ul>
</div>

{% endblock %}
