{% extends 'base.html' %}
{% set title = "Development" %}

{% block content %}
 <h1 class="narrow">Information for Developers</h1>

 <div class="narrow txt">
  {{ sage }} is an <em>open-source project</em> and has a very welcoming developer community. We invite
  newcomers to help improve the code or contribute in other ways. A good start is the {{ sage }} <a href=
  "doc/developer/">Developer's Guide</a><!-- (<a href="doc-pdf/prog.pdf">PDF</a>) -->
  and the <a href="{{ docroot }}/html/en/faq/">{{ sage }} FAQ</a>.<br/>
  <br/>Our mission is:
 </div>

 <div class="narrow center large txt">
  <strong><em>Creating a viable free open source alternative to<br />
  Magma, Maple, Mathematica and Matlab.</em></strong>
 </div>

<h2 class="narrow">Introduction</h2>

 <div class="narrow txt">
  {{ sage }} can give students and other contributors a wonderful experience in developing in a
  large-scale, supportive, and rigorous environment. All code is peer-reviewed, all functions must
  be documented and unit-tested on a variety of platforms and systems. Python is used as a base
  language, Git is used as the source code revision system, and Trac is used to <a href=
  "./development-status.html">track all support/development issues</a>. All of these tools are very
  capable and used in many other small and large-scale projects. The mailing lists are
  <em>extremely</em> supportive and responsive, as is the highly active IRC channel. There are
  <a href="./development-map.html">around 150 people</a> that have contributed code directly to
  {{ sage }}, including many leaders in mathematics, as well as professionals (e.g., one main developer
  is a retired Apple kernel engineer, another works at machine vision company in Seattle, etc.),
  graduate students, and undergraduate students. There are releases about every 3-4 weeks, under
  the attitude of &quot;release early, release often&quot;, so students could see their code in the
  real live software several times before the semester is over. Contributions of all sorts are
  heartily welcomed, but attention is paid to making sure that the system does not become bloated
  and disorganized. The mission statement allows for a very wide variety of contributions. From a
  software engineering standpoint, {{ sage }} is a wonderful project to be engaged in.
 </div>
 <div class="narrow">
  Links:
  <ul>
    <li><a href= "{{ docroot }}/html/en/developer/">{{ sage }} Developer Guide</a></li>
    <li><a href="{{ docroot }}/html/en/faq/">{{ sage }} FAQ</a></li>
    <li><a href="{{ docroot }}/html/en/faq/faq-contribute.html">How to contribute to {{ sage }}</a></li>
    <li><a href="./changelogs/">Release Notes</a></li>
  </ul>
</div>

 <h2 class="narrow">Contributing to Sage</h2>
<div class="narrow center txt">
<object width="640" height="480">
    <param name="allowfullscreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=14044496&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=1&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" />
    <embed src="http://vimeo.com/moogaloop.swf?clip_id=14044496&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=1&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="640" height="480"></embed>
</object>
<p>
 <a href="http://vimeo.com/14044496">Contributing to {{ sage }}</a> from <a href="http://vimeo.com/user1449175">William Stein</a> on <a href="http://vimeo.com">Vimeo</a>.</p><p>This is a video that describes how to contribute to the {{ sage }} (<a href="http://www.sagemath.org/">http://www.sagemath.org/</a>) project, and includes many sources of ideas.
[<a href="http://wiki.sagemath.org/daysindia25/schedule?action=AttachFile&do=view&target=stein-contrib.pdf">download presentation (pdf)</a>,
<a href="http://sage.math.washington.edu/home/wstein/video/sagedays25/Contributing%20to%20Sage.m4v">download video (m4v)</a>]</p>
</div>

{% endblock %}
