{% extends 'download-tmpl.html' %}
{% set title = "Source Code Distribution" %}
{% from "mirrorselector-src.html" import mirrors %}

{% block content %}
 <h1 class="narrow">Source Code Distribution</h1>

 <div class="txt large narrow bluebg round">
 <!--<a href="./src/">Download Source Code</a>-->
 <div class="txt border">
  <strong>The newest source code release is {{ version_src }}. 
  </strong>   
  <br/>
   {{ mirrors("src") }}
 </div>
 </div>

<div>&nbsp;</div>

 <div class="txt narrow bluebg round">
 <div class="center border">
  You can also download <a href="http://old.files.sagemath.org/src-old/">
	<strong>Older Versions</strong> of {{ sage }}
  </a>.
 </div>
 </div>

 <h2 class="narrow">Information</h2>

 <div class="narrow txt">
  Thank you for your interest in {{ sage }}! You can get the complete source for {{ sage }} to compile it on
  your own Linux or macOS system. {{ sage }} lives in an isolated directory and does not interfere with
  your surrounding system. It ships together with everything necessary to develop {{ sage }}, the source
  code and all its standard dependencies.
 </div>

 <div class="txt narrow">

  Please read the <a href="https://github.com/sagemath/sage/blob/master/README.md">README</a> and the 
  <a href="{{ docroot }}/html/en/installation/">installation guide</a> for more details, which also
  provides information on the installation prerequisites.

  <p>
    See also <a href="https://wiki.sagemath.org/ReleaseTours/sage-{{version_src}}">Release Tour for version {{version_src}}</a> and the <a href="changelogs/sage-{{version_src}}.txt">changelog</a>.<br />
  <p>
  You can <a href="https://github.com/sagemath/sage/">browse the Sage repository on GitHub</a>.<br />
 </div>
{% endblock %}
