{% extends 'base.html' %}
{% set title = "Download Binaries for Apple's macOS" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}

 <h1 class="narrow">Download Binaries for Apple's macOS</h1>

 <div class="txt narrow">
   These binaries are for all recent versions of macOS.  Usually the
   binary for a version or two before yours should work, e.g. 10.13
   should work on 10.15.  For more information
   <a href="https://doc.sagemath.org/html/en/installation/binary.html#macos">
   read the installation instructions</a>.
 </div>

 <div class="narrow xlarge txt bluebg round"> <strong>Note: </strong>
   For the currently recommended <strong>macOS</strong> binaries see the <a
   href="https://github.com/3-manifolds/Sage_macOS/releases">GitHub
   releases page</a>.  </div>

 <div class="narrow large txt">
   Below are raw binaries for expert users:
 </div>

 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>

 <div class="txt large bluebg round narrow">

 <div class="txt border">
  {{ mirrors("osx") }}
 </div>

 </div>

{% endblock %}
