{% extends 'download-tmpl.html' %}
{% set title = "Download Binaries for Microsoft Windows" %}
{% from "mirrorselector.html" import mirrors %}
{% set trademark = True %}

{% block content %}
 <h1 class="narrow">Download Binaries for Microsoft Windows</h1>
 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>

 <div class="narrow xlarge txt bluebg round">
   <strong>Note: </strong> For <strong>Windows</strong> installer binaries see the <a href="https://github.com/sagemath/sage-windows/releases">GitHub releases page</a>.
</div>

Other binaries for Windows have been discontinued.

{% endblock %}
