{% extends 'base.html' %}
{% set title = "Download Binaries" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}

 <h1 class="narrow">Download Binaries</h1>

 <div class="narrow txt">
  <form action="https://groups.google.com/group/sage-announce/boxsubscribe">
   There is a low traffic <a href="https://groups.google.com/group/sage-announce"
        >announcement mailing list</a> and an <a href=
         "https://groups.google.com/group/sage-announce/feed/atom_v1_0_msgs.xml">RSS feed</a> to
         stay informed about new releases. <span class="nowrap">Email: <input type="text"
          name="email" />&#160;<input type="submit"
          name="sub"
          value="Subscribe" /></span>
  </form>
 </div>
 <div class="narrow xlarge txt bluebg round">
   <strong>Note: </strong> For <strong>Windows</strong> installer binaries see the <a href="https://github.com/sagemath/sage-windows/releases">GitHub releases page</a>.
</div>

 <div class="narrow large txt">
   Below are the VirtualBox images:
 </div>
 <div class="narrow txt border bluebg round">
  <div  class="large txt">
    {{ mirrors("") }}
  </div>
 </div>

 <div class="narrow txt">
   Not sure what to download? Follow the
   <a href="https://wiki.sagemath.org/DownloadAndInstallationGuide">
   <strong>download and install guide</strong></a>.
 </div>

 <table class="narrow justify top"
        id="download">
  <colgroup>
   <col width="25%" />
   <col width="75%" />
  </colgroup>

  <tbody>
   <tr>
    <th>Microsoft Windows</th>

    <td>
     <div class="txt">
      <a href="./download-windows.html">Download Windows binaries</a>
     </div>
      To run {{ sage }} on Microsoft Windows there are two options:
      <ul>
        <li>
          For {{ sage }} 8.0 and up a native binary installer is now available.
          To use the installer you will need:
          <ol>
            <li>A 64-bit version of Windows 7 or up; there is not currently a 32-bit build</li>
            <li>Roughly 5 GB of free disk space (plus 1 GB for the installer file itself)
            <li>Read these <a href="http://wiki.sagemath.org/SageWindows">additional instructions</a>
          </ol>
        </li>
        <li>
          If you cannot use the binary installer for some reason, or simply
          prefer the {{ sage }} VirtualBox appliance, you can use it with the following:
          <ol>
           <li><a href="./download-windows.html">Image of a {{ sage }} installation for virtualization</a></li>
           <li>Read these <a href="http://wiki.sagemath.org/SageAppliance">additional instructions</a>
          </ol>
          <p>
            The current VirtualBox solution provides you with an encapsulated
            and tested system. It allows to use the {{ sage }} notebook in your web
            browser with no noticable speed loss compared to a native Linux
            install.
         </p>
        </li>
      </ul>
    </td>
   </tr>

   <tr>
    <th class="right">Linux</th>

    <td>
     <div class="txt">
      <a href="./download-linux.html">Download Linux binaries</a>
     </div>

     <div class="txt">
      Usage:

      <ol>
       <li>Select the one that suits your setup and extract it in your file-browser by right
       clicking &quot;extract&quot; or on the command-line using: <span class="code nowrap">tar
       xvzf sage...tar.gz</span>.</li>

       <li>Run sage by calling the command: <span class="code">sage</span>.</li>
      </ol>
     </div>

     <div class="">
      At the moment there are no distribution-specific packages available. Progress is being made
      for <a href="https://wiki.sagemath.org/devel/DebianSage"
          >Debian</a> 
           <!--(later maybe in <a href="">Scientific Ubuntu</a>)--> and <a href=
           "http://fedoraproject.org/wiki/SIGs/SciTech/SAGE"
          >Fedora</a>.
     </div>
    </td>
   </tr>


   <tr>
    <th>Apple Mac OS X</th>

    <td>
     <div class="txt">
      <a href="./download-mac.html">Download Mac OS X binaries</a>
     </div>

     <div>
      These binaries are primarily for the versions mentioned in the filenames. They will not work on OS X 10.3. Usually
      the binary for a version or two before your should work, e.g. 10.7 should work on 10.8.  For more
      information <a href="http://files.sagemath.org/osx/README.txt">read the installation instructions</a>.
     </div>
    </td>
   </tr>

   <tr>
    <th>Docker image</th>

    <td>
     <div class="txt">
      <a href="https://github.com/sagemath/docker-images/blob/master/README.md">Docker setup README.md</a>
     </div>
      <div>
        Follow the instructions in the README.md file to download and run it inside a <a href="https://www.docker.com/">docker container</a>.
      </div>
    </td>
   </tr>

   <tr>
    <th>Source</th>

    <td>
     <div class="txt">
      <a href="./download-source.html">Download complete source</a>
     </div>
    </td>
   </tr>

   <tr>
    <th>Development</th>

    <td>
     <div class="txt">
       The <a href="./download-latest.html">latest development release</a>.
     </div>
     <div>
       To get the source of the latest development release, choose a download mirror and follow relevant instructions on the mirror page.
     </div>
    </td>
   </tr>

   <tr>
    <th>{{ sage }} Live USB Key</th>

    <td>
     <div class="txt">
      <a href="./download-liveusb.html">Download {{ sage }} Live USB Key</a>
     </div>

     <div>
      This Live USB Key lets you run {{ sage }} directly from a bootable USB Key.
     </div>
    </td>
   </tr>

   <tr>
    <th>Additional Packages</th>

    <td>
     <div class="txt">
      <a href="./download-packages.html">Download additional packages</a>
     </div>

     <div>
      {{ sage }} consists of a selected set of packages which are well tested and integrated into the
      {{ sage }} framework. There are also other less integrated or unstable packages additionally
      available. Click <a href="./download-packages.html">here</a> to get an overview of all
      available packages.
     </div>
    </td>
   </tr>

   <tr>
    <th>Utilities</th>

    <td>
     <div class="txt">
      Useful utilities when working with {{ sage }}
     </div>

     <div>
      <ul>
       <li><a href="https://github.com/sagemath/sage-shell-mode">{{ sage }} Emacs Mode</a> — helps to work with
       {{ sage }} in Emacs.</li>

       <li><a href="http://www.ctan.org/tex-archive/macros/latex/contrib/sagetex/">{{ sage }}Tex LaTeX
       style</a> — this LaTeX style file allows to embed and process {{ sage }} code inside TeX files.
       <a href="./tour-research.html#latex">read more</a></li>
      </ul>
     </div>
    </td>
   </tr>
  </tbody>
 </table>

{% endblock %}
