{% extends 'download-tmpl.html' %}
{% set title = "Source Code Distribution (stable)" %}
{% from "mirrorselector-src.html" import mirrors %}

{% block content %}
 <h1 class="narrow">Download source code distribution (stable)</h1>

 <div class="narrow txt">
  Thank you for your interest in {{ sage }}! You can get the complete source for {{ sage }} to compile it on
  your own Linux, macOS, or Cygwin system. {{ sage }} lives in an isolated directory and does not interfere with
  your surrounding system. It ships together with everything necessary to develop {{ sage }}, the source
  code and all its standard dependencies.
 </div>



 <div class="txt large narrow bluebg round">
 <!--<a href="./src/">Download Source Code</a>-->
 <div class="txt border">
  <strong>The newest stable release is {{ version_src }}. 
  </strong>   
  <br/>
   {{ mirrors("src") }}
 </div>
 </div>

<div>&nbsp;</div>

 <div class="txt narrow">

  Please read the <a href="https://github.com/sagemath/sage/blob/master/README.md">README</a> and the 
  <a href="{{ docroot }}/html/en/installation/">installation guide</a> for more details, which also
  provides information on the installation prerequisites.

  <p>
    See also <a href="https://wiki.sagemath.org/ReleaseTours/sage-{{version_src}}">Release Tour for version {{version_src}}</a> and the <a href="changelogs/sage-{{version_src}}.txt">changelog</a>.<br />
  <p>
    You can <a href="https://github.com/sagemath/sage/">browse the main Sage repository on GitHub</a>.
    The <a href="https://github.com/sagemath">SageMath organization on GitHub</a>
    also hosts a number of other repositories.
  <p>
    Sage also makes use of numerous other open source <a href="https://doc.sagemath.org/html/en/reference/spkg/">software packages</a>, which are maintained separately.<br />

 </div>
{% endblock %}
