{% extends 'base.html' %}
{% set title = "Download Binaries for Apple Mac OSX" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}

 <h1 class="narrow">Download Binaries for Apple Mac OSX</h1>
 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>

 <div class="txt large bluebg round narrow">

 <div class="txt border">
  {{ mirrors("osx") }}
 </div>

 </div>

 <h2 class="narrow">Usage</h2>

 <div class="txt narrow">
  These binaries are for OS X. For more
  information <a href="./mirror/osx/README.txt">read the installation instructions</a>.
 </div>
{% endblock %}