{% extends 'download-tmpl.html' %}
{% set title = "Source Code Distribution (devel)" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}
<h1 class="narrow">Download source code distribution (devel)</h1>

<div class="narrow txt">
  <p>Thank you for your interest in {{ sage }}! Here you can download the complete source
    code for {{ sage }} to compile it on your own Linux, macOS, or Windows system (using WSL).</p>
  <p>This is the most recent <strong>development release</strong> (beta or release candidate).</p>
  <p>Downloading this source tarball gives you the same version of {{ sage }} as cloning
    <a href="https://github.com/sagemath/sage">the "develop" branch
      of the main Sage repository</a> on GitHub.
    It ships together with everything necessary to develop {{ sage }}, the source
    code, and all its standard dependencies.</p>
  </p>
  <p>Thanks to rigorous integration testing by the Release Manager,
    development releases are generally safe to use, but be aware that
    occasionally some breakage occurs.</p>
  <p>New development releases are published every 1 to 2 weeks.</p>

 <div class="txt large narrow bluebg round">
 <div class="txt border">
{#
  <strong>The latest development version is {{ version_devel }}
    released on {{ releasedate_devel }}. 
  </strong>
#}
  <br/>
   {{ mirrors("devel") }}
 </div>
 </div>
</div>
{% endblock %}