{% extends 'download-tmpl.html' %}
{% set title = "Development Release" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}
<div class="txt large narrow bluebg round border" style="font-size:200%; background: red; font-color: white;">
  Unstable release for development only.
  Do <strong>not</strong> use for your every day work.
</div>

 <div class="txt large narrow bluebg round">
 <div class="txt border">
{#
  <strong>The latest development version is {{ version_devel }}
    released on {{ releasedate_devel }}. 
  </strong>
#}
  <br/>
   {{ mirrors("devel") }}
 </div>
 </div>

<div>&nbsp;</div>

 <h2 class="narrow">Warning</h2>

 <div class="narrow txt">
  Here you can download the source code of the latest development release.
  This release is for development only and should <strong>not</strong> be used
  for your every day work.
 </div>
{% endblock %}