{% extends 'download-tmpl.html' %}
{% set title = "Packages (SPKG)" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}
 <h1 class="narrow">Packages (SPKG)</h1>

 <div class="narrow txt">
  {{ sage }} consists of a selected set of packages which are well tested and integrated into the {{ sage }}
  framework. Please have a look at the <a href="http://wiki.sagemath.org/Sage_Spkg_Tracking">{{ sage }}
  Wiki tracking SPKGs</a>. There is also a <a href="links-components.html">list of links of {{ sage }}
  components</a>.
 </div>

 <div class="narrow txt">
  <ul>
   <li><b><a href="packages/upstream">Upstream Packages (new Git layout)</a> (since version 6.0)</a></b></li>
   <li><a href="packages/standard/">Standard</a></li>
   <li><a href="packages/optional/">Optional</a></li>
   <li><a href="sagedb/">Huge</a></li>
   <li><a href="packages/experimental/">Experimental</a></li>
  </ul>
 </div>

<div class="narrow txt">
Please use one of the mirrors:
{{ mirrors("spkg") }}
</div>
{% endblock %}