{% extends 'download-tmpl.html' %}
{% set title = "Download Binaries for Microsoft Windows" %}
{% from "mirrorselector.html" import mirrors %}
{% set trademark = True %}

{% block content %}
 <h1 class="narrow">Download Binaries for Microsoft Windows</h1>
 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>

 <div class="narrow large txt bluebg round">

 <div class="txt border ">
  {{ mirrors("win") }}
 </div>
 </div>

 <h2 class="narrow">Usage</h2>
   <div class="txt narrow"> To run Sage on Microsoft Windows you need
      the following:<br>
      <ol>
      <li><a href="https://www.virtualbox.org/wiki/Downloads">VirtualBox</a>
      for Windows </li>
      <li>Download the "Sage" .ova file from one of the
      Download Mirrors</li>
      <li>Follow these <a href="http://wiki.sagemath.org/SageAppliance">additional instructions</a>.</li>
     </ol>
      The current VirtualBox solution provides you with an encapsulated
      and tested system. It allows to use the Sage notebook in your web
      browser with no noticeable speed loss compared to a native Linux
      install.<br>
      <br>
   </div>
   <h3 class="narrow">System requirements:</h3>
   <div class="txt narrow">
     <ul>
        <li>1 GB RAM</li>
        <li>7 GB free disk space</li>
      </ul>
    </div>

{% endblock %}