{% extends 'download-tmpl.html' %}
{% set title = "Source Code Distribution" %}
{% from "mirrorselector-src.html" import mirrors %}

{% block content %}
 <h1 class="narrow">Source Code Distribution</h1>

 <div class="txt large narrow bluebg round">
 <!--<a href="./src/">Download Source Code</a>-->
 <div class="txt border">
  <strong>The newest source code release is {{ version_src }}. 
  </strong>   
  <br/>
   {{ mirrors("src") }}
 </div>
 </div>

<div>&nbsp;</div>

 <div class="txt narrow bluebg round">
 <div class="center border">
  Contact us if you are interested in <strong>Older Versions</strong> of {{ sage }}
  <a href="contact.html">here</a>.
 </div>
 </div>

 <h2 class="narrow">Information</h2>

 <div class="narrow txt">
  Thank you for your interest in {{ sage }}! You can get the complete source for {{ sage }} to compile it on
  your own Linux or Mac OS X system. {{ sage }} lives in an isolated directory and does not interfere with
  your surrounding system. It ships together with everything necessary to develop {{ sage }}, the source
  code, all its dependencies and the complete changelog.
 </div>

 <div class="txt narrow">
  Short instructions:

  <ol>
   <li>Extract archive</li>

   <li>Start compiling: <span class="code">make</span></li>

   <li>Run {{ sage }}: <span class="code">./sage</span></li>

   <li>Upgrade to newer version later: <span class="code nowrap">./sage -upgrade</span></li>
  </ol>

  Please read the <a href="./mirror/src/README.txt">README.txt</a> and the 
  <a href="{{ docroot }}/html/en/installation/">installation guide</a> for more details. Note: On Linux systems
  like Debian/Ubuntu, you may have to install the <em>build essential</em> package, the 
  <em>m4</em> macro processor, and <em>dpkg-dev</em>:

  <p>
  <span class="code">sudo apt-get install build-essential m4 dpkg-dev</span><br />
  <p>

  There is a very high level <a href="./mirror/src/changelog.txt">changelog</a>.<br />
  <p>
  You can <a href=
  "http://git.sagemath.org/">browse all the
  tracked source code repositories</a> and see exactly what&#39;s going on, and who did what
  when.<br />
 </div>
{% endblock %}
