{% extends 'download-tmpl.html' %}
{% set title = "Download for Linux" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}
 <h1 class="narrow">Download Binaries for Linux</h1>

 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>


 <div class="txt large narrow bluebg round">

 <div class="txt border ">
  {{ mirrors("linux") }}
 </div>
 </div>

 <h2 class="narrow">Usage</h2>

 <div class="txt narrow">
  <ol>
   <li>Select the one that suits your setup and extract it in your file-browser by right clicking
   &quot;extract&quot; or on the command-line using: <span class="code nowrap">tar xvzf
   sage...tar.gz</span> or <span class="code nowrap">tar --lzma -xvf sage...tar.gz</span>.</li>

   <li>Run sage by calling the command: <span class="code">sage</span>.</li>
  </ol>
 </div>

 <h2 class="narrow">Distributions</h2>

 <div class="txt narrow">
 There is also a
 <a href="https://packages.debian.org/sid/sagemath">Debian SID package</a>
 available. Install {{ sage }} this way:<br/>
 <span class="code nowrap">sudo apt-get install sagemath</span>
 </div>

{#
 <div class="narrow">
  At the moment there are no distribution-specific packages available. Progress is being made for
  <a href="https://wiki.sagemath.org/devel/DebianSage"
      >Debian</a> 
       and <a href=
       "https://fedoraproject.org/wiki/SIGs/SciTech/SAGE"
      >Fedora</a>.
</div>
#}
{% endblock %}
