{% extends 'download-tmpl.html' %}
{% set title = "Download Binaries for Microsoft Windows" %}
{% from "mirrorselector.html" import mirrors %}
{% set trademark = True %}

{% block content %}
 <h1 class="narrow">Download Binaries for Microsoft Windows</h1>
 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>

 <div class="narrow large txt bluebg round">

 <div class="txt border ">
    <p><strong>Note: </strong> For <strong>Windows</strong> installer binaries see the <a href="https://github.com/sagemath/sage-windows/releases">GitHub releases page</a>.</p>
  {{ mirrors("win") }}
 </div>
 </div>

 <h2 class="narrow">Usage</h2>
   <div class="txt narrow">
      To run {{ sage }} on Microsoft Windows there are two options:
      <ul>
        <li>
          For {{ sage }} 8.0 and up a native binary installer is now available.
          To use the installer you will need:
          <ol>
            <li>A 64-bit version of Windows 7 or up; there is not currently a 32-bit build</li>
            <li>Roughly 5 GB of free disk space (plus 1 GB for the installer file itself)
            <li>Read these <a href="http://wiki.sagemath.org/SageAppliance">additional instructions</a>
          </ol>
        </li>
        <li>
          If you can't use the binary installer for some reason, or simply
          prefer the {{ sage }} VirtualBox appliance, you can us it with the following:
          <ol>
           <li><a href="./download-windows.html">Image of a {{ sage }} installation for virtualization</a></li>
           <li>Read these <a href="http://wiki.sagemath.org/SageAppliance">additional instructions</a>
          </ol>
          <p>
            The current VirtualBox solution provides you with an encapsulated
            and tested system. It allows to use the {{ sage }} notebook in your web
            browser with no noticable speed loss compared to a native Linux
            install.
          </p>
        </li>
      </ul>
   </div>

{% endblock %}
