{% extends 'download-tmpl.html' %}
{% set title = "Download for Linux" %}
{% from "mirrorselector.html" import mirrors %}

{% block content %}
 <h1 class="narrow">Download Binaries for Linux</h1>

 <div class="narrow txt small">
 Click <a href="./download.html">here for other systems</a>
 or <a href="./download-source.html">here to download source distribution</a>.
 </div>

<div class="narrow xlarge txt bluebg round">
SageMath used to provide pre-built binaries for several Linux flavors.
This has been discontinued, as most major Linux distributions have
up-to-date distribution packages providing SageMath.
</div>

{% endblock %}
