{% extends 'base.html' %}
{% set title = "Help and Support" %}

{% block header %}
<style type="text/css">
    li.c1 {list-style: none; display: inline}
</style>
{% endblock %}

{% block content %}

 <h1>Help and Support</h1>

<ul>
  <li><b style="font-size:110%"><a href="{{ docroot }}">{{ sage }} standard documentation</a></b></li>
  <ul>
    <li>For more translations <a href="#moretranslations">see here</a></li>
  </ul>
  <li><a href="#furtherResources">Further resources</a></li>
  <li><a href="./development.html#mailingList">Support and discussion groups</a></li>
  <li><a href="./help-uSage.html">u{{ sage }} User Groups</a></li>
</ul>

   <!-- {{ sage }} standard documentation -->
<h2><a name="SageStandardDoc">{{ sage }} standard documentation</a></h2>

<div class="normal justify bodypadding">
The 
<a href="{{ docroot }}/index.html">{{ sage }} standard documentation</a> consists of the following documents,
 in both HTML and PDF versions, and some translations of the standard documentation.
<br>

{#
<br>
<div style="text-align:center">
<b>
&rarr; <a href="{{ docroot }}/html/en/index.html">Read the online documentation.</a> &larr;
</b></div>
<br>
</div>
#}

<ul>
  <li><a href="{{ docroot }}/html/en/a_tour_of_sage/">A Tour of {{ sage }}</a>,
    <a href="{{ docroot }}/pdf/en/a_tour_of_sage/a_tour_of_sage.pdf">PDF</a> &mdash;
    a brief tour of some of {{ sage }}'s features</li>
  <ul>
    <li><a href="{{ docroot }}/html/fr/a_tour_of_sage/">{{ sage }} en quelques mots (Français)</a>,
      <a href="{{ docroot }}/pdf/fr/a_tour_of_sage/a_tour_of_sage.pdf">PDF</a></li>
    <li><a href="{{ docroot }}/html/de/a_tour_of_sage/">Ein Rundgang durch {{ sage }} (Deutsch)</a>,
      <a href="{{ docroot }}/pdf/de/a_tour_of_sage/a_tour_of_sage.pdf">PDF</a></li>
    <li><a href="{{ docroot }}/html/it/a_tour_of_sage/">Esplora {{ sage }} (Italiano)</a>,
      <a href="{{ docroot }}/pdf/it/a_tour_of_sage/a_tour_of_sage.pdf">PDF</a></li>
    <li><a href="{{ docroot }}/html/pt/a_tour_of_sage/">Uma Turnê pelo {{ sage }} (Português)</a>,
      <a href="{{ docroot }}/pdf/pt/a_tour_of_sage/a_tour_of_sage.pdf">PDF</a></li>
    <li><a href="{{ docroot }}/html/tr/a_tour_of_sage/">{{ sage }} Turu (Türk dili)</a>,
      <a href="{{ docroot }}/pdf/tr/a_tour_of_sage/a_tour_of_sage.pdf">PDF</a></li>
  </ul>

  <li>Official <a href="{{ docroot }}/html/en/tutorial/">Tutorial</a>
    {# (<a href="http://www.amazon.com/Sage-tutorial-version-3-4-Group/dp/1442141948/ref=sr_1_2?ie=UTF8&amp;s=books&amp;qid=1261010025&amp;sr=1-2">Printed &amp; Bound</a>), #}
    <a href="{{ docroot }}/pdf/en/tutorial/SageTutorial.pdf">PDF</a>
    &mdash; information for beginners, recommended
    <ul>
      <li><a href="{{ docroot }}/html/de/tutorial/">{{ sage }} Tutorial (Deutsch)</a>,
        <a href="{{ docroot }}/pdf/de/tutorial/SageTutorial-de.pdf">PDF</a></li>

      <li><a href="{{ docroot }}/html/fr/tutorial/">Tutoriel {{ sage }} (Français)</a>,
        <a href="{{ docroot }}/pdf/fr/tutorial/tutorial-fr.pdf">PDF</a></li>

      <li><a href="{{ docroot }}/html/ru/tutorial/">учебное пособие {{ sage }} (русский язык)</a>,
        <a href="{{ docroot }}/pdf/ru/tutorial/SageTutorial_ru.pdf">PDF</a></li>

    </ul>
  </li>
  
  <li><a href="{{ docroot }}/html/en/thematic_tutorials/">Thematic Tutorials</a>,
    <a href="{{ docroot }}/pdf/en/thematic_tutorials/thematic_tutorials.pdf">PDF</a>
    <ul>
      <li>Introduction to {{ sage }}</li>
      <ul>
    <li><a href="{{ docroot }}/html/en/prep/Logging-On.html">Logging on to a {{ sage }} Server and Creating a Worksheet (PREP)</a></li>
    <li><a href="{{ docroot }}/html/en/prep/Intro-Tutorial.html">Introductory {{ sage }} Tutorial (PREP)</a></li>
    <li><a href="{{ docroot }}/html/en/thematic_tutorials/tutorial-notebook-and-help-long.html">Tutorial: Using the {{ sage }} notebook, navigating the help system, first exercises</a></li>
    <li><a href="{{ docroot }}/html/en/tutorial/">{{ sage }}’s main tutorial</a></li>
         <li><a href="{{ docroot }}/html/de/thematische_anleitungen/sage_gymnasium.html">{{ sage }} thematische Anleitungen (Deutsch)</a>,
        <a href="{{ docroot }}/pdf/de/thematische_anleitungen/ThematischeAnleitungen-de.pdf">PDF</a></li>
      </ul>

      <li>Calculus and plotting</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/prep/Symbolics-and-Basic-Plotting.html">Tutorial: Symbolics and Plotting (PREP)</a></li>
	<li><a href="{{ docroot }}/html/en/prep/Calculus.html">Tutorial: Calculus (PREP)</a></li>
	<li><a href="{{ docroot }}/html/en/prep/Advanced-2DPlotting.html">Tutorial: Advanced-2D Plotting (PREP)</a></li>
      </ul>

      <li>Algebra</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/linear_programming.html">Linear Programming (Mixed Integer)</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/group_theory.html">Group Theory and {{ sage }}</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/lie.html">Lie Methods and Related Combinatorics in {{ sage }}</a></li>
      </ul>

      <li>Number Theory</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/numtheory_rsa.html">Number Theory and the RSA Public Key Cryptosystem</a></li>
	<li><a href="{{ docroot }}/html/en/reference/padics/sage/rings/padics/tutorial.html">Introduction to the p-adics</a></li>
      </ul>

      <li>Combinatorics</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/reference/combinat/sage/combinat/tutorial.html">Introduction to combinatorics in {{ sage }}</a></li>
      </ul>

      <li>Algebraic Combinatorics</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/reference/combinat/sage/combinat/sf/sf.html">Tutorial: Symmetric Functions</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/lie.html">Lie Methods and Related Combinatorics in {{ sage }}</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/sandpile.html">Abelian Sandpile Model</a></li>
      </ul>

      <li>Programming and Design</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/prep/Programming.html">Tutorial: {{ sage }} Introductory Programming (PREP)</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/tutorial-programming-python.html">Tutorial: Programming in Python and {{ sage }}</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/tutorial-comprehensions.html">Tutorial: Comprehensions, Iterators, and Iterables</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/tutorial-objects-and-classes.html">Tutorial: Objects and Classes in Python and {{ sage }}</a></li>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/functional_programming.html">Functional Programming for Mathematicians</a></li>
      </ul>

      <li>Modeling Mathematics on a computer</li>
      <ul>
	<li><a href="{{ docroot }}/html/en/thematic_tutorials/coercion_and_categories.html">How to implement new algebraic structures in {{ sage }}</a></li>
	<li><a href="{{ docroot }}/html/en/reference/categories/sage/categories/primer.html">Elements, parents, and categories in {{ sage }}: a (draft of) primer</a></li>
	<li><a href="{{ docroot }}/html/en/reference/categories/sage/categories/tutorial.html">Implementing a new parent: a (draft of) tutorial</a></li>
      </ul>
    </ul>
  </li>

  <li><a href="{{ docroot }}/html/en/faq/">FAQ</a>,
    <a href="{{ docroot }}/pdf/en/faq/faq.pdf">PDF</a> &mdash;
    frequently asked questions with answers</li>

  <li><a href="{{ docroot }}/html/en/reference/">Reference Manual</a>,
    <a href="{{ docroot }}/pdf/en/reference">PDF</a> &mdash;
    details about built-in functions</li>

  <li><a href="{{ docroot }}/html/en/installation">Installation Guide</a>,
    <a href="{{ docroot }}/pdf/en/installation/installation.pdf">PDF</a> &mdash;
    helps you install {{ sage }} (<a href="./download.html">download</a>)</li>

  <li><a href="{{ docroot }}/html/en/developer/">Developer's Guide</a>,
    <a href="{{ docroot }}/pdf/en/developer/developer.pdf">PDF</a> &mdash;
    guidelines for current and prospective {{ sage }} developers</li>

  <li><a href="{{ docroot }}/html/en/constructions/">Constructions</a>
    (<a href="http://www.lulu.com/product/paperback/sage-constructions/4089083">Printed &amp; Bound</a>),
    <a href="{{ docroot }}/pdf/en/constructions/constructions.pdf">PDF</a> &mdash;
    describes how to explain specific mathematical objects to {{ sage }}</li>

{#
  <li><a href="{{ docroot }}/html/en/numerical_sage/">Numerical {{ sage }}</a>,
    <a href="./pdf/en/numerical_sage/numerical_sage.pdf">PDF</a> &mdash;
    how to do numerical computing with {{ sage }}</li>

  <li><a href="{{ docroot }}/html/en/bordeaux_2008/">
      Explicit Methods in Number Theory</a>,
    <a href="./pdf/en/bordeaux_2008/bordeaux_2008.pdf">PDF</a> &mdash; 
    computing with number fields and modular forms</li>
#}
</ul>

<!-- Download the standard documentation in various formats -->
<!-- You can download the standard documentation. Multiple formats are
     available. -->
<div class="normal justify bodypadding">

<p>You can download the entire standard documentation as a compressed file:
<a href="{{ docroot }}#download">download</a>.
</p>

</li>

<!-- further resources -->
<h2><a name="furtherResources">Further resources</a></h2>
  <ul>
     <li id="moretranslations">More Translated Resources</li>
       <ul>
        <li><a href="./es/Introduccion_a_SAGE.pdf">Introduccion:
          Matemáticas Elementales con {{ sage }} (Español)</a></li>
        <li><a href="./es/Manual_SAGE_principiantes.pdf">Manual de {{ sage }}
	  para principiantes (Español)</a></li>
        <li><a href="./files/Sage_Persian_tutorial.pdf">Persian Tutorial (Farsi): آموزش فارسی (PDF)</a> 
          <a href="./files/Sage_Persian_tutorial.docx">DOCX</a>)</li>
        <li><a href="./files/introduccio-al-sage_Amoros2012.pdf">Introducci&#243; al SAGE</a>
          &mdash; mini tutorial in Catalan by Maria Bras Amor&#243;s</li>
     </ul>
  </ul>

  <ul>
     <li>More {{ sage }}-hosted resources</li>
       <ul>
        <li><a href="http://wiki.sagemath.org/quickref">Quick Reference Cards</a> &mdash;
          overview of  important functions</li>
        <li><a href="./help-irc.html">IRC help channel</a> &mdash;
            directly connects you to an online chat room</li>
        <li><a href="./help-video.html"><strong>Screencasts</strong></a> &mdash;
          videos explaining how {{ sage }} works</li>
        <li><a href="http://wiki.sagemath.org/faq"
          >FAQ: Frequently Asked Questions</a></li>
        <li><a href="./library-publications.html#books">Books</a> &mdash; a collection of
          online books explaining mathematics (calculus, linear algebra,
          number theory, etc.) using {{ sage }}</li>
        <li><a href="http://planet.sagemath.org/"
          >Planet {{ sage }} Blogs</a> &mdash; a collection of blogs by
          {{ sage }} users and developers</li>
        <li><a href="./search.html"><strong>Search</strong></a> &mdash; an
          online search interface indexing {{ sage }} documentation, discussion
          groups, various web resources, blogs and various other places on
          the web</li>
     </ul>
  </ul>

  <ul>
     <li>Contributed Thematic Tutorials</li>
       <ul>
        <li><a href="http://openwetware.org/wiki/Open_writing_projects/Sage_and_cython_a_brief_introduction"
          >{{ sage }} and Cython: A Brief Introduction</a>
          by Marshall Hampton &mdash; a brief introduction to {{ sage }} focusing on
          Cython</li>

        <li><a href="http://bitbucket.org/mvngu/numtheory-crypto/downloads/numtheory-crypto.pdf"
          >Number Theory and the RSA Public Key Cryptosystem</a>
          by Minh Van Nguyen &mdash; using {{ sage }} to study elementary number
          theory and the RSA public key cryptosystem</li>

        <li><a href="http://www.steinertriples.fr/ncohen/tut/LP/"
          >Linear Programming in {{ sage }}</a> by Nathann Cohen
          &mdash; There are many very good solvers around and they are now
          available in {{ sage }}.</li>

        <li><a href="http://www.steinertriples.fr/ncohen/tut/Graphs/"
          >{{ sage }} and Graph Theory</a> by Nathann Cohen
          &mdash; {{ sage }} will not solve your graph problems in polynomial time.
          But everything that is already written, YOU do not have to write it
          again!</li>

        <li><a href="http://sage.math.washington.edu/home/wdj/cookbook/coding-theory/sage-coding-cookbook.pdf"
          >Linear Error-Correcting Codes</a> by David Joyner and
          Robert Miller &mdash; introduces some of {{ sage }}'s functionality in the
          theory of error-correcting codes</li>

        <li><a href="http://buzzard.ups.edu/sage/sage-group-theory-primer.pdf"
          >Group Theory and {{ sage }}: A Primer</a> by Rob Beezer
          &mdash; a compilation of {{ sage }} commands useful for a student studying
          group theory for the first time</li>

     </ul>
  </ul>

  <ul>
     <li>General Tutorials and Books</li>
     <ul>
        <li><b><a href="http://www.gregorybard.com/SAGE.html">Gregory V. Bard - {{ sage }} for Undergraduates</a> (<a href="http://www.gregorybard.com/sage_for_undergraduates_color.pdf.zip">PDF</a>)</b> &mdash;
         detailed introduction into {{ sage }} for undergraduates and others, who simply want to learn {{ sage }}.
         Published by "The American Mathematical Society", 2014.</b></li>

        <li><a href="http://arachnoid.com/sage/">
            Exploring Mathematics with {{ sage }}</a> by Paul Lutus &mdash; overview
          of using {{ sage }} in various areas of applied mathematics</li>

        <li><a href="http://www-rohan.sdsu.edu/~mosulliv/Teaching/sdsu-sage-tutorial/index.html">{{ sage }} Tutorial</a> by Mike O'Sullivan, Ryan Rosenbaum, and  David Monarres</li>

        <li><a href="https://www.uam.es/personal_pdi/ciencias/pangulo/laboratorio/sage_for_newbies_v1.23.pdf"
          >{{ sage }} for Newbies</a> &mdash; book by T. Kosan
          <ul>
            <li>Spanish translation:
                <a href="./es/Manual_SAGE_principiantes.pdf">Manual de {{ sage }} para principiantes (Español)</a>
            </li>
     </ul>
     </li>
    </ul>
  </ul>

<div class="normal justify bodypadding">
<!-- Python resources -->
Understanding <a href="http://www.python.org">Python</a> is
very important for using the full power of {{ sage }}. Python is the interface and
primary programming language of {{ sage }}. Here are some external resources:
</div>

<ul>
  <li>
    <a href="http://en.wikibooks.org/wiki/Non-Programmer&#39;s_Tutorial_for_Python"
      >
      <strong>Non-Programmer's Tutorial for Python</strong></a> &mdash; 
    from Wikibooks, the open-content
    textbooks collection, offspring of Wikipedia and probably the
    easiest introduction of all</li>

  <li>
    <a href="http://docs.python.org/tut/"
      >Python Tutorial by Guido van Rossum</a> &mdash;
    written by the father of Python</li>

  <li>
    <a
       href="http://www.diveintopython.net/">Dive Into Python</a> &mdash; 
    maybe not so dry as the one above and better suited for beginners</li>

  <li><a href="http://greenteapress.com/thinkpython/">Python for Software Design</a>
      &mdash; How to Think Like a Computer Scientist by Allen B. Downey
  </li>

  <li>
    <a
       href="http://www.youtube.com/watch?v=bDgD9whDfEY">Google I/O: Painless
      Python Part 1</a> / 
    <a
       href="http://www.youtube.com/watch?v=y7vwZ20SDzc">Part 2</a> &mdash;
    talk introducing Python</li>

  <li>
    <a
       href="http://www.itmaybeahack.com/homepage/books/python.html">
      Building Skills in Python</a> &mdash; 
    suitable for people who are already comfortable with programming</li>
</ul>


<h2>Discussion groups</h2>

<ul>
  <li><a href="http://groups.google.com/group/sage-support">
      <strong>sage-support</strong></a> &mdash;
      this discussion group is for all sorts of <strong>general questions or problems</strong></li>

  <li><a href="http://groups.google.com/group/sage-edu">sage-edu</a> &mdash;
      this group discusses issues regarding {{ sage }} in education</li>

  <li><a href="./development.html#mailingList">development discussion groups</a></li>
</ul>

{% endblock %}
