{% extends 'base.html' %}
{% set title = "Help Mailing Lists" %}

{% block content %}

 <h1>{{ sage }} Discussion Groups</h1>

 <div class="txt bodypadding">
    The following mailing-lists are for general help around {{ sage }}.
    There are also <a href="development-groups.html">development mailing-lists</a>.
 </div>

 <table class="top wide">
  <colgroup>
   <col width="50%" />
   <col width="50%" />
  </colgroup>

  <tbody>
   <tr>
    <td class="leftpadding">
     <h2><a href="http://groups.google.com/group/sage-support/"
       >sage-support</a></h2>

     <div class="leftpadding txt">
      Post questions about how to use {{ sage }} to sage-support. This covers problems with installation,
      entering expressions and calculations and similar.
     </div>

     <ul>
      <li><a href="http://groups.google.com/group/sage-support/"
        >sage-support</a> – online</li>

      <li>
      If you have problems subscribing, <a href="./contact.html">contact us</a>.
      </li>
     </ul>
    </td>

    <td class="rightpadding">
     <h2><a href="http://groups.google.com/group/sage-edu/"
       >sage-edu</a></h2>

     <div class="rightpadding txt">
      Issues about {{ sage }} in education are discussed here.
     </div>

     <ul>
      <li><a href="http://groups.google.com/group/sage-edu/"
        >sage-edu</a> – online</li>

      <li>
      If you have problems subscribing, <a href="./contact.html">contact us</a>.
      </li>
     </ul>
    </td>
   </tr>

   <tr>
    <td class="leftpadding">
     <div id="supportfeed"></div>
    </td>

    <td class="rightpadding">
     <div id="edufeed"></div>
    </td>
   </tr>
   <tr>
    <td class="leftpadding">
     <h2><a href="http://groups.google.com/group/sage-algebra/"
       >sage-algebra</a></h2>

     <div class="leftpadding txt">
       About Algebra.
     </div>

     <ul>
      <li><a href="http://groups.google.com/group/sage-algebra/"
        >sage-algebra</a> – online</li>

      <li>
      If you have problems subscribing, <a href="./contact.html">contact us</a>.
      </li>
     </ul>
    </td>

    <td class="rightpadding">
      <h2><a href="https://sagemath.zulipchat.com/">Sage Zulip</a></h2>
      <div class="rightpadding txt">
        Chat with other {{ sage }} users and developers in real time.
      </div>
      <ul>
        <li><a href="https://sagemath.zulipchat.com/">Sage Zulip</a> – online</li>
        <li>
          If you have problems subscribing, <a href="./contact.html">contact us</a>.
        </li>
      </ul>
    </td>
   </tr>

   <tr>
    <td class="leftpadding">
     <div id="algebrafeed"></div>
    </td>

    <td class="rightpadding">
     <div id=""></div>
    </td>
   </tr>
  </tbody>
 </table>
<script type="text/javascript"
        src="http://www.google.com/jsapi?key=ABQIAAAA9l-aWy6wHEH5peWCry_l4hQm4J-jBIjYt60ld8MMTn6uhPOgVhSg6NCleXrEpyNFs6aDpgXODBd72w">
</script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
        type="text/javascript">
</script>
<script type="text/javascript">
 function initialize() {
 var feeds = [
  ["supportfeed", "http://groups.google.com/group/sage-support/feed/atom_v1_0_topics.xml"],
  ["edufeed", "http://groups.google.com/group/sage-edu/feed/atom_v1_0_topics.xml"],
  ["algebrafeed", "http://groups.google.com/group/sage-algebra/feed/atom_v1_0_topics.xml"]
 ];
 var options = {
  stacked : false,
  horizontal : false,
  title : "",
  numResults : 15
 }
 for (fidx in feeds) {
   var name = feeds[fidx][0];
   var feed = feeds[fidx][1];
   new GFdynamicFeedControl(feed, name, options);
 }
 }
 google.load('feeds', '1');
 google.setOnLoadCallback(initialize);
</script>
{% endblock %}