{% extends 'base.html' %}
{% set title = "Legal Notice" %}

{% block content %}
<h1 class="narrow">Legal Notice</h1>

<div class="narrow txt">
{% filter markdown %}
{{ sage }} Mathematical Software System ("{{ sage }}" from now on) is an open-source software project.

{{ sage }} is not operated by, sponsored by, endorsed by, or affiliated with SAGE Publications, Inc. in any way or manner. {{ sage }} does not publish academic and scholarly journals of any kind. We only reference and list some relevant ones.

{{ sage }} is not operated by, sponsored by, endorsed by, or affiliated with The {{ sage }} Group plc. {{ sage }} does not supply accounting and business management software.

{{ sage }} is not operated by, sponsored by, endorsed by, or affiliated with {{ sage }} Manufacturing. {{ sage }} does not manufacture or distribute sporting equipment.

{{ sage }} is not operated by, sponsored by, endorsed by, or affiliated with {{ sage }} Bionetworks.

{{ sage }} is not operated by, sponsored by, endorsed by, or affiliated with Gedeon Associates, the company behind "{{ sage }}, Software for
Engineering Modelling and Optimization".
{{ sage }} does not model and optimize stirling cycle engines and coolers, pulse-tube cryocoolers, and other types of cryocoolers.

All material on the {{ sage }} web-sites is covered under the terms of the Creative Commons Attribution 3.0 license. You are free to share, remix and make commercial use provided that you clearly attribute {{ sage }}. 

You also cannot buy herbs here; we don't sell any kind of product.
[Maybe Wikipedia helps?](http://en.wikipedia.org/wiki/Sage)
{% endfilter %}
</div>

<h2 class="narrow">Export Control Classification Number (ECCN)</h2>

<div class="narrow">
{% filter markdown %}
{{ sage }} doesn't have a formally reviewed ECCN.
Since everything of {{ sage }} and all of its components are open-sourced,
[ECCN 5D002](http://www.access.gpo.gov/bis/ear/txt/ccl5-pt2.txt)
fits best via the 
[TSU exception in EAR 740.13(e)](http://www.access.gpo.gov/bis/ear/txt/740.txt),
which applies to software containing or designed for use with encryption software that is publicly available as open source.
{% endfilter %}
</div>
{% endblock %}
