{% extends 'base.html' %}
{% set title = "Publications Citing " + sage %}

{% block content %}
  <h1>{{ title }}</h1>

<div class="normal justify bodypadding">
<p/>
Below is a list of publications that cite {{ sage }} and/or the {{ sage }}
cluster. This list is also available in
<a href="./files/bibliography-sage.bib">BibTeX</a> format. The publications
listed in each section are sorted in chronological order. Where two or more
items are published in the same year, these items are sorted alphabetically
by the authors' last names. See the section <a href="#CiteSage">Citing {{ sage }}</a>
for information on how to cite {{ sage }} and/or the {{ sage }} cluster in your publications.

<br><br>
See also the list of publications citing
<a href="./library-publications-combinat.html">{{ sage }}-Combinat</a>.
</div>

{% import 'publications-general.html' as pub %}

<h2>Articles</h2>

  <div class="small justify twocols bodypadding" id="list1" track="pub-sage">
  {{ pub.papers() }}
  </div>

<h2>Theses</h2>

  <div id="list2" class="small justify twocols bodypadding" track="pub-sage">
  {{ pub.thesis() }}
  </div>

<h2><a name="books"></a>Books</h2>

  <div id="list3" class="small justify twocols bodypadding" track="pub-sage">
  {{ pub.books() }}
  </div>

<h2>Preprints</h2>

  <div id="list4" class="small justify twocols bodypadding" track="pub-sage">
  {{ pub.preprints() }}
  </div>

<h2><a name="CiteSage">Citing {{ sage }}</a></h2>

  <div class="justify small bodypadding">
    <div class="txt">
      If you use {{ sage }} in a book, paper, website, etc., please
      <a href="../contact.html">contact us</a> about details of the
      publication, e.g. where it is published, provide a link to your
      publication. Please reference {{ sage }} as
      <a href="http://wiki.sagemath.org/Publications_using_SageMath">described
      here</a>.

      The preferred way to submit publication details is to provide them as
      a pull request on the <a href="https://github.com/sagemath/publications">dedicated GitHub repository</a>
      to  update the file bibliography-sage.bib.
    </div>

    <div class="txt">
      Also, be sure to find out which components of {{ sage }}, e.g. NumPy,
      PARI, GAP, Sage-Combinat, that your calculation uses and
      properly attribute those systems. If you are unsure, ask on the
      <a href=
      "http://groups.google.com/group/sage-support">sage-support</a>
      mailing list. Similarly, consider finding out who wrote the {{ sage }}
      code you are using and acknowledge them explicitly as well.
    </div>

    <div class="txt">
      If your work (book, paper, website, etc.) is supported by the
      {{ sage }} cluster, please <a href="../contact.html">contact
      us</a>. Please also acknowledge the grant that supports the
      purchase of the {{ sage }} cluster by adding the following acknowledgment
      to your work: National Science Foundation Grant No. DMS-0821725.
    </div>
  </div>
{% endblock %}
