{% extends 'base.html' %}
{% set title = "Library" %}

{% block content %}
 <h1 class="narrow">{{ sage }} Library</h1>

 <div class="narrow txt">
  This is a growing {{ sage }}-specific library collecting everything written and published for, about,
  using or explaining {{ sage }}.

  <ul>
   <li><a href="help.html"><strong>{{ sage }} Standard Documentation</strong></a> &mdash; the
     whole {{ sage }} documentation in HTML and PDF formats: installation, construction of statements, 
     reference manual, etc.</li>

   <li><a href="http://wiki.sagemath.org/DocumentationProject"><strong>Documentation
   Project</strong></a> — growing collection of Tutorials, Examples &amp; Howtos</li>

   <li><a href="http://wiki.sagemath.org/Talks"><strong>Talks</strong></a></li>

   <li><a href="library-publications.html#books">Books</a></li>

   <li><a href="library-stories.html">Testimonials, Success Stories and News Articles</a>
</li>

   <li><a href="http://wiki.sagemath.org/SAGE_in_the_News">{{ sage }} in the News</a></li>

   <li><a href="http://wiki.sagemath.org/quickref">Quick Reference Cards</a></li>

   <li><a href="library-publications.html">Publications</a> using {{ sage }}</li>

   <li><a href="library-marketing.html">Marketing</a> &mdash; Posters, Flyers, ...</li>

   <li><a href="library-press.html">Press Kit</a> &mdash; general information about the {{ sage }} project, key facts, history, ...</li>

   <li>Teaching Materials

    <ul>
     <li><a href="http://wiki.sagemath.org/Teaching_with_SAGE"><strong>Teaching with
     {{ sage }}</strong></a> — teaching materials and courses teaching {{ sage }}.</li>

     <li><a href="calctut/index.html">Calculus Tutorial</a> — explains Calculus in {{ sage }} by
     Elliott Brossard</li>

     <li><a href="http://www.math.usm.edu/sage/">Interactive Worksheets for Calculus I &amp; II</a>
     — explaining Calc I &amp; II with slides using {{ sage }} by John Perry.</li>
    </ul>
   </li>

   <li><a href="development-prize.html">Annual Spies {{ sage }} Development Prize</a></li>

   <li>{{ sage }} Magazine</li>
  </ul>
 </div>
{% endblock %}
