{% extends 'base.html' %}
{% set title = "Success Stories, Testimonials and News Articles" %}

{% block content %}

 <h1>Success Stories, Testimonials and News Articles</h1>

 <div class="txt padding">
  This is a collection of success stories, testimonials and news articles/blog postings about Sage.
  You can find more <a href="http://wiki.sagemath.org/SAGE_in_the_News">here</a>. If you want to
  share your story, please <a href="http://groups.google.com/group/sage-support/">tell us</a>.
 </div>

 <h2>Success Stories and Testimonials</h2>

 <table class="padding top stories">
  <colgroup>
   <col width="50%" />
   <col width="50%" />
  </colgroup>

  <tbody>
   <tr>


<td>


<div class="quote small">
My Experience with Sage:
Sage rocks!  I was able to do everything I'd done with Mathematica,
only better! </div>

     <div class="quoteautor xsmall">
<a href="http://copaseticflow.blogspot.de/2014/06/the-alcubierre-warp-drive-tophat.html">Hamilton Carter, 20140619</a>
     </div>

     <div class="txt">
      &#160;
     </div>

<div class="quote small">
Sage is one of the well designed approaches to blur the boundaries 
among being a user, developer and contributor in the open-source 
ecosystem. Probably I will be hanging around for a long time be it 
bugging, complaining, documenting, adding content and eventually 
digging into source codes ;) 
     </div>

     <div class="quoteautor xsmall">
<a href="http://groups.google.com/group/sage-support/browse_thread/thread/e4127be6d9616173/">Gökhan Sever, sage-support, 2010-01-25</a>
     </div>

     <div class="txt">
      &#160;
     </div>

<div class="quote small">
By the way,  I have lots of students who have really enjoyed learning
SAGE this semester.  It's great to come to class and see someone
working in a SAGE notebook, instead of surfing the web or reading
email.
</div><div class="quoteautor xsmall">
Ben Woodruff, 2009-12-12, email 
</div></td>

<td>
<div class="quote small">
From my point of view Sage definitely has *not* failed! I would not be able to do the computations I need
for my research on any other platform at this point (of course this could be possibly done, but with an enormous
effort). More and more people are interested in switching to Sage at least people with a focus in
combinatorics, representation theory, root systems, .... and are offering to organize Sage Days to learn
and start using and contributing to Sage. In fact, we just concluded Sage Days in India and there were
people interested in a variety of topics. From this point of view, Sage has gone far beyond any other
mathematical software system I know!
</div>
     <div class="quoteautor xsmall">
<a href="http://groups.google.com/d/msg/sage-devel/cAgG4qHFxz8/_HJJNtqW9uEJ">Anne Schilling, 20140822</a>
     </div>

     <div class="txt">
      &#160;
     </div>


<div class="quote small">
After typing in "ode_solve", the tab- 
completion guided me to the class "ode_solver", which also works like 
a charm.  This is the reason for my late reply: I was so glad to get 
everything working that I lost all track of time... <br/>
I know this is not the place for a panegyric on Sage, but I've been 
playing around with Sage for only a week and it is amazing.  I'm 
behind on all my work while I'm redoing all my code in Sage, and I 
even wrote a small differential forms package, all in one week :) 
<br/>Thanks a lot! 
</div><div class="quoteautor xsmall">
<a href="groups.google.com/group/sage-support/browse_thread/thread/806067af85f93902">Joris Vankerschaver, sage-support, 2010-04-21</a>
</div>

     <div class="txt"> &#160; </div>

<div class="quote small">
SAGE is a work of art! It has very clean syntax, extremely well
documented and the coding is very clean. An average python programmer
like myself could create new functions in SAGE. I've always wanted
something like MATLAB but the price tag is a bit well ... pricey for a
12 year old. SAGE fits the bill perfectly. Thank you so much for SAGE!
</div><div class="quoteautor xsmall">
12-year old Dhaivat Pandya, 2009-12-13
</div></td>
</tr><tr>

    <td>
     <div class="quote small">
I want to thank you, and the developers of the opensource-librarys which Sage is using, for their great work! 
Sage is easy to use and very powerful. And I like the server-client-principe behind it. <br/>
Go on with the great work, Sage motivated me to make the step from C to python in just some hours. 
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-support/browse_thread/thread/185c5bfd3918663a/"
           target="_blank">Patrick Hammer, 2009-09-11, sage-support</a>
     </div>

     <div class="txt">
      &#160;
     </div>
     
     <div class="quote small">
Working with the R
environment and especially the SEM package for R is not something I am
looking forward to after using Wolfram Mathematica and sagemath for a
while. I find these tools to be a lot more intuitive when coding as
well as providing better options for graphs and visualization.
     </div>

     <div class="quoteautor xsmall">
Dan-Erik, 2009-09-05, e-mail
     </div>
    </td>

    <td>
     <div class="quote small">
Thanks a lots for and for the instructions to insert a patch. I would
have not never thought it was so easy to insert a patch in Sage!!!!! You
save me a lot of time !!!
<br/>
And even the code inserted in the patch does not look to difficult... I
am looking forward to collaborating with Sage.
<br/>
Thanks a lot!
     </div>

     <div class="quoteautor xsmall">
 Jose Guzman, e-mail, 2009-07-27
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
I was able to compile sage-3.4 on the OLPC XO.  It took 3 days !!
[...] I am always amazed that sage incorporated so many different packages
so seamlessly.   In my little exercise with the XO, I studied sage-
spkg and some of
the spkg-install and setup files and am further impressed !!
<br/>
Thank you !!
     </div>

     <div class="quoteautor xsmall">
Elizabeth Dembart, e-mail, 2009-07-29
     </div>
    </td>
   </tr>

    <td>
     <div class="quote small">
      I&#39;m working on modeling the efficacy of a hypothetical infectious vaccine (like the live
      polio vaccine). I have lots of small coding chunks that makes the sage notebook great for
      working through each section of the problem. Sage including Sop and networkx has eliminated a
      lot of the tedium I would have had to churn through otherwise, while native plotting allows
      easy visualization.<br />
      An earlier implementation in Mathematica 6.0 was orders of magnitude slower for a simpler
      simulation. While neither implementation was optimized, my first pass in Python/Sage was much
      more effective, and easier to write and understand.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-devel/msg/5d9e9297014e5b35"
           target="_blank">Thomas Keller, 2008-07-16</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      I needed to do some lengthy calculations using the symbolic math capabilities of Sage. Using
      Python&#39;s built-in data structures, I could easily store partial results, which let me
      stop and restart my computations. Getting up to speed with Sage was easy since I already knew
      Python.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-devel/msg/240dfacd12bc04e3"
           target="_blank">Dan Drake, 2008-07-16</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      SAGE is doing remarkably well at keeping a balance between ease-of- use for beginners and
      high-end users.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-devel/msg/38cb807fd76c59a1"
           target="_blank">David Kohel, 2008-11-03</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      I have just used Sage for one day, and I was disappointed by this side- effect. But with such
      an outstanding support, I&#39;m now convinced it&#39;s the tool to use!
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://groups.google.com/group/sage-support/browse_thread/thread/23ee185c8f5c992d">PC,
      2009-07-25</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      Sage brought me back to using linux, perhaps permanently this time.  
     I only use windows for games these days.  I actually haven't used Sage very much recently.  
    I'm doing stock trading strategies and I was using R.  But every time I left R for a while and came back, 
    it seemed like i had to relearn it over again.  Sage helped me to see how much simpler just doing it in python is, 
   and I find that I only really need numpy and matplotlib with pyplot for what I'm doing, 
   mostly simple calculations on stock data.  Although it's nice to know Sage is there if I need it.
     </div>

     <div class="quoteautor xsmall">
      Robert Schmidt, e-mail, 2009-11-22
     </div>
    </td>

    <td>
     <div class="quote small">
      I am a PhD student of astrophysics (theory and observations of radio recombination lines) and
      recently started using web-based Sage to explore a a mathematical aspect of my topic. I have
      gotten more done on this topic using Sage than I thought possible...<br />
      As previous user of matlab and maple and a current user of scilab, I find Sage a great
      evolutionary step forward!
     </div>

     <div class="quoteautor xsmall">
      Jordan Alexander, 2009-07-04
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      Sorry for the noise - I realized this is utterly trivial. <br/>
      BTW, sage is one of the best tools I have ever used.  You guys have 
      done a huge service to the mathematics community. 
     </div>

     <div class="quoteautor xsmall">
     Jeff Stroomers, 
     <a href="http://groups.google.com/group/sage-support/browse_thread/thread/48c5c1b33c9ebcdc" target="_blank">
       sage-support</a>, 2009-12-25
     </div>

    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      I’ve spent about 10 minutes with [Sage] running and am VERY impressed. It is VERY useful at
      the level I teach at (Algebra II mostly), but has power well beyond calculus.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://floodgate.net/blog/2008/09/19/sage-math/"
           target="_blank">floodgate, 2008-09-19</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      The crucial part that makes me a Sage user is the ability to use Sage from simple Python
      script. This makes it easy to keep all my user code in version control and manage it with
      programming tools.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#22, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      Take the elliptic curve E:y^2=x^3-34790720*x+78984748304. This elliptic curve has CM by the
      ring of integer of the quadratic field Q(sqrt(-163)).<br />
      Compute:

      <ol>
       <li>P(x) the 163-th division polynomial. Then we have that this polynomial is of degree
       13284.</li>

       <li>Factorization P(x): I expect that the factorization over Z[x] of P(x) is of the form
       P(x)=g(x)*h(x) where deg(g)=81 and deg(h)=13203.</li>

       <li>Then I should build the number field Q(z)=Q[x]/h(x).</li>

       <li>Check if y^2=z^3-34790720*z+78984748304 over Q(z). Take y.</li>

       <li>Build the number field Q(z,y) and check if it is Galois and/or Abelian.</li>
      </ol><br />
      SAGE was able to factorize my polynomial and recognize if an element over a field of degree
      81 was an square! It was something close to a miracle! And the best thing is that I obtained
      what I was expecting!
     </div>

     <div class="quoteautor xsmall">
      Enrique Gonzalez Jimenez, e-mail
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      The model I am reimplementing and extending was written in a dialect of BASIC, QuickBASIC I
      think, in the late 80s and carefully backed up onto now-unreadable 5 1/4&quot; floppies.
      After playing around with writing the program in Scilab, I reviewed my methodology and
      realised I wanted to have something that is more reproducable in the future with regards test
      runs and results. NetCDF support is available with Python. Rather than building my own Python
      development environment I remembered a colleague had talked about Sage. The model need to
      write as well as read NetCDF files, so I am building NetCDF and pycdf packages for Sage.
     </div>

     <div class="quoteautor xsmall">
      Anthony David, 2009-05-30
     </div>
    </td>

    <td>
     <div class="quote small">
      In my opinion, SAGE&#39;s notebook is the real killer feature, which I don&#39;t recall to
      have seen in any other (commercial or not) software. I mean, this is the only scientific
      program that I&#39;ve found, allowing such an easy collaborative job within local networks,
      something that is not comparable to any kind of subversioning software or stuff like that.
      The only idea that I can access my data from abroad (if needed) by setting up a SAGE server
      makes me happy. Moreover, the nice interface is valuable as well, like the presentation of
      results in latex format.<br />
      I know that interfaces are not really scientists&#39; job, but having a good one is a real
      step ahead. And plot interactivity is a one million dollar feature for people who deal with
      design and system performance evaluation.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-devel/browse_thread/thread/91c424ccb670ed4b"
           target="_blank">Maurizio Granato, 2009-02-23</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small code">
      &gt;&gt; 3D interactivity. Here are a few simple 
      &gt;&gt; examples from Ondrej&#39;s site
      &gt;&gt; that I made from some mlab examples: 
      &gt;&gt; <a href=
      "http://nb.hpfem.org/home/pub/16"
           target="_blank">http://nb.hpfem.org/home/pub/16</a>

      &gt; Awesome!! Thanks, yes, the sage
           notebook is awesome!
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://groups.google.com/group/sage-devel/browse_thread/thread/fd54f64ba789f028/d551cdc28c5008ba"
           target="_blank">Prabhu Ramachandran, sage-devel, 2009-03-08</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      While I have not yet used your software in a critical way, I will, and am very impressed and
      appreciative of what you have created with Sage. &#160;I look forward to supporting your
      project in the future. [...]<br />
      Your team is developing a very professional product, and one whose time has come.<br />
      Sincerely,<br />
      -Frank
     </div>

     <div class="quoteautor xsmall">
      <a href="http://www.math.tamu.edu/~frank.sottile/">Frank Sottile, via E-Mail, 2009-06</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      The fact it is an open-source alternative to Mathematica. I work as an engineering contractor
      and need to submit work to my clients. Sending them Mathematica notebooks and saying
      &quot;buy a copy of Mathematica to look at them&quot; really does not work. I find it
      annoying Mathematica charges even more in the UK than in the USA (about 50% more), does not
      update the Unix versions as often as the Windows ones (despite charging more). Overall,
      Wolfram Research are in some ways Sage&#39;s best friend!
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#19, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      It&#39;s absolutely like just the most awesome thing ever. A *Python* based front-end to
      *Free Software* science &amp; math packages including both a scriptable shell *ipython*, a
      *web-based* front-end and security and collaboration built-in from the start, easy-to-teach,
      easy-to-optimize, scalable, latex &amp; bibtex integration, soon it will write your papers
      for you. ZOMGWTFBBQ!!
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#13, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      Sage has the broadest range, by far, of any mathematics software system I have used. I really
      like having Python as the primary programming language, especially as it makes it easy to
      incorporate other small programs I have lying around. Finally, introspection and
      tab-completion rock. Despite it&#39;s rough edges, it has become the tool of choice for my
      research, even when it might make more sense to use Magma or Mathematica.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#56, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      It does not cost $2000 or even $150 for academic version. Community is very helpful, most
      questions can be resolved in 24 hours and when there are bugs, they are fixed quite fast as
      well. It works under any system in the same way through a browser. It is much more pleasant
      to write actual programs for Sage then, for example, Maple, because of the chosen [Python]
      language.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#49, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      I really really love the &quot;playground&quot; aspect of Sage. That part is great, great,
      great, great, great. A big mathematical playground :-)
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#34, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      The use of a regular programming language as a scripting engine (especially such a good one
      as Python), notebook interface, good exact linear algebra package, that is platform agnostic
      and open source.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#59, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      A lot of things! I guess the best thing is to be able to use one language only, and a very
      good one, to call all these other lovely programs like GAP, pari, Singular, etc... Python is
      simply much more powerful than the scripting languages used by other algebra packages, and of
      course it is very easy to learn.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#63, Sage Survey 2008</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      It is a vastly better &quot;overall&quot; system to use than anything else. Python for all
      its quirks is a real language that I can be highly productive in. The notebook is incredibly
      useful in practice. The tight integration with and support of Cython is amazing.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#72, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      1. The open, friendly, thriving development community: I get a LOT of information just by
      googling the discussion groups.<br />
      2. The wide number of packages included in the Sage umbrella.<br />
      3. The fact that it uses a standard programming language and allows me to interface with lots
      of different packages without having to learn the language of each separately.<br />
      <br />
      I personally think that Sage is a major milestone for Mathematics. I applaud Prof. Stein and
      the numerous other volunteers who have made Sage possible. Thank you!!! Thank you all!!! And
      thank you to the maintainers of all the packages that go into Sage! I know that many of them
      have labored, often unfunded, in relative obscurity to make mathematics better for all of us.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#67, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      It&#39;s free and it uses Python. The system is so comprehensive, that I almost always find
      what I need in SAGE for my work. Many thanks to your team. You guys have built a dependent
      and respectable tool. I find myself using it more and more all the time. Keep up the A+ work.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#73, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      The whole concept - PERFECT for education!<br />
      I teach secondary math, and this year I am going to systematically integrate the use of
      Python/Sage in my classes. I am going to make it a standard that we express our thinking in a
      computational language whenever appropriate.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#87, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      It is often unexpectedly fast.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#93, Sage Survey 2008</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      The notebook interface has some killer features. I love that it saves revisions of my
      documents with 0 effort. I haven&#39;t actually shared any documents yet, but I&#39;m excited
      about how easy I expect it will be to show stuff to my collaborators. Tab completion and the
      &quot;function?&quot; [help] feature are great. I&#39;m really impressed that interact seems
      to be so far along so soon after Wolfram introduced Manipulate. I haven&#39;t used interact
      much yet, but I&#39;ve found Manipulate to be very helpful for wrapping my head around
      certain problems. The community and the attitude of Sage are very encouraging. Seems like a
      good balance of pragmatism and principles.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#95, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      I love the speed, and how it finally is starting to bring everything together. I love that it
      uses python so I don&#39;t have to use a new language. I love the idea of being able to
      compile everything to make it run faster. I love that I can call matlab scripts, or maple,
      etc... easily that is great. I love the marriage of programming and algebraic math problem
      solving.<br />
      Keep up the good work. I can&#39;t wait until this is the only program I use for all of my
      research and programming needs. The potential is amazing, really.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#96, Sage Survey 2008</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      Wraps most things a biologist could ever want for various problems, be it analytical
      modeling, simulations, or data analysis.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#112, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      The basic approach &quot;standing on the toes of giants&quot; and &quot;not reinventing the
      wheel&quot; is very promising. I like open source very much - that way i can learn from the
      code that other people wrote. I love Cython - combining nice syntax with considerable speed.
      Also the society is very responsive.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#133, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      Versatility, open nature, bright perspective<br />
      you guys rock<br />
      thank you<br />
      and never ever drop the project<br />
      I will try to find $one million to support you!
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#144, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      I like the freedom to experiment and the flexibility to use the right tool for what I want to
      do. I also love the notebook interface, it makes writing self documenting code easy and
      allows me to communicate what I am doing to other people.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#157, Sage Survey 2008</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      The fact that Sage is open source make it transparent to see how the calculations were made.
      The commercial systems are like a black box, not knowing exactly how the calculations were
      made is just not acceptable when you are doing research.
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://spreadsheets.google.com/pub?key=pCwvGVwSMxTwmv0Iwns-Pfw&amp;output=html&amp;gid=2&amp;single=true"
           target="_blank">#185, Sage Survey 2008</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      In teaching:<br />
      I used SAGE for some sections of a differential equations course I was teaching last fall.
      Wasn&#39;t sure if the students would just &quot;take the hit&quot; and refuse to learn SAGE
      so I made the assignments worth very little and very easy. Also, I made extra assignments for
      extra credit.<br />
      It turned out not only did most do the assignment but a lot more than I expected did the
      extra credit ones too and say that they liked SAGE and its philosophy.<br />
      I would call it a success in teaching.<br />
      <br />
      In research:<br />
      I wrote some time ago a procedure for computing Duursma zeta functions of a linear
      error-correcting code. AFAIK, no other program does this (not GUAVA nor MAGMA, ...). These
      zeta functions are very similar to the zeta function of a curve (they have a functional
      equation, a &quot;Riemann hypothesis&quot;, etc), except that no one knows why the
      &quot;Riemann hypothesis&quot; doesn&#39;t always hold. There is a conjecture that it holds
      for a certain &quot;extremal&quot; class of codes, so maybe the RH holds for &quot;good&quot;
      or &quot;optimal&quot; codes (since optimal codes are sometimes extremal)?<br />
      A year or 2 ago, I found an example of a formally self-dual with optimal parameters which
      violates the RH.<br />
      I would call that a success in research.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-edu/msg/c7c55b879ceecae0"
           target="_blank">David Joyner, 2008-07-15</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      Why Sage is useful for me.<br />
      <br />
      I have a program that I do for my master thesis, it&#39;s some finite elements method +
      electronic structure calculations [on] some very fast Solaris boxes. I just remember I gave
      up installing scipy+umfpack on some old Debian boxes in Munich, so I just installed Sage
      instead. — [If one] of the aims of Sage is to be a viable alternative to Matlab, so
      that&#39;s about it.<br />
      Sage Solaris port +1!<br />
      <br />
      [Maybe] I&#39;ll be teaching some undergrad calculus stuff in a year or two and so I was
      thinking which programs I&#39;d use and the constraint will probably be Windows.<br />
      Installing python+sympy in Windows is not convenient — it&#39;s about 10 clicks with mouse
      and it installs somewhere to C:\Python2.5 by default and I don&#39;t understand Windows much
      but I just get the feeling that it messes up with the registry as well and I don&#39;t like
      this at all.<br />
      So, Sage Windows port +1 as well!
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-devel/msg/61db92c119171740"
           target="_blank">Ondrej Certik, 2008-07-22</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      You guys are awesome, I ported my code to Sage in maybe a week, and added multi-processing
      today. Now I&#39;m working all 8 cores, using a real programming language, and getting
      super-high-precision calculations... incredible!
     </div>

     <div class="quoteautor xsmall">
      <a href="../help-irc.html">#sage-support</a> IRC channel, 2008-12-11
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      Project:<br />
      Computation of cohomology rings of finite p-groups with coefficients in GF(p)<br />
      How Sage and its components were used:

      <ul>
       <li>I use Gap to compute certain elementary abelian subgroups.</li>

       <li>Due to Cython, i can use C-programs of David Green for computing minimal
       resolutions.</li>

       <li>Cython is a very nice python-like programming language, in which I created classes for
       cochains, chain maps, cohomology rings etc.</li>

       <li>In order to find a minimal generating set and a minimal set of relations for a
       cohomology ring, i need Gröbner Basis computations in graded commutative rings (or simply
       &quot;commutative&quot;, in characteristic 2); Singular does that job.</li>
      </ul>Success story:

      <ul>
       <li>The Z/2 cohomology rings of all 267 groups of order 64 were known before, but with other
       software required a computation time of several days. Our programs based on Sage only need
       45 minutes on a 2.3 GHz CPU.</li>

       <li>Previously, the computation of the Z/2 cohomology rings of the 2328 groups of order 128
       was out of reach. With our programs, a complete computation was possible. It took about two
       months of computation time on 4 CPUs with 2 GHz.</li>

       <li>We present our results (also including all but 9 groups of order 243 and one group of
       order 1024) <a href="http://users.minet.uni-jena.de/~king/cohomology/">here</a>.</li>
      </ul>General and personal experience:

      <ul>
       <li>After learning a few days, wrapping the C-programs was surprisingly easy.</li>

       <li>Writing Cython-code is fun!</li>

       <li>Communication with Singular via an ASCII interface was painful until i found some tricks
       to reduce the traffic.</li>

       <li>When problems occurred, the Sage community was very responsive (Thank you!)</li>
      </ul>
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-devel/msg/cba6f751578883a0"
           target="_blank">Simon King, 2008-07-15</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      Hi. There is a simple saying: ““If you can count to ten you can count to infinity really” to
      motivate six year olds. Let’s now move on by motivating all ages using SAGE. I just give
      examples and not lines of code, mainly because to promote the usage of SAGE and to encourage
      others to check the results found.<br />
      1. After counting we learn our youngsters to use &quot;*&quot;,&quot;+&quot;,&quot;-&quot;.
      Not always easy to find motivating exercises. The following question proved to be fun for
      either an individual or a group. Especially in cases where people had to wait for one hour or
      longer, e.g. bus trip et cetera.<br />
      a. Easy start. Take the for instance the numbers 3,5,7,8. The challenge is: make as many
      numbers as possible (i) starting from 0, (ii) you may use each number only once, and (iii)
      using the three operands &quot;*&quot;,&quot;+&quot;,&quot;-&quot;.<br />
      The amazing fact is that you can produce consecutive numbers in the range 0..65. The
      following output comes from a SAGE notebook: 1 = 3+5-7 , 2 = 3+7-8 , 3 = 3 , 4 = 3+8-7 , 5 =
      5 , 6 = 3+8-5 , 7 = 7 , 8 = 8 , 9 = 3+5-7+8 , [...]<br />
      b. Less easy. Is 3,5,7,8 the best 4-tuple? Two ways to answer this using SAGE:<br />
      i. All (reasonable) combinations of 4 different numbers<br />
      ii. Hard: Prove it by (a) produce symbolic expressions – there are many! – and (b) just try
      to solve them.<br />
      c. You can play around by also allowing other operands like “/”, “^”, “mod or % in SAGE”, or
      you can allow also negative numbers and look for the longest consecutive row. In the case of
      3,5,7,8 and the three operands &quot;*&quot;,&quot;+&quot;,&quot;-&quot; I found 94
      consecutive numbers.<br />
      d. If you add “^” (so 2^3=8), you find that the 4-tuple 2,3,7,8 delivers a nice row of
      numbers 0..75 as the following SAGE output shows:<br />
      1 = 2**3-7 , 2 = 2 , 3 = 3 , 4 = 2+3+7-8 , 5 = 2*3+7-8 , 6 = 2*3 , 7 = 7 , 8 = 8 , 9 =
      2**3-7+8 , [...]<br />
      e. Allowing negative numbers, I found that 103 consecutive numbers can be produced. Such an
      exercise proved to be fun with motivated adults and some good drinks.<br />
      2. Playing around with four number is relatively easy. More difficult is the 5-tuple
      question, even in the simple case by only allowing the operands
      &quot;*&quot;,&quot;+&quot;,&quot;-&quot;. The reason is mainly because the number of
      possibilities ‘explodes’.<br />
      To conclude: SAGE helped me to find relative simple exercises and questions to motivate
      people of all ages (i) to do exercises “using pen and paper”, and (ii) to become aware of the
      depth of even simple mathematics. I learned from SAGE that “mathematics on a computer is even
      better then gaming”.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://groups.google.com/group/sage-edu/msg/588d50f07568a00f"
           target="_blank">Roland, sage-edu, 2008-08-13</a>
     </div>
    </td>
   </tr><!--
<tr><td>
<div class="quote small">
</div>
<div class="quoteautor xsmall">
</div>
</td><td>
<div class="quote small">
</div>
<div class="quoteautor xsmall">
</div>

</td></tr>
-->
  </tbody>
 </table>

 <h2>News Articles</h2>

 <table class="padding top stories">
  <colgroup>
   <col width="50%" />
   <col width="50%" />
  </colgroup>

  <tbody>
   <tr>
    <td>
     <div class="quote small">
      The Good:<br />
      I believe I already made it clear which are the things Sage excels at, but a short summing up
      would be in order at this point. First, it&#39;s a completely capable IDE that can help you
      in various ways; secondly, it has an intuitive interface and, last but certainly not least,
      it comes with a well written documentation.<br />
      <br />
      The Bad:<br />
      Other than the fact that its most advanced functions are truly inaccessible to someone who
      doesn&#39;t have the right academic background, I didn&#39;t find anything not to my liking.
      May I remind you that I tried as best as I could to view this software from the perspective
      of someone who had at least a general idea of the matter.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://www.softpedia.com/reviews/linux/Sage-3-0-2-Review-Review-93004.shtml"
           target="_blank">Softpedia: Sage 3.0.2 Review, by Mihai Mircea, 2008-09-04</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      Math Geek Software Smackdown: Sage v. Mathematica<br />
      A movement is afoot among some mathematicians in academia to make the switch from expensive,
      closed-source calculation software to free, open-source alternatives.<br />
      [I]n [William] Stein&#39;s eyes, [...] [t]ransparency is essential in the peer review process
      for new theorems, and since most of the major math programs are closed source, there&#39;s no
      way for researchers to study the code used to get a result. Open-source software makes that
      process totally transparent.
     </div>

     <div class="quoteautor xsmall">
      <a target="_blank"
           href="http://blog.wired.com/monkeybites/2007/12/math-geek-softw.html">Michael Calore,
           WIRED Blog, 2007-12-07</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      Sage picked as the Hot Spot of the month in November 2008 by mathforum.org:<br />
      <a target="_blank"
           href="http://mathforum.org/library/hotspots.html"><img src="./pix/smhotspot.jpg"
           border="1" /></a>
     </div>

     <div class="quoteautor xsmall">
      <a href="http://mathforum.org"
           target="_blank">mathforum.org, Nov 2008</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      One aspect of Sage I find particularly intriguing is the &quot;notebook&quot; interface,
      which runs in a web browser. Factoring a polynomial feels just like shopping at Amazon.
      Moreover, the interface is exactly the same whether the browser is connected to a locally
      installed copy of Sage or to a remote server. (There&#39;s a public Sage server at <a href=
      "http://www.sagenb.org/">www.sagenb.org</a>). This is surely the way of the future.
     </div>

     <div class="quoteautor xsmall">
      <a target="_blank"
           href="http://www.americanscientist.org/issues/pub/calculemus/8">American Scientist,
           Sep-Oct 2008, Vol. 96(5), p. 362</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      I actually really felt positive about this whole example as I really learned a lot more.
      [...] The more that I worked in [S]age the more comfortable I felt as well. The geographic
      projection issue is still there, as well as some indexing speed issues, but overall, I was
      really impressed with the Sage/SciPy/NumPy experience today.<br />
      Overall I feel that more of a transition was made for me last night/today. Which was great
      timing as a co-worker actually called me and asked if I knew of any free replacements for
      Matlab...
     </div>

     <div class="quoteautor xsmall">
      <a href=
      "http://xenocoder.wordpress.com/2008/07/24/trying-sage-mathematical-software-part-ii-running-trials-2-eof/"
           target="_blank">Xenocoder, 2008-07-24</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      A new open source mathematics program is looking to push aside commercial software commonly
      used in mathematics education, in large government laboratories and in math-intensive
      research. The program&#39;s backers say the software, called Sage, can do anything from
      mapping a 12-dimensional object to calculating rainfall patterns under global warming.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://science.slashdot.org/article.pl?sid=07/12/08/1350258">coondoggie, Slashdot,
      2007-12-08</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      The real power of Sage appears to lie in its ability to handle programs written in Python,
      again untying math students and researchers from proprietary interfaces and languages.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://education.zdnet.com/?p=1416"
           target="_blank">Christopher Dawson, ZDnet, 2007-12-07</a>
     </div>

     <div class="txt">
      &#160;
     </div>

     <div class="quote small">
      &quot;I think we can be better than the commercial versions,&quot; he [William Stein] said.
      &quot;I really want it to be the best mathematical software in the world.&quot;
     </div>

     <div class="quoteautor xsmall">
      <a href="http://uwnews.org/uweek/uweekarticle.asp?articleID=38415"
           target="_blank">UWeek article, University of Washington, 2007-12-06</a>
     </div>
    </td>
   </tr>

   <tr>
    <td>
     <div class="quote small">
      SAGE (United States) put forward by William Stein<br />
      SAGE makes it possible to study and use a huge range of mathematics, including algebra,
      calculus, number theory, graph theory, exact linear algebra, etc.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://www.tropheesdulibre.com/IMG/pdf/Palmares_trophees_2007_En.pdf"
           target="_blank">Sage winner of the 2007 &quot;Trophées du Libre&quot;, category
           &quot;Scientific Software&quot;</a>
     </div>
    </td>

    <td>
     <div class="quote small">
      Open-source software, which distributes programs and all their underlying code for free, is
      increasingly used in everyday applications. [...] But until recently, nobody had done the
      same for the everyday tools used in mathematics.<br />
      Sage can take the place of commercial software commonly used in mathematics education, in
      large government laboratories and in math-intensive research. The program can do anything
      from mapping a 12-dimensional object to calculating rainfall patterns under global warming.
     </div>

     <div class="quoteautor xsmall">
      <a href="http://www.sciencedaily.com/releases/2007/12/071206145213.htm"
           target="_blank">Science Daily, 2007-12-7</a>
     </div>
    </td>
   </tr>
  </tbody>
 </table>
{% endblock %}