{% extends 'base.html' %}
{% set title = "Publications Citing Sage-Combinat" %}

{% block content %}
  <h1>Publications Citing Sage-Combinat</h1>

<div class="normal justify bodypadding">
<a href="http://combinat.sagemath.org">{{ sage }}-Combinat</a> is a software
project whose mission statement is to improve the open source
mathematical system {{ sage }} as an extensible toolbox for computer
exploration in (algebraic) combinatorics, and foster code sharing
between researchers in this area. {{ sage }}-Combinat is the reincarnation
in {{ sage }} of <a href="http://mupad-combinat.sourceforge.net/">MuPAD-Combinat</a>;
see the <a href="./library-publications-mupad.html">list of publications</a>
citing the latter.
<p/>
Below is a list of publications citing {{ sage }}-Combinat. This list
is also available in <a href="./files/Sage-Combinat.bib">BibTeX</a>
format. The publications listed in each section are sorted in
chronological order. Where two or more items are published in the same
year, these items are sorted alphabetically by the authors' last
names.
</div>


{% import 'publications-combinat.html' as pub %}

<h2>Articles</h2>

  <div class="small justify twocols bodypadding" id="list1" track="pub-combinat">
  {{ pub.papers() }}
  </div>

<h2>Theses</h2>

  <div id="list2" class="small justify twocols bodypadding" track="pub-combinat">
  {{ pub.thesis() }}
  </div>

<h2><a name="books"></a>Books</h2>

  <div id="list3" class="small justify twocols bodypadding" track="pub-combinat">
  {{ pub.books() }}
  </div>

<h2>Preprints</h2>

  <div id="list4" class="small justify twocols bodypadding" track="pub-combinat">
  {{ pub.preprints() }}
  </div>


  <h2>Citing Sage-Combinat</h2>

  <div class="justify small bodypadding">
    <div class="txt">
      If you use Sage-Combinat in a book, paper, website, etc., please
      email the <a href="../contact.html">webmaster</a> and the
      <a href="http://groups.google.com/group/sage-combinat-devel">
	Sage-Combinat team</a>. Please reference Sage-Combinat as
      <a href="http://wiki.sagemath.org/combinat/CiteSageCombinat">described
      here</a>.

      The preferred way to submit publication details is to provide them as
      a pull request on the <a href="https://github.com/sagemath/publications">dedicated GitHub repository</a>
      to  update the file Sage-Combinat.bib.
    </div>

    <div class="txt">
      Also, be sure to find out which components of {{ sage }}, e.g. NumPy,
      PARI, GAP, that your calculation uses and properly attribute
      those systems. If you are unsure, ask on the
      <a href=
      "http://groups.google.com/group/sage-support">sage-support</a>
      mailing list. Similarly, consider finding out who wrote the {{ sage }}
      code you are using and acknowledge them explicitly as well.
    </div>
  </div>
{% endblock %}
