{% extends 'base.html' %}
{% set title = "Components" %}

{% block content %}
<h1>Components</h1>

<div class="bodypadding">
  <a href="https://doc.sagemath.org/html/en/reference/spkg/">These software packages are used by {{ sage }}</a>.
</div>

<div class="bodypadding">
    The installation scripts of the {{ sage }} distribution will download the necessary
    package archives automatically from one of the {{ sage }} mirrors.
</div>

<div class="bodypadding">
  Something missing or outdated?
  Create a Trac ticket for changing the information in build/pkgs.
</div>
{% endblock %}
