{% extends 'base.html' %}
{% set title = "Components" %}

{% block content %}
<h1>Components</h1>

<div class="bodypadding">These software packages are used by {{ sage }}.
    Go to the <a href="./download-packages.html">Download Packages</a>
    page to get them if they are not already part of your {{ sage }} installation.
</div>

<ol>
{% for spkg in spkgs %}
<li>
    <a href="{{ spkg.url }}">{{ spkg.name }}</a>: {{ spkg.descr }}
</li>
{% endfor %}
</ol>

<div class="center">
    Something missing? <a href="https://github.com/sagemath/website">Make a ticket</a> or a pull request for <a href="https://github.com/sagemath/website/blob/master/conf/packages.yaml">packages.yaml</a>.
</div>
{% endblock %}
