{% extends 'base.html' %}
{% set title = "Components" %}

{% block content %}
<h1>Components</h1>

<div class="bodypadding">These software packages are used by Sage.
    Go to the <a href="./download-packages.html">Download Packages</a>
    page to get them if they are not already part of your Sage installation.
</div>

<!-- BEGIN COMPONENT LIST -->
<ol>
<li><a target="_blank" href="http://math-atlas.sourceforge.net">ATLAS</a>: Automatically Tuned Linear Algebra Software</li>
<li><a target="_blank" href="http://www.hpl.hp.com/personal/Hans_Boehm/gc/">boehm_gc</a>: The Boehm-Demers-Weiser conservative garbage collector</li>
<li><a target="_blank" href="http://www.boost.org">Boost</a>: Free peer-reviewed portable C++ source libraries</li>
<li><a target="_blank" href="http://www.bzip.org">bzip2</a>: High-quality data compressor</li>
<li><a target="_blank" href="http://www.ifor.math.ethz.ch/~fukuda/cdd_home/">cddlib</a>: Double description method of Motzkin et al.</li>
<li><a target="_blank" href="http://www.moshier.net">Cephes</a>: Cephes mathematical library</li>
<li><a target="_blank" href="http://users.tkk.fi/pat/cliquer.html">Cliquer</a>: Routines for clique searching</li>
<li><a target="_blank" href="http://www.math.rwth-aachen.de/~Frank.Luebeck/data/ConwayPol/index.html">conway_polynomials</a>: Frank L&uuml;beck's tables of Conway polynomials over finite fields</li>
<li><a target="_blank" href="http://abel.ee.ucla.edu/cvxopt/">CVXOPT</a>: Convex optimization, linear programming, least squares, etc.</li>
<li><a target="_blank" href="http://www.cython.org">Cython</a>: C-Extensions for Python</li>
<li><a target="_blank" href="http://docutils.sourceforge.net">Docutils</a>: Open-source text processing system for processing plaintext documentation into useful formats, such as HTML or LaTeX</li>
<li><a target="_blank" href="http://ecls.sourceforge.net">ECL</a>: Embeddable Common-Lisp, an implementation of the Common Lisp language as defined by the ANSI X3J13 specification</li>
<li><a target="_blank" href="http://www.warwick.ac.uk/staff/J.E.Cremona/mwrank/index.html">eclib</a>: John Cremona's programs for enumerating and computing with elliptic curves defined over the rational numbers</li>
<li><a target="_blank" href="http://www.warwick.ac.uk/~masgaj/ftp/data/">elliptic_curves</a>: Cremona's mini tables of elliptic curves</li>
<li><a target="_blank" href="http://linalg.org/projects/fflas-ffpack">FFLAS-FFPACK</a>: A LGPL-2.1+ source code library for dense linear algebra over word-size finite fields.</li>
<li><a target="_blank" href="http://www.flintlib.org">FLINT</a>: Fast Library for Number Theory</li>
<li><a target="_blank" href="http://www.friedspace.com/QS/">flintqs</a>: William Hart's highly optimized multi-polynomial quadratic sieve for integer factorization</li>
<li><a target="_blank" href="http://perso.ens-lyon.fr/damien.stehle/index.html#software">fplll</a>: Euclidean lattice reduction</li>
<li><a target="_blank" href="http://freetype.sourceforge.net/index2.html">FreeType</a>: A free, high-quality, and portable font engine</li>
<li><a target="_blank" href="http://www.gap-system.org">GAP</a>: Groups, Algorithms, Programming - a system for computational discrete algebra</li>
<li><a target="_blank" href="http://gcc.gnu.org/">gcc</a>: GCC, the GNU Compiler Collection</li>
<li><a target="_blank" href="http://www.libgd.org">GD</a>: Dynamic graphics generation tool</li>
<li><a target="_blank" href="http://newcenturycomputers.net/projects/gdmodule.html">gdmodule</a>: A Python interface to the GD library</li>
<li><a target="_blank" href="http://www.math.u-bordeaux.fr/~liu/G2R/">genus2reduction</a>: Curve data computation</li>
<li><a target="_blank" href="http://gf2x.gforge.inria.fr/">GF2X</a>: a C/C++ software package containing routines for fast arithmetic in GF(2)[x] (multiplication, squaring, GCD) and searching for irreducible/primitive trinomials.</li>
<li><a target="_blank" href="http://www.math.tu-berlin.de/~jensen/software/gfan/gfan.html">Gfan</a>: Gr&ouml;bner fans and tropical varieties</li>
<li><a target="_blank" href="http://ljk.imag.fr/CASYS/LOGICIELS/givaro/">Givaro</a>: C++ library for arithmetic and algebraic computations</li>
<li><a target="_blank" href="http://www.gnu.org/software/glpk/glpk.html">GLPK</a>: GNU Linear Programming Kit</li>
<li><a target="_blank" href="https://gforge.inria.fr/projects/ecm/">GMP-ECM</a>: Elliptic curve method for integer factorization</li>
<li><a target="_blank" href="http://www.multiprecision.org/">GNU MPC</a>: Gnu Mpc is a C library for the arithmetic of complex numbers with arbitrarily high precision and correct rounding of the result.</li>
<li><a target="_blank" href="http://savannah.gnu.org/projects/patch/">GNU patch</a>: Applies diffs and patches to files.</li>
<li><a target="_blank" href="http://good.math.iastate.edu/grout/graphs/">graphs</a>: A database of combinatorial graphs</li>
<li><a target="_blank" href="http://www.gnu.org/software/gsl/">GSL</a>: The GNU Scientific Library</li>
<li><a target="_blank" href="http://www.cs.uwaterloo.ca/~astorjoh/iml.html">IML</a>: Integer Matrix Library</li>
<li><a target="_blank" href="http://ipython.scipy.org">IPython</a>: Interactive computing environment with an enhanced interactive Python shell</li>
<li><a target="_blank" href="http://jinja.pocoo.org">Jinja2</a>: State of the art, general purpose template engine; awesome version</li>
<li><a target="_blank" href="http://jmol.sourceforge.net">Jmol</a>: Java viewer for chemical structures in 3D</li>
<li><a target="_blank" href="http://www.math.union.edu/~dpvc/jsMath/">jsMath</a>: JavaScript implementation of LaTeX</li>
<li><a target="_blank" href="http://pmmac03.math.uwaterloo.ca/~mrubinst/L_function_public/CODE/">lcalc</a>: Michael Rubinstein's L-function calculator</li>
<li><a target="_blank" href="https://bitbucket.org/vbraun/libgap">LibGAP</a>: LibGAP is essentially a fork of the upstream GAP kernel.</li>
<li><a target="_blank" href="http://www.gnu.org/software/libiconv/">libiconv</a>: A library to enable different languages with different characters to be handled properly</li>
<li><a target="_blank" href="http://www.libpng.org/pub/png/libpng.html">libpng</a>: Bitmap image support</li>
<li><a target="_blank" href="http://www.linalg.org">LinBox</a>: C++ template library for exact, high-performance linear algebra computation with dense, sparse, and structured matrices over the integers and over finite fields</li>
<li><a target="_blank" href="http://math.rutgers.edu/~asbuch/lrcalc/">lrcalc</a>: Littlewood-Richardson Calculator </li>
<li><a target="_blank" href="http://m4ri.sagemath.org">M4RI</a>: A library for fast arithmetic with dense matrices over GF(2)</li>
<li><a target="_blank" href="http://m4ri.sagemath.org">M4RI(e)</a>: A library for fast arithmetic with dense matrices over GF(2^e)</li>
<li><a target="_blank" href="http://matplotlib.sourceforge.net">matplotlib</a>: Python plotting library which produces publication quality figures in a variety of hardcopy formats and interactive environments across platforms</li>
<li><a target="_blank" href="http://maxima.sourceforge.net">Maxima</a>: System for manipulating symbolic and numerical expressions</li>
<li><a target="_blank" href="http://mercurial.selenic.com">Mercurial</a>: Free, distributed source control management tool</li>
<li><a target="_blank" href="http://perso.ens-lyon.fr/nathalie.revol/software.html">MPFI</a>: Multiple precision interval arithmetic library based on MPFR</li>
<li><a target="_blank" href="http://www.mpfr.org">MPFR</a>: C library for multiple-precision floating-point computations with correct rounding</li>
<li><a target="_blank" href="http://www.mpir.org">MPIR</a>: Multiple Precision Integers and Rationals</li>
<li><a target="_blank" href="http://mpmath.org/">mpmath</a>: Pure Python library for multiprecision floating-point arithmetic</li>
<li><a target="_blank" href="http://www.warwick.ac.uk/staff/J.E.Cremona/mwrank/">mwrank</a>: Program for computing Mordell-Weil groups of elliptic curves over Q via 2-descent. Since November 2007 mwrank has formed part of the eclib package</li>
<li><a target="_blank" href="http://invisible-island.net/ncurses">ncurses</a>: a library of functions that manage an application's display on character-cell terminals (e.g., VT100)</li>
<li><a target="_blank" href="http://networkx.lanl.gov">NetworkX</a>: Python package for the creation, manipulation, and study of the structure, dynamics, and functions of complex networks</li>
<li><a target="_blank" href="http://www.shoup.net/ntl/">NTL</a>: A library for doing number theory</li>
<li><a target="_blank" href="http://numpy.scipy.org">NumPy</a>: Package for scientific computing with Python</li>
<li><a target="_blank" href="http://hep.itp.tuwien.ac.at/~kreuzer/CY/CYpalp.html">PALP</a>: A package for analyzing lattice polytopes</li>
<li><a target="_blank" href="http://pari.math.u-bordeaux.fr">PARI/GP</a>: computer algebra system for fast computations in number theory</li>
<li><a target="_blank" href="http://www.noah.org/wiki/Pexpect">Pexpect</a>: Pure Python module that makes Python a better tool for controlling and automating other programs</li>
<li><a target="_blank" href="http://www.pythonware.com/library/">PIL</a>: Python Imaging Library</li>
<li><a target="_blank" href="http://polybori.sourceforge.net">PolyBoRi</a>: Polynomials over Boolean Rings</li>
<li>polytopes_db: Reflexive Polytopes Databases that include lists of 2- and 3-dimensional reflexive polytopes</li>
<li><a target="_blank" href="http://bugseng.com/products/ppl/">PPL</a>: The Parma Polyhedra Library (PPL) provides numerical abstractions especially targeted at applications in the field of analysis and verification of complex systems.</li>
<li><a target="_blank" href="http://www.dlitz.net/software/pycrypto/">PyCrypto</a>: The Python Cryptography Toolkit</li>
<li><a target="_blank" href="http://pygments.org">Pygments</a>: Generic syntax highlighter</li>
<li><a target="_blank" href="http://pynac.org">Pynac</a>: Symbolic computation with Python objects</li>
<li><a target="_blank" href="http://www.python.org">Python</a>: The Python programming language</li>
<li><a target="_blank" href="http://www.r-project.org">R</a>: A free software environment for statistical computing and graphics</li>
<li><a target="_blank" href="http://www.mathe2.uni-bayreuth.de/stoll/programs/">Ratpoints</a>: Find rational points on hyperelliptic curves</li>
<li><a target="_blank" href="http://tiswww.case.edu/php/chet/readline/rltop.html">Readline</a>: The GNU Readline library provides a set of functions for use by applications that allow users to edit command lines as they are typed in</li>
<li><a target="_blank" href="http://rpy.sourceforge.net">RPy</a>: Simple and efficient access to R from Python</li>
<li><a target="_blank" href="http://rpy.sourceforge.net/rpy2.html">RPy2</a>: provides a low-level interface to R, a proposed high-level interface, including wrappers to graphical libraries, as well as R-like structures and functions.</li>
<li><a target="_blank" href="http://www.math.ucf.edu/~reid/Rubik/optimal_solver.html">Rubik</a>: Optimal Rubik's cube solver</li>
<li><a target="_blank" href="http://nb.sagemath.org">SageNB</a>: The Sage Notebook server</li>
<li><a target="_blank" href="http://bitbucket.org/ddrake/sagetex">SageTeX</a>: The SageTeX package allows you to embed code, results of computations, and plots from the Sage mathematics software suite into LaTeX documents</li>
<li><a target="_blank" href="http://www.scipy.org">SciPy</a>: Scientific tools for Python</li>
<li><a target="_blank" href="http://www.scons.org">SCons</a>: An open source software construction tool</li>
<li><a target="_blank" href="http://pypi.python.org/pypi/setuptools/">setuptools</a>: Download, build, install, upgrade, and uninstall Python packages -- easily!</li>
<li><a target="_blank" href="http://www.singular.uni-kl.de">Singular</a>: Computer algebra system for polynomial computations, with special emphasis on commutative and non-commutative algebra, algebraic geometry, and singularity theory</li>
<li><a target="_blank" href="http://sphinx.pocoo.org">Sphinx</a>: A tool that makes it easy to create intelligent and beautiful documentation</li>
<li><a target="_blank" href="http://www.sqlalchemy.org">SQLAlchemy</a>: Python SQL toolkit and Object Relational Mapper that gives application developers the full power and flexibility of SQL</li>
<li><a target="_blank" href="http://www.sqlite.org">SQLite</a>: Software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine</li>
<li><a target="_blank" href="http://www.algorithm.uni-bayreuth.de/en/research/SYMMETRICA/">Symmetrica</a>:  Collection of C routines for representation theory</li>
<li>SYMPOW: Package to compute special values of symmetric power elliptic curve L-functions</li>
<li><a target="_blank" href="http://code.google.com/p/sympy/">SymPy</a>: Python library for symbolic mathematics</li>
<li><a target="_blank" href="http://jedi.ks.uiuc.edu/~johns/raytracer/">Tachyon</a>: Parallel/multiprocessor ray tracing system</li>
<li><a target="_blank" href="http://www.zlib.net">zlib</a>: Data compression library</li>
<li><a target="_blank" href="http://cims.nyu.edu/~harvey/code/zn_poly/">zn_poly</a>: C library for polynomial arithmetic in Z/nZ[x]</li>
</ol>
<!-- END COMPONENT LIST -->

<div class="center">
Something missing? Email the <a {{ webmaster_href }}">webmaster</a>.
</div>
{% endblock %}