{% extends 'base.html' %}
{% set title = "SageNB vs. SageMathCloud" %}

{% block content %}
<div class="narrow">
<h1>SageNB vs. SageMathCloud</h1>

<div>
Sage offsers
<a href="https://cloud.sagemath.com/">a new online service</a>
for running Sage computations online.
It has been redesigned from the ground up to be much more reliable, 
sustain higher load and offer a lot more features.
</div>

<h2>Decide Below</h2>
<ul style="font-size: 120%">
<li><b>Previous: <a href="http://www.sagenb.org/">Sage Notebook</a></b><br/>
    Contains your your old account and data.</li>

<li><b>New &amp; Improved: <a href="https://cloud.sagemath.com/">Sagemath Cloud</a></b><br/>
    Where you can import existing *.sws Notebook files into this new service.
</ul>

<h2>New Chrome Extension</h2>
<div>Install the
<a href="https://chrome.google.com/webstore/detail/the-sagemath-cloud/eocdndagganmilahaiclppjigemcinmb">new Chrome Extension for Sagemath Cloud</a>.
</div>

<h2>Existing Accounts</h2>
<div>
To transfer existing *.sws files to the new Sagemath Cloud service,
download the notebook files from the old service and import them into a new project.
</div>

</div>
{% endblock %}
