{% extends 'base.html' %}
{% set title = "Tour" %}

{% block content %}
 <h1 class="narrow">Sage Feature Tour</h1>

 <div class="narrow txt">
Sage
is built out of nearly 
<a href="./links-components.html">100 open-source packages</a> and features a unified
interface.
Sage can be used to study elementary and advanced, pure
and applied mathematics. This includes a huge range of mathematics,
including basic algebra, calculus, elementary to very advanced number
theory, cryptography, numerical computation, commutative algebra,
group theory, combinatorics, graph theory, exact linear algebra and
much more.
It combines 
<a href="./links-components.html">various software packages</a> 
and seamlessly
integrates their functionality into a common experience.  It is 
<a href="./library-stories.html">well-suited</a>
for education and research.
</div>

 <div class="narrow txt">
The user interface is a
notebook in a web browser or the command line. Using the notebook,
Sage connects either locally to your own Sage installation or to a
Sage server on the network. Inside the Sage notebook you can create
embedded graphics, beautifully typeset mathematical expressions, add
and delete input, and share your work across the network.
 </div>

 <div class="narrow txt">
  The following showcase presents some of Sage&#39;s capabilities, screenshots and gives you an
  overall impression of what Sage is. The examples show the lines of code in Sage on the left side,
  accompanied by an explanation on the right. They only show the very basic concepts of how Sage
  works. Please refer to the <a href="./help.html">documentation material</a> for more detailed
  explanations or <a href="./library.html">visit the library</a> to see Sage in action.
 </div>

 <div class="narrow txt">
  <ul>

<li><a href="./help-video.html"><strong>Video Introduction</strong> to Sage by William Stein</a> &mdash; first video of several explaining Sage, better than a bunch of screenshots...</a></li>

   <li><a href="./tour-quickstart.html">Quickstart with Sage</a> — explains basic concepts and
   gives you an impression of what Sage is.</li>

   <li><a href="./tour-graphics.html">Sage Graphics</a> — shows examples of useful plots and visualizations.</li>

   <li><a href="./tour-research.html">Sage in Research</a> — presents features useful for higher
   mathematics.</li>
 <li><a href="./tour-benchmarks.html">Sage Benchmarks</a> &mdash; compares speed or memory usage of Sage with other systems.</li>
  </ul>
 </div>

 <h3 class="narrow">Documentation: <a href="http://www.sagemath.org/doc/tutorial/tour.html">A Guided Tour</a></h3>

 <div class="narrow txt">
   <ul>
   <li><a href="http://www.sagemath.org/doc/tutorial/interactive_shell.html">The interactive Shell</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_algebra.html">Basic Algebra and Calculus</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_plotting.html">Plotting, 2D and 3D</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_rings.html">Basic Rings</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_polynomial.html">Univariate and Multivariate Polynomials</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_linalg.html">Linear Algebra (Vector, Matrix, ...)</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_groups.html">Finite Groups</a></li>
   <li><a href="http://www.sagemath.org/doc/tutorial/tour_advanced.html">Advanced Mathematics in Sage</a></li>
   </ul>
 </div>
 
 <h3 class="narrow">More about Sage</h3>

 <div class="narrow txt">
  <ul>
   <li><a href="./library-stories.html">Testimonials, Success Stories and News</a> — read what
   others write about Sage.</li>

   <li><a href="http://www.flickr.com/photos/sagescreenshots/sets/72157603532209437/"
      target="_blank">Screenshots</a> — they give an impression how a Sage notebook looks
      like.</li>

   <li><a href="http://wiki.sagemath.org/pics">Pictures</a> — collection of images drawn by
   Sage.</li>

   <li><a href="http://wiki.sagemath.org/interact">Interact</a> — examples of Sage&#39;s
   interactive drawing capabilities.</li>
  </ul>

  <div class="center">
   <a href="http://wiki.sagemath.org/pics"><img src="./pix/hypotrochoid.gif" /></a>
  </div>
 </div>
{% endblock %}