{% extends 'base.html' %}
{% set title = "Tour - Education" %}

{% block content %}
 <h1>Sage in Education</h1>

 <h3>Interact</h3>

 <div class="txt narrow justify">
  <em>Interact</em> provides an interactive tool to dynamically visualize the impact of parameters
  on calculations. This is done in a very general way using the basic functionality of Python.
  Therefore nearly every possible dependency could be shown. The following animation shows a slider
  on top, which can be dragged in the real case - the plot is then updated accordingly. -
     <a href="http://wiki.sagemath.org/interact">see wiki</a> or
     the <a href="http://interact.sagemath.org">Interact Website</a> for more examples</a>.
 </div>

 <div class="txt center">
  <a href="http://wiki.sagemath.org/interact#head-1f5673c4b3c918cc4e08755a4fed9a9c54ceb266"
      ><img src="./pix/interact_ani_sage.gif"
       alt="interact animation in Sage"
       height="501"
       width="700" /></a>
 </div>
{% endblock %}